---
title: Aptible::Blog
layout: application.hbs
section: Company
---

<div class="container main-content">
  <div class="post-index">
    <div class="row section">
      <div class="col-sm-12">
        {{#each pages}}
          {{#is data.section "Blog"}}
            {{> post_excerpt}}
          {{/is}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
