body.enclave header {
  overflow: hidden;
}

.enclave-hero {
  background-image: url(/images/section-dividers/angle-bg-left.svg),
                    url(/images/grid-bg-fade.png),
                    linear-gradient(180deg, #172231 0%, #172231 20%, #421832 100%);
  background-position: -5px bottom, 180% center, center center;
  background-repeat: no-repeat;
  background-size: contain, auto, auto;
  margin: 0;
  padding-bottom: 150px;
  @media screen and (max-width: 900px) {
    background-position: center bottom, center center;
    .grid--2up-flex {
      display: block;
    }
    .grid-item {
      padding: 0;
    }
  }
  .signup-cta__incentive {
    position: relative;
    z-index: 3;
    a {
      cursor: pointer;
      line-height: 1.5;
    }
  }
}

.enclave-hero__subtitle {
  color: $sky-blue;
  font-size: 16px;
  font-weight: $semibold;
  margin-bottom: 20px;
}

.enclave-hero__title {
  color: $white;
  font-size: 44px;
  font-weight: $semibold;
  @media screen and (max-width: $tablet-portrait) {
    font-size: 8vw;
  }
}

.enclave-hero__summary {
  color: $sky-blue;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

.enclave-hero .home-hero__quotes {
  margin-top: 20px;
}

.enclave-hero__terminal {
  position: absolute;
  left: calc(50% + 60px);
  width: 50%;
  z-index: 10;
  transform: translateY(-300px);
  pre {
    height: 300px;
  }
  @media screen and (max-width: $nav-break) {
    display: none;
  }
}

.meet-enclave-title {
  color: $light-blue;
  font-size: 26px;
  font-weight: $semibold;
  &::after { display: none; }
}

.meet-enclave {
  padding: 0;
  position: relative;
}

.deploy-now {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 100px;
  .subtitle {
    margin-bottom: 60px;
  }
  .signup-cta__incentives {
    margin-bottom: 70px;
  }
}

.meet-enclave__copy {
  float: right;
  width: calc(33% - 25px);
  @media screen and (max-width: $tablet-landscape) {
    margin: 30px;
    width: calc(100% - 60px);
  }
}

.enclave-features {
  @media screen and (max-width: $tablet-portrait) {
    .grid-collapse {
      margin-left: 0;
      margin-right: $grid-gutter;
      width: 100%;
    }
  }
}

.enclave-feature {
  min-height: 0;
}

.enclave-feature__title {
  color: $dark-blue-steel;
  font-size: 16px;
  font-weight: $semibold;
  margin-bottom: 1em;
  line-height: 1.5;
  &::after { display: none; }
}

.enclave-feature__summary {
  color: $light-blue-gray;
  font-weight: $light;
  font-size: 16px;
}

.enclave-demo {
  text-align: center;
  padding-bottom: 0;
  padding-top: 100px;
  .heading__title--centered, .heading__summary {
    width: 500px;
    margin: 0 auto;
  }
  .heading__title--centered {
    color: $light-blue;
    font-size: 30px;
    font-weight: $semibold;
    margin-bottom: 40px;
  }
  .heading__summary {
    color: $sky-blue;
    font-size: 20px;
    font-weight: $light;
    margin-bottom: 50px;
  }
}

.developers-first--no-overlap {
  .guides-intro {
    margin-bottom: 50px;
    margin-top: 50px;
    transform: translateY(0);
  }
}

.actions {
  @media screen and (max-width: $tablet-landscape) {
    text-align: right;
  }
}

.enclave__demo-app {
  background-image: url(/images/enclave-dashboard.png);
  background-repeat: no-repeat;
  background-position: 55vw center;
  background-size: contain;
  margin: 50px 0 50px 30px;
  padding: 100px 0;
  @media screen and (min-width: 1440px) {
    background-position: 900px center;
  }
  @media screen and (max-width: 1500px) {
    .grid-container {
      padding-right: 0;
    }
  }
  @media screen and (max-width: $tablet-landscape) {
    background-image: none;
    margin-left: 0;
    .grid-container {
      padding: 0 20px;
    }
    .grid-item {
      background-image: none;
      text-align: center;
      margin-left: 0;
      padding-right: 20px;
    }
  }
}

.security-and-compliance {
  padding-top: 140px;
  .subtitle {
    margin-bottom: 65px;
  }
  .grid-item {
    margin-bottom: 50px;
    padding-bottom: 0;
  }
}
.deploy-now {
  .subtitle {
    margin-bottom: 65px;
  }
}

.deploy-now__terminal {
  margin: 0 auto;
  max-width: 780px;
  .highlight {
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    padding-bottom: 50px;
    height: 300px;
  }
}

.enclave-orchestration {

}

.enclave-security-controls {
  padding-top: 100px;
  padding-bottom: 100px;
  .ssh-bastion {
    margin-bottom: 30px;
  }
  .subtitle {
    max-width: 500px;
    margin-bottom: 60px;
  }
}

.enclave__container-orchestration-devops-automation {
  background-image: linear-gradient(45deg, #63183D 0%, #63183D 0%, #63183D 1%, #29384F 42%, #1B283C 86%, #307AD1 100%);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.10);
  padding-top: 100px;

  .img-card--app-deployment {
    .apps__traffic {
      display: none;
    }
  }

  @media screen and (max-width: 1150px) {
    .img-card--app-deployment {
      width: 100%;
      max-width: none;
      > div {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @media screen and (max-width: $tablet-portrait) {
    .backups__db-lines { display: none; }
  }
}

.img-card__image--free svg {
  position: absolute;
}

.img-card--app-deployment svg {
  transform: translate(-130px, -90px);
  @media screen and (max-width: $tablet-portrait) {
    transform: translate(-130px, -20px);
  }
  @media screen and (max-width: 500px) {
    transform: translate(-130px, 0);
  }
}

.img-card--database-management svg {
  transform: translateX(30px);
  z-index: 1;
}

.img-card--automated-backups svg {
  transform: translate(-300px, -50px);
}

.enclave-carousel-hero {
  background-image: url(/images/grid-bg-fade.png),
                    linear-gradient(180deg, #172231 0%, #172231 20%, #421832 100%);
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 100px;
  .grid-item {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.enclave__support {
  padding-bottom: 50px;
  padding-top: 100px;
  .grid--2up-flex {
    align-items: flex-start;
  }
}

.enclave__trusted-by {
  .grid-item--adjacent {
    padding-top: 80px;
  }
  @media screen and (max-width: $tablet-portrait) {
    .title {
      padding-top: 50px;
    }
  }
}

.enclave__trusted-by__actions {
  transform: translateY(34px);
}

.enclave__aws-comparison {
  padding-top: 100px;
  .grid-container {
    text-align: center;
  }
}
.enclave__aws-comparison__actions {
  margin: 0 auto;
  transform: translateY(32px);
}
