---
layout: landing-page.hbs

title: Our Customers

customer_testimonials:
  -
    logo: /pages/assets/customers/pager-sm.png
    quote: |
      Aptible provides us a robust and secure platform to build our technology
      on. It's alleviated pain points with HIPAA compliance and saved us tons of
      money and time.
    author: Sameer Khanna, VP of Engineering, Pager

  -
    logo: /pages/assets/customers/aidin.png
    quote: |
      Aptible provides infrastructure software we’ve come to rely on every day.
      They've played a significant role in our appeal and ability to take on new
      clients—both in our sales process and technical integration process.
    author: James Dempsey, Lead Developer, AidIn

  -
    logo: /pages/assets/customers/policygenius.png
    quote: |
      Aptible takes the pain out of HIPAA compliance. We saved a huge amount of
      time and money, and avoided risk by partnering with them.
    author: Ian Yamey, CTO, PolicyGenius

  -
    logo: /pages/assets/customers/healthify.png
    quote: |
      When evaluating a vendor, our priorities were trust, transparency, and
      reliability.  Aptible hits them all, allowing us to focus on what we do
      without worrying about all the layers of legal and technical ops hurdles.
    author: Dan Levenson, CTO, Healthify

---
<div class="clip-wrap">
  {{> header}}
  <div class="main" role="main">
    <div class="hero pride-study__hero">
      <div class="container">
        <div class="hero__content pride-study__hero__content">
          <div class="hero__item pride-study__hero__item">
            <div class="hero__logo">{{> the-pride-study}}</div>
            <h2 class="hero__title">The engineers at THREAD Research turned to Aptible.</h2>
            <p class="hero__copy">
              Built on Amazon Web Services, Aptible’s secure, compliant cloud platform
              allowed UCSF to launch The Pride Study in less than 6 weeks, for 90% less
              than the cost of a traditional IT solution.
            </p>
            <a class="hero__cta btn btn-primary btn-lg" href="/customers/ucsf-pride-study/">Read the full story</a>
          </div>
          <div class="hero__item hero__image pride-study__hero__iphone hidden-xs">
            <img src="/pages/assets/customers/pride-study-iphone.png">
          </div>
        </div>
      </div>
    </div>
    <div class="hero telepharm__hero">
      <div class="container">
        <div class="hero__content hero__content--right">
          <div class="hero__item telepharm__hero__item">
            <div class="hero__logo"><img src="/pages/assets/customers/tp-white-2x.png"></div>
            <h2 class="hero__title">
              Aptible helps TelePharm bring full-service pharmacies to rural communities
            </h2>
            <p class="hero__copy telepharm__hero-copy">
              &ldquo;Working with Aptible has effectively extended our dev team. We now have
              a group of world-class DevOps ensuring the reliability and scalability of
              our app.&rdquo;
            </p>
            <a class="hero__cta btn btn-primary btn-lg" href="/customers/telepharm/">Read the full story</a>
          </div>
        </div>
      </div>
    </div>

    <div class="customer-testimonials">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 customer-testimonial--logo pager-testimonial">
            {{> customer_testimonial_logo customer_testimonials.[0]}}
          </div>
          <div class="col-sm-12 col-md-6 customer-testimonial--logo">
            {{> customer_testimonial_logo customer_testimonials.[1]}}
          </div>
        </div>
      </div>
    </div>
    <div class="customer-testimonials">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 customer-testimonial--logo">
            {{> customer_testimonial_logo customer_testimonials.[2]}}
          </div>
          <div class="col-sm-12 col-md-6 customer-testimonial--logo healthify-testimonial">
            {{> customer_testimonial_logo customer_testimonials.[3]}}
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row section">
        <h2 class="customers__section-title">
          Aptible helps hundreds of digital health companies get to market
          quickly and securely while staying compliant.
        </h2>
        <div class="logo-list">
          <div class="col-sm-6 col-md-3 logo-list__customer">
            <a class="logo-list__ucsf" target="_blank" href="http://www.pridestudy.org/">{{> ucsf}}</a>
          </div>
          <div class="col-sm-6 col-md-3 logo-list__customer">
            <a class="logo-list__spectra" target="_blank" href="http://www.spectrahealth.us/"></a>
          </div>
          <div class="col-sm-6 col-md-3 logo-list__customer">
            <a class="logo-list__everplans" target="_blank" href="https://www.everplans.com/"></a>
          </div>
          <div class="col-sm-6 col-md-3 logo-list__customer">
            <a class="logo-list__luma" target="_blank" href="http://www.lumahealth.io/"></a>
          </div>
          <div class="col-sm-6 col-md-3 logo-list__customer">
            <a class="logo-list__nuspine" target="_blank" href="https://www.nuspine.com/"></a>
          </div>
          <div class="col-sm-6 col-md-3 logo-list__customer">
            <a class="logo-list__1bios" target="_blank" href="https://1bios.co/">{{> 1bios}}</a>
          </div>
          <div class="col-sm-6 col-md-3 logo-list__customer">
            <a class="logo-list__telepharm" target="_blank" href="https://www.telepharm.com/"></a>
          </div>
        </div>
      </div>
      {{> credibility }}
    </div>
  </div>
</div>
