.pricing-summary.pricing-summary--enclave
  .pricing-summary__header
    .pricing-summary__product-icon= partial 'images/enclave.svg'
    .pricing-summary__title Enclave
    .pricing-summary__subtitle
      Secure container orchestration
    .pricing-summary__call-out
      $500 Credit Included
  .pricing-summary__body
    .product-price
      .product-price__name Shared
      .product-price__exp Development Account
      .product-price__price
        No monthly minimum, no annual contract. Your first $500 is on 
        us - just pay for what you use after that:

    .pricing-summary__label Enclave Unit Pricing
    .pricing-rates
      .pricing-rate
        .pricing-rate__title App + Database Containers
        .pricing-rate__rate $0.08/GB/hour
      .pricing-rate
        .pricing-rate__title Encrypted Disk
        .pricing-rate__rate $0.37/GB/month
      .pricing-rate
        .pricing-rate__title TLS Endpoints
        .pricing-rate__rate $0.05/hour

  .pricing-summary__body.pricing-summary__body--bordered
    .product-price
      .product-price__name Dedicated
      .product-price__exp
        Production Account
      .product-price__price
        $999/month base fee w/ annual contract or $1299 month-to-month. 
        Just pay for additional usage as you go.

    .pricing-summary__checklist
      .pricing-summary__label Includes
      %ul.checklist.checklist--blue
        %li.pricing-summary__checklist-item
          6 GB App/DB Container RAM
        %li.pricing-summary__checklist-item
          1 TB encrypted Database Disk, including automatic backups
        %li.pricing-summary__checklist-item
          4 TLS Endpoints

  .pricing-summary__body
    %a.btn.btn--full{ href: open_account_href } Create a Free Dev Account
    - if current_page.path == 'pricing/index.html'
      %a.arrow-link--right{ href: '/pricing/enclave/' } Enclave Pricing Calculator
