.pricing-summary.pricing-summary--enclave
  .pricing-summary__header
    .pricing-summary__product-icon= partial 'images/enclave.svg'
    .pricing-summary__title Enclave
    .pricing-summary__subtitle
      Container orchestration platform with built-in security and compliance
    .pricing-summary__call-out
      $500 Credit Included
  .pricing-summary__body
    .product-price
      .product-price__name Development Account
      .product-price__exp Shared Instance
      .product-price__price
        $0/month base fee, no commitment. 
        <br><strong>Your first $500 of resources is on 
        us.</strong> Just pay for what you use after that.

  .pricing-summary__body.pricing-summary__body--bordered
    .product-price
      .product-price__name Production Account
      .product-price__exp
        Dedicated Instance
      .product-price__price
        $999/month base fee with annual commitment ($1,299/month with no commitment)<br>
        Just pay for additional usage as you go.

    .pricing-summary__checklist
      .pricing-summary__label Includes
      %ul.checklist.checklist--blue
        %li.pricing-summary__checklist-item
          6 GB App/DB Container RAM
        %li.pricing-summary__checklist-item
          1 TB encrypted Database Disk, including automatic backups
        %li.pricing-summary__checklist-item
          4 TLS Endpoints

    <br>
    .pricing-summary__label Enclave Resource Pricing
    .pricing-rates
      .pricing-rate
        .pricing-rate__title App + Database Containers
        .pricing-rate__rate $0.08/GB/hour
      .pricing-rate
        .pricing-rate__title Encrypted Disk
        .pricing-rate__rate $0.37/GB/month
      .pricing-rate
        .pricing-rate__title TLS Endpoints
        .pricing-rate__rate $0.05/hour

  .pricing-summary__body
    = partial 'partials/ctas/signup-cta', locals: {            |
                    cta_label: 'Sign up for Free Dev Account',                             |
                    cta_placeholder: 'Enter your work email',             |
                    class_name: 'signup-cta--small signup-cta--no-border' |
                  }                                                       |
    / %a.btn.btn--full{ href: open_account_href } Create a Free Dev Account
    - if current_page.path == 'pricing/index.html'
      %a.arrow-link--right{ href: '/pricing/enclave/' } Enclave Pricing Calculator
