-# This is intended to layer below, the previous sibling. The
-# previous element should have `position: relative; z-index: 1;`
.content.hero-gradient--angled.pricing__need-more
  .grid-container
    .pricing__need-more__title Need Something More?
    .pricing__need-more__subtitle
      Get custom MSAs, BAAs, SLAs, regulatory and customer audit assistance,
      custom support plans and/or volume pricing on usage.
  .pricing__need-more__action
    = partial 'partials/ctas/demo-cta', locals: {           |
      cta_label: 'Get in touch about Aptible Managed',      |
      class_name: 'pricing-demo-request signup-cta--small'  |
    }                                                       |
-# When our sign up form is ready, link to it and remove the demo cta
-# %a.btn{ href: '' } Get in touch about Aptible managed
