-# This is intended to layer below, the previous sibling. The
-# previous element should have `position: relative; z-index: 1;`
.content.hero-gradient--angled.pricing__need-more
  .grid-container
    .pricing__need-more__title Need More?
    .pricing__need-more__subtitle
      Deploy Enclave in your own AWS account, custom contracts, 
      audit assistance, and volume pricing available.
  .pricing__need-more__action
    %a.btn.signup-cta--small{ href: 'http://contact.aptible.com' } Contact Us
    / = partial 'partials/ctas/demo-cta', locals: {           |
    /   cta_label: 'Have Us Call You',      |
    /   class_name: 'pricing-demo-request signup-cta--small'  |
    / }                                                       |
-# When our sign up form is ready, link to it and remove the demo cta
-# %a.btn{ href: '' } Get in touch about Aptible managed
