
.articles {
  @include grid-shift(2);
  @include grid-column(8);
  padding: 0;
  list-style: none;

  @media screen and (max-width: $tablet-portrait) {
    @include grid-shift(1);
    @include grid-column(10);
  }
}

.articles__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-blue;
  margin-bottom: 30px;
  width: 100%;
  &::after {
    border-color: $blue;
    border-radius: 2px;
    border-style: solid;
    border-width: 5px 5px 0 0;
    content: '';
    display: inline-block;
    height: 14px;
    position: relative;
    right: 0;
    top: -15px;
    transform: rotate(45deg);
    transition: right $base-duration $base-timing;
    width: 14px;
  }
  &:hover::after {
    right: -10px;
  }
}

.articles__link {
  color: $blue-steel;
  flex-grow: 1;
  max-width: calc(100% - 30px);
  &:hover, &:focus {
    color: $dark-blue-steel;
    outline: none;
  }
}
