.blog-header {
  align-items: baseline;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;

  @media screen and (max-width: 650px) {
    margin-bottom: 80px;
  }
}

.blog-header__title {
  font-size: 19px;
  font-weight: $regular;
  margin: 0;
  a {
    color: $dark-blue-steel;
  }
}

.follow-invite {
  color: $dark-blue-steel;
  display: block;
  font-size: 16px;
  font-weight: $light;
  margin: 0;
  svg {
    transform: translate(5px, 2px);
  }
  path {
    fill: #00aaec;
  }
}

// Blog post index items
.post__title {
  font-size: 26px;
  font-weight: $semibold;
  line-height: 1.5;
  margin: 0;
  a {
    color: $dark-blue-steel;
  }
}

.post__subtitle {
  color: $light-gray;
  font-size: 16px;
  font-weight: $semibold;
  margin: 0;
}

.blog-posts {
  align-self: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: center;
  width: 945px;

  @media screen and (max-width: 1000px) {
    width: 90%;
  }
}

.blog-posts__post {
  border: 1px solid $light-blue;
  border-radius: 4px;
  margin-bottom: 120px;
  padding: 60px;
  @media screen and (max-width: 650px) {
    margin-bottom: 80px;
    padding: 30px;
  }
}

.post__changelog-entry {
  display: flex;
}

.changelog-entry__summary {

}

.blog-posts__post--changelog {
  border-color: rgba(247,152,57,.2);
}

.blog-posts__post-header {
  margin-bottom: 60px;
}

.blog-posts__post-avatar {
  background-color: $white;
  border-radius: 32px;
  box-shadow: 0 4.5px 13px 0 rgba(0,0,0,.1);
  display: block;
  height: 64px;
  position: absolute;
  transform: translateX(-92px);
  width: 64px;
  @media screen and (max-width: 650px) {
    margin: 0 auto -32px;
    position: static;
    transform: translate(0, -64px);
  }
}

.blog-posts__post-avatar--changelog {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    height: 40px;
    width: 40px;
  }
}

.blog-posts__post-summary {
  max-height: 500px;
  overflow: hidden;
  .faux-window, .rouge-table {
    &::before { display: none; }
  }
}

.blog-posts__post-summary-fade {
  background-image: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  height: 100px;
  margin-bottom: -60px;
  transform: translateY(-100px);
}

.simple-ranking-table {
  width: 48%;
  display: inline-block;
  td {
    padding: 5px;
  }
  tbody td:first-of-type {
    text-align: right;
  }
  tbody tr:nth-child(even) {
    background-color: $lighter-blue;
  }
}

.blog-post__share-links {
  position: absolute;
  transform: translateX(-72px);
  @media screen and (max-width: 650px) {
    position: static;
    transform: translate(0, -50px);
    .blog-post__share-link {
      display: inline-flex;
      margin: 0 10px 0 0;
    }
  }
}
.blog-post__share-link {
  align-items: center;
  background-color: #dadde2;
  border-radius: 12px;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color $base-duration $base-timing;
  width: 24px;
  path, polygon {
    fill: white;
  }
  svg {
    display: inline-block;
    max-height: 14px;
    max-width: 14px;
  }
  &:focus {
    outline: none;
  }
}
.blog-post__share-link--twitter {
  &:focus, &:hover {
    background-color: #00aaec;
  }
}
.blog-post__share-link--facebook {
  &:focus, &:hover {
    background-color: #3b5998;
  }
}
.blog-post__share-link--linkedin {
  &:focus, &:hover {
    background-color: #0071A1;
  }
  svg {
    max-height: 12px;
    max-width: 12px;
  }
}
.blog-post__share-link--hackernews {
  &:focus, &:hover {
    background-color: #f60;
  }
}
.blog-post__share-link--email {
  &:focus, &:hover {
    background-color: $blue;
  }
}
