.card {
  background-color: $white;
  border: 1px solid $light-blue;
  display: block;
  margin-bottom: 50px;
  padding: 50px 25px;
}

.card--animated {
  transition: all .2s ease;

  &:hover {
    border-color: $blue;
    transform: translateY(-5px);
  }
}

.card--full {
  width: 100%;
}

.card--dark {
  border-radius: 10px;
  background-color: rgba(0,0,0,.25);
  border-width: 0;
  padding: 30px;
}

.card--opening {
  height: 400px;
  .card__title::after {
    display: block;
    margin-bottom: 20px;
  }
  .card__body {
    max-width: 100%;
  }
}

.card__icon {
  margin-bottom: 20px;
  svg {
    height: 50px;
  }
}

.card_header {
  display: inline-block;
  width: 100%;
}

.card__icon {
  text-align: center;
  img, svg {
    max-height: 75px;
    margin-bottom: 10px;
  }
}

.card__body {
  clear: both;
}

.card__body--centered {
  text-align: center;
}

.card__title {
  color: $dark-blue-steel;
  float: left;
  font-size: 20px;
  font-weight: $semibold;
  margin-bottom: 0;
  &::after { display: none; }
}

.card__title--centered {
  float: none;
  text-align: center;
}

.card__body {
  font-size: 16px;
  color: $light-blue-gray;
}
.card__body--on-dark {
  color: tint($light-sky-blue, 75%);
}

.card--on-dark {
  background-color: $dusk;
  border: 1px solid tint($dusk, 10%);
}

.card--media {
  padding: 0;
  .card__body {
    padding: 25px;
    p {
      margin: 0;
    }
  }
}

.card__header--media {
  padding: 25px;
  background-color: $lighter-blue;
  text-align: center;
  img {
    max-width: 50%;
  }
}

.card__header--light-media {
  background-color: $dark-blue-steel;
}

.card--media__title {
  font-weight: $semibold;
  line-height: 3.2;
  text-transform: uppercase;
}

.card__subtitle {
  font-size: 14px;
  font-weight: $light;
  margin-bottom: 10px;
  &::after {
    display: none;
  }
}
.card__subitle--on-dark {
  color: $light-sky-blue;
}
.card__title {
  font-size: 20px;
}
.card__title--on-dark {
  color: $white;
    margin-bottom: 1.5em;
  &::after {
    display: block;
    margin-top: 15px;
    background-color: $dark-gray;
  }
}

.card--blue {
  background: $lighter-blue;
  border-radius: 4px;
  border: 1px solid $light-sky-blue;
  font-size: 18px;
  padding: 30px;

  a {
    border-bottom: 1px dashed $dark-blue-steel;
    color: $dark-blue-steel;
    font-weight: $semibold;
    transition: background .25s ease-in-out;
    &:focus {
      background-color: $light-blue;
      outline: none;
    }
  }
}

.contact-cards {
  .grid-item {
    min-height: auto;

    @media screen and (max-width: $tablet-portrait) {
      left: auto;
      margin-left: 0;
      width: 100%;
    }
  }
}

.img-card {
  min-width: 360px;
  max-width: 360px;
  &:nth-of-type(2) {
    margin-left: 10px;
    margin-right: 10px;
  }
  @media screen and (max-width: 1130px) {
    &:nth-of-type(2) {
      margin-left: 10px;
      margin-right: 0;
    }
  }
  @media screen and (max-width: 770px) {
    &:nth-of-type(2) {
      margin-left: 0;
    }
  }
}

.img-card__image {
  align-items: center;
  background-image: url(/images/grid-bg-fade.png),
                    linear-gradient(180deg, #172231 0%, #172231 20%, #421832 100%);
  background-position: 50% 25%;
  background-size: 300% 300%, 100%;
  border-radius: 4px;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 30px;
  width: 360px;
}

.img-card__image--free {
  height: 230px;
  width: 360px;
}

.img-card__title {
  color: $dark-blue-steel;
  font-size: 18px;
  font-weight: $light;
  margin-bottom: 10px;
  text-align: left;
}

.img-card__copy {
  color: $light-blue-gray;
  font-size: 14px;
  font-weight: $light;
  margin-bottom: 30px;
  text-align: left;
}

.img-card__link {
  color: $blue;
  font-size: 16px;
  font-weight: $regular;
  text-align: left;
  .arrow-link--right {
    display: block;
  }
}
