.card {
  background-color: $white;
  border: 1px solid $light-blue;
  display: block;
  margin-bottom: 50px;
  padding: 50px 25px;
}

.card__icon {
  float: right;
  svg {
    max-width: 35px;
  }
}

.card_header {
  display: inline-block;
  width: 100%;
}

.card__body {
  clear: both;
  max-width: 330px;
}

.card__title {
  color: $dark-blue-steel;
  float: left;
  font-size: 20px;
  font-weight: $semibold;
  &::after {
    margin-top: 10px;
    width: 27px;
  }
}

.card__body {
  font-size: 16px;
  color: $light-blue-gray;
}
