.card {
  background-color: $white;
  border: 1px solid $light-blue;
  display: block;
  margin-bottom: 50px;
  padding: 50px 25px;
}

.card__icon {
  margin-bottom: 20px;
  text-align: center;
  svg {
    height: 50px;
  }
}

.card_header {
  display: inline-block;
  width: 100%;
}

.card__body {
  clear: both;
  max-width: 330px;
}

.card__body--centered {
  text-align: center;
}

.card__title {
  color: $dark-blue-steel;
  float: left;
  font-size: 20px;
  font-weight: $semibold;
  margin-bottom: 0;
  &::after { display: none; }
}

.card__body {
  font-size: 16px;
  color: $light-blue-gray;
}
.card__body--on-dark {
  color: tint($light-sky-blue, 75%);
  height: 50px;
}

.card--on-dark {
  background-color: $dusk;
  border: 1px solid tint($dusk, 10%);
}

.card--media {
  padding: 0;
  .card__body {
    padding: 25px;
    p {
      margin: 0;
    }
  }
}

.card__header--media {
  padding: 25px;
  background-color: $lighter-blue;
  text-align: center;
  img {
    max-width: 50%;
  }
}

.card__header--light-media {
  background-color: $dark-blue-steel;
}

.card--media__title {
  font-weight: $semibold;
  line-height: 3.2;
  text-transform: uppercase;
}

.card__subtitle {
  font-size: 14px;
  font-weight: $light;
  margin-bottom: 10px;
  &::after {
    display: none;
  }
}
.card__subitle--on-dark {
  color: $light-sky-blue;
}
.card__title {
  font-size: 20px;
}
.card__title--on-dark {
  color: $white;
    margin-bottom: 1.5em;
  &::after {
    display: block;
    margin-top: 15px;
    background-color: $dark-gray;
  }
}
