//
// Colors
//
.white { color: $white; }
.white-bg { background-color: $white; }

.lighter-blue { color: $lighter-blue; }
.lighter-blue-bg { background-color: $lighter-blue; }

.light-blue { color: $light-blue; }
.light-blue-bg { background-color: $light-blue; }

.light-blue-gray { color: $light-blue-gray; }
.light-blue-gray-bg { background-color: $light-blue-gray; }

.sky-blue { color: $sky-blue; }
.sky-blue-bg { background-color: $sky-blue; }

.light-sky-blue { color: $light-sky-blue; }
.light-sky-blue-bg { background-color: $light-sky-blue; }


.blue { color: $blue; }
.blue-bg { background-color: $blue; }

.blue-steel { color: $blue-steel; }
.blue-steel-bg { background-color: $blue-steel; }

.dark-blue { color: $dark-blue; }
.dark-blue-bg { background-color: $dark-blue; }

.dark-blue-steel { color: $dark-blue-steel; }
.dark-blue-steel-bg { background-color: $dark-blue-steel; }

.grass-green { color: $grass-green; }
.grass-green-bg { background-color: $grass-green; }

.green { color: $green; }
.green-bg { background-color: $green; }

.dusk { color: $dusk; }
.dusk-bg { background-color: $dusk; }

.dusk-alt { color: $dusk-alt; }
.dusk-alt-bg { background-color: $dusk-alt; }

.light-dusk { color: $light-dusk; }
.light-dusk-bg { background-color: $light-dusk; }

.light-med-gray { color: $light-med-gray; }
.light-med-gray-bg { background-color: $light-med-gray; }

.light-gray { color: $light-gray; }
.light-gray-bg { background-color: $light-gray; }

.medium-gray { color: $medium-gray; }
.medium-gray-bg { background-color: $medium-gray; }

.dark-gray { color: $dark-gray; }
.dark-gray-bg { background-color: $dark-gray; }

.dark-magenta { color: $dark-magenta; }
.dark-magenta-bg { background-color: $dark-magenta; }

.purple { color: $purple; }
.purple-bg { background-color: $purple; }

.twilight { color: $twilight; }
.twilight-bg { background-color: $twilight; }

.midnight-blue { color: $midnight-blue; }
.midnight-blue-bg { background-color: $midnight-blue; }

.hero-gradient {
  background-image: linear-gradient(0deg, $dark-magenta 0%, $twilight 52%, $midnight-blue 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.10);
}

.hero-gradient--angled {
  background-image: linear-gradient(-35deg,
                                    $dark-magenta 0%,
                                    $twilight 42%,
                                    $midnight-blue 78%,
                                    $blue 130%);
}

.hero-gradient--gridiron {
  background-image: linear-gradient(54deg, #1B283C 0%, #1B283C 1%, #8415B2 100%);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.10);
}
