.company .our-team {
  padding-bottom: 40px;
}


.company-map {
  position: relative;
}

.company-map__cta {
  position: absolute;
  top: 35%;
  width: 100%;
  z-index: 100;

  a {
    box-shadow: 0 4.5px 13px 0 rgba(0,0,0,.1);
  }
}

.join-aptible {
  padding: 50px 0 70px;
}


.team-member {
  padding: 30px;
  border: 1px solid $light-blue;
  border-radius: 4px;
  min-height: 465px;

  &:hover {
    .team-member__photo {
      .main-photo { display: none; }
      .fun-photo { display: block; }
    }
  }
}

.team_member__name {
  font-size: 16px;
  font-weight: 400;
  color: $dark-blue-steel;
}

.team-member__job-title {
  font-size: 12px;
  font-weight: 400;
  color: $sky-blue;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.team-member__bio {
  font-size: 15px;
  color: $blue-steel;
}

.team-member__photo {
  $size: 128px;

  width: $size;
  height: $size;
  margin: 0 auto 20px auto;

  .main-photo,
  .fun-photo {
    width: 100%;
    height: 100%;
    border-radius: 200px;
    background-size: cover;
    background-position: center;
  }

  .fun-photo {
    display: none;
  }
}
