body.enclave header {
  overflow: hidden;
}
.enclave-hero {
  margin-top: 50px;
  padding-bottom: 50px;
  @media screen and (max-width: $tablet-portrait) {
    padding-bottom: 0;
  }
}

.enclave-hero__copy {
  max-width: 500px;
}

.enclave-hero__subtitle {
  color: $sky-blue;
  font-size: 16px;
  font-weight: $semibold;
  margin-bottom: 20px;
}

.enclave-hero__title {
  color: $white;
  font-size: 44px;
  font-weight: $semibold;
  @media screen and (max-width: $tablet-portrait) {
    font-size: 8vw;
  }
}

.enclave-hero__summary {
  color: $sky-blue;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

.enclave-hero .home-hero__quotes {
  margin-top: 20px;
}

.enclave-hero__terminal {
  position: absolute;
  left: calc(50% + 60px);
  width: 50%;
  z-index: 10;
  transform: translateY(-300px);
  pre {
    height: 300px;
  }
  @media screen and (max-width: $nav-break) {
    display: none;
  }
}

.enclave-intro {
  background-color: $dark-blue;
  margin-bottom: 50px;
}

.meet-enclave-title {
  color: $light-blue;
  font-size: 26px;
  font-weight: $semibold;
  &::after { display: none; }
}

.meet-enclave {
  padding: 0;
}
.meet-enclave__terminal {
  margin-bottom: 0;
  .highlight {
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.07);
    padding-bottom: 50px;
  }
}
.meet-enclave__copy {
  float: right;
  width: calc(33% - 25px);
  @media screen and (max-width: $tablet-landscape) {
    margin: 30px;
    width: calc(100% - 60px);
  }
}
.meet-enclave-steps {
  counter-reset: step;
  margin-bottom: 20px;
}
.meet-enclave-step__item {
  color: $sky-blue;
  counter-increment: step;
  display: block;
  font-size: 16px;
  padding-left: 25px;
  margin-bottom: 1em;
  &::before {
    border: 1px solid $blue;
    border-radius: 8px;
    content: counter(step);
    display: inline-block;
    font-size: 10px;
    font-weight: $semibold;
    padding-bottom: 0;
    position: absolute;
    transform: translate(-25px, 3px);
    text-align: center;
    width: 16px;
  }
  code {
    background-color: $dusk;
    color: $white;
  }
}

.enclave-features {
  @media screen and (max-width: $tablet-portrait) {
    .grid-collapse {
      margin-left: 0;
      margin-right: $grid-gutter;
      width: 100%;
    }
  }
}

.enclave-feature {
  min-height: 0;
}

.enclave-feature__title {
  color: $dark-blue-steel;
  font-size: 16px;
  font-weight: $semibold;
  margin-bottom: 1em;
  line-height: 1.5;
  &::after { display: none; }
}

.enclave-feature__summary {
  color: $light-blue-gray;
  font-weight: $light;
  font-size: 16px;
}

.enclave-demo {
  text-align: center;
  padding-bottom: 0;
  padding-top: 100px;
  .heading__title--centered, .heading__summary {
    width: 500px;
    margin: 0 auto;
  }
  .heading__title--centered {
    color: $light-blue;
    font-size: 30px;
    font-weight: $semibold;
    margin-bottom: 40px;
  }
  .heading__summary {
    color: $sky-blue;
    font-size: 20px;
    font-weight: $light;
    margin-bottom: 50px;
  }
}

.developers-first--no-overlap {
  .guides-intro {
    margin-bottom: 50px;
    margin-top: 50px;
    transform: translateY(0);
  }
}

.actions {
  @media screen and (max-width: $tablet-landscape) {
    text-align: right;
  }
}
