//
// Grid / Layout
// Variants:
//  *--flush - remove all margins / padding
//

//
// Sticky Footer
// Push body content to fill the page below the header and above the footer
//
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
}
.content {
  flex: 1;
}

//
// Grid Container
//
.grid-container {
  // @include grid-visual;
  @include grid-container;
  @extend .grid-container--flex;
  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }
  > .grid-container {
    @include grid-collapse;
  }
}

.grid-container--flex {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  @media screen and (max-width: $max-viewport) {
    padding: 0 20px;
  }
}

.grid-collapse {
  @include grid-collapse;
}

.grid-container--no-padding {
  padding: 0;
}

.grid-container--ruled {
  border-bottom: 1px solid $light-blue;
  margin-bottom: 50px;
}

.grid--single-center {
  text-align: center;

  .grid-item {
    padding-bottom: 50px;
    width: 100%;
  }

  .grid-item--adjacent {
    min-height: 0;
    padding-bottom: 0;
  }
}

.grid--2up {
  .grid-item {
    @include grid-column(6);
  }
  .grid-item--small {
    @include grid-column(5);
    @include grid-push(1);
    @media screen and (max-width: $nav-break) {
      @include grid-column(6);
      @include grid-push(0);
    }
  }
  .grid-item,
  .grid-item--small {
    @media screen and (max-width: $tablet-portrait) {
      @include grid-column(12);
    }
  }
  > .card {
    @include grid-column(6);
    @media screen and (max-width: $tablet-portrait) {
      @include grid-shift(1);
      @include grid-column(10);
    }
  }
}

.grid--2up-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $tablet-portrait) {
    display: block;
  }

  .grid-item {
    flex-grow: 1;
    margin-bottom: 50px;
    padding: 0 20px;
  }
}

.grid--3up {
  .grid-item {
    @include grid-column(4);
    &:nth-child(3n+1) {
      margin-left: 0;
    }
    @media screen and (max-width: $tablet-landscape) {
      @include grid-column(6);
      &:nth-child(3n+1) {
        margin-left: 20px;
      }
      &:nth-child(2n+1) {
        margin-left: 0;
      }
    }
    @media screen and (max-width: $tablet-portrait) {
      @include grid-column(12);
      &:nth-child(3n+1), &:nth-child(2n+1) {
        margin-left: 20px;
      }
    }
  }
}

.grid--3up-flex {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  .grid-item {
    width: 32%;
  }
  @media screen and (max-width: $tablet-portrait) {
    flex-direction: column;
    .grid-item {
      width: 100%;
    }
  }
}

.grid-item--two-thirds {
  @include grid-column(8);
  @media screen and (max-width: $tablet-landscape) {
    @include grid-column(12);
  }
}
.grid-item--one-third {
  @include grid-column(3);
  @media screen and (max-width: $tablet-landscape) {
    @include grid-column(12);
  }
}

.grid--4up-center {
  display: flex;
  justify-content: center;
}

@media (max-width: $tablet-portrait) {
  .grid--2up .grid-item--mobile-hidden {
    display: none;
  }
}

.grid-document {
  @include grid-column(8);
  float: left;
  margin-bottom: 100px;
  @media screen and (max-width: $tablet-portrait) {
    @include grid-column(12);
    float: none;
  }
}

.grid-aside {
  @include grid-column(4);
  float: right;
  margin-bottom: 50px;

  @media screen and (max-width: $tablet-portrait) {
    @include grid-column(12);
    float: none;
  }
}

.grid-aside--left {
  .grid-aside {
    float: left;
  }
  .grid-document {
    float: right;
  }
}

.grid-aside__block {
  background-color: $lighter-blue;
  margin-bottom: 30px;
  padding: 30px;
}

.grid-aside__block--segment {
  border-bottom: 1px solid $light-blue;
  margin-bottom: 0;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 30px;
  }
}

.grid-item {
  margin-bottom: 30px;
  min-height: 200px;
}

.grid--4up {
  .grid-item {
    @include grid-column(3);
    &:nth-child(4n+1) {
      margin-right: 0;
      clear: left;
    }
    @media screen and (max-width: $tablet-landscape) {
      @include grid-column(6);
      &:nth-child(2n+1) {
        margin-right: 0;
        clear: left;
      }
    }
    @media screen and (max-width: $tablet-portrait) {
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}


.grid--5up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .grid-item {
    width: ($max-viewport / 5) - $grid-gutter;
    margin-right: $grid-gutter;

    &:last-of-type {
      margin-right: 0;
    }
  }
}


.grid-item--adjacent {
  margin-bottom: 0;
  min-height: 0;
  padding-bottom: 0;
}

.grid-item--image {
  text-align: center;
  svg {
    max-height: 275px;
  }
}

//
// Logo grids
// Defaults to 2up
//
.logo-grid {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.logo-grid__item {
  align-self: center;
  border-left: 1px solid $light-blue;
  border-top: 1px solid $light-blue;
  height: 150px;
  position: relative;
  width: 50%;
  &:nth-child(1), &:nth-child(2) {
    border-top: none;
  }
  &:nth-child(2n+1) {
    border-left: none;
  }
  svg, img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 80%;
    max-height: 130px;
  }
}
.logo-grid--3up {
  .logo-grid__item {
    width: 33.33%;
    &:nth-child(2n+1) {
      border-left: 1px solid $light-blue;
    }
    &:nth-child(3n+1) {
      border-left: none;
    }
    &:nth-child(3) {
      border-top: none;
    }
    @media screen and (max-width: $tablet-portrait) {
      width: 50%;
      &:nth-child(2n+1) {
        border-left: none;
      }
      &:nth-child(2n+2) {
        border-left: 1px solid $light-blue;
      }
      &:nth-child(3) {
        border-top: 1px solid $light-blue;
      }
    }
  }
}

.logo-grid--4up {
  .logo-grid__item {
    border-right: 1px solid $light-blue;
    width: 25%;
    &:nth-child(4n) {
      border-right: none;
    }
    &:nth-child(3), &:nth-child(4) {
      border-top: none;
    }
    @media screen and (max-width: $tablet-portrait) {
      width: 50%;
      &:nth-child(2n) {
        border-right: none;
      }
      &:nth-child(3), &:nth-child(4) {
        border-top: 1px solid $light-blue;
      }
    }
  }
}

.grid-container--bordered {
  border: 1px solid $light-blue;
  border-radius: 5px;
  margin-bottom: 50px;
  padding-bottom: 0;
  padding-top: 50px;
  @media screen and (max-width: $max-viewport) {
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .grid-item {
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 0;
  }
}

.grid-container--bordered__tray {
  background: $lighter-blue;
  border-top: 1px solid $light-blue;
  padding: 20px 0;
  text-align: center;
}

//
// Angled capped content wrappers
//
.content--capped {
  background-size: 100% auto;
  position: relative;
}

.angle-cap--bottom {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
}
