.healthcare-systems {
  .grid-item {
    @media screen and (max-width: $tablet-portrait) {
      text-align: center;
    }
  }

  .heading__title {
    color: $dark-blue-steel;
    font-size: 30px;
    max-width: 400px;
    &::after {
      background-color: $light-blue;
      margin-top: 1em;
    }
    @media screen and (max-width: $tablet-portrait) {
      max-width: auto;
      &::after {
        display: none;
      }
    }
  }

  .heading__summary {
    color: $light-blue-gray;
    font-size: 20px;
    font-weight: $light;
    max-width: 480px;
    @media screen and (max-width: $tablet-portrait) {
      max-width: auto;
    }
  }
}

.healthcare-systems__logos {
  path {
    fill: $dark-blue-steel;
  }
}
