//
// Pagination Links
//
.nav--pagination {
  margin: 0 auto 50px auto;
  max-width: 850px;
  @media screen and (max-width: $tablet-portrait) {
    .page-link--prev, .page-link--next {
      display: none;
    }
  }
  a.page-link--prev, a.page-link--next {
    color: $blue;
  }
}
.page-links {
  display: flex;
  justify-content: space-between;
}
.page-link {
  border-radius: 14px;
  color: $light-gray;
  display: inline-block;
  font-size: 12px;
  height: 25px;
  line-height: 2.1;
  margin: 0 10px;
  text-align: center;
  width: 25px;
  &:focus {
    outline: none;
  }
}
.page-link--active {
  background-color: $blue;
  color: white;
  font-weight: $regular;
}
.page-link--page {
  transition: background $base-duration $base-timing;
  &:hover, &:focus {
    background-color: $light-blue;
  }
}
.page-link--invisible {
  visibility: hidden;
}
.page-link--prev, .page-link--next {
  font-size: 12px;
  font-weight: $semibold;
}
