.press-kit-download {
  margin-top: -50px;
}

.press-kit-download__downloads {
  list-style-type: none;
  margin: -65px 0 0 0;
  padding: 0;
  text-align: center;
}

.press-kit-download__download {
  display: inline;
  margin: 0 5px;
  padding: 0;
}