.grid--2up {
  .product-page__hero-header {
    @media screen and (max-width: $nav-break) {
      @include span-columns(12);
    }
    @media screen and (max-width: 387px) {
      .btn + .btn {
        &::before {
          content: '';
          display: block;
        }
        margin-left: 0;
        margin-top: $small-spacing * 2;
      }
    }
  }

  .product-page__enclave, .product-page__gridiron {
    margin-top: 40px;
    text-align: center;

    @media screen and (max-width: $nav-break) {
      height: 150px;
      margin-bottom: 0;
      margin-top: 0;
      min-height: 0;
      position: absolute;
      right: 20px;
      width: auto;
      text-right: center;
      svg {
        height: 150px;
      }
    }
  }
}

.product-page__gridiron {
  svg {
    height: 300px;
    width: auto;
  }
}


.feature-carousel__triggers {
  display: flex;
  margin-bottom: 50px;
  @media screen and (max-width: $nav-break) {
    flex-direction: column;
  }
}

.feature-carousel__btn {
  align-self: center;
  border: 1px solid $light-blue;
  color: $blue;
  flex: 0 1 (100% / 6);
  font-size: 16px;
  font-weight: $semibold;
  line-height: 4;
  padding-left: $base-spacing;
  position: relative;
  transition: border-color $base-duration $base-timing;
  transform: translateX(-1px);

  white-space: nowrap;

  &.active {
    background-color: $blue;
    border-color: $blue;
    color: $white;
    &:hover, &:focus {
      color: $white;
    }
  }

  &:hover, &:focus {
    border-color: $blue;
    color: $blue;
    outline: none;
    border-right-width: 1px;
  }

  &:first-child {
    border-top-left-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
    left: 0;
    transform: translateX(0);
  }

  &:last-child {
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    border-right-width: 1px;
  }

  @media screen and (max-width: $nav-break) {
    width: 150px;
    border-top-left-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
    &:last-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
    }
  }
}

.feature-carousel {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition-property: opacity;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;
  transition-delay: 0s;
  &.active {
    height: auto;
    padding: 10px 0;
    opacity: 1;
  }
}

.feature-carousel__illustration {
  text-align: center;
}

.btn-bar {
  white-space: nowrap;
  .btn, #{$all-buttons} {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
