.quiz {
  .heading--single-center {
    margin-top: 30px;
    max-width: 720px;
    font-family: $sf-pro-display;
  }

  .subtitle {
    font-size: 18px;
    color: $light-med-gray;
    letter-spacing: 0;
  }

  .error {
    border-color: $severity-critical !important;

    label {
      border-color: $severity-critical !important;
    }
  }
}


.quiz__container {
  position: relative;
  display: flex;
  width: 900px;
  margin: -400px auto 100px auto;
  z-index: 10;

  @media screen and (max-width: $tablet-landscape) {
    display: block;
    width: 100%;
    margin: 0;
  }
}


.quiz__content {
  flex: 1;
  margin-right: 20px;
  background-color: $white;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.05);

  @media screen and (max-width: $tablet-landscape) {
    margin-right: 0;
    padding: 15px;
  }
}


.quiz__step {
  h2 {
    font-size: 32px;
    font-weight: 300;
    color: $dark-blue-steel;
    text-align: center;
    margin: 0 0 15px;
  }

  h3 {
    font-size: 24px;
    font-weight: 300;
    color: $light-blue-gray;
    text-align: center;
    margin: 30px 0;
  }
}


.quiz__progress-bar {
  display: flex;
  width: 200px;
  margin: 0 auto;
}

.quiz__progress-bar__item {
  flex: 1;
  height: 3px;
  background-color: #eee;
  margin: 0 3px;
}

.quiz__progress-bar__item--completed {
  background-color: $gridiron-light-purple;
}

.quiz__progress-bar__item--current {
  background-color: $gridiron-purple;
}


.quiz__question {
  max-width: 800px;
  padding: 40px 0;
}

.quiz__question-text {
  color: #45546e;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;

  @media screen and (max-width: $tablet-landscape) {
    margin-left: 0;
  }
}


.quiz__likert-scale-labels {
  display: flex;
}

.quiz__likert-scale-label {
  flex: 1;
  margin-bottom: 5px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #A3B1C6;
  text-align: center;
}


.quiz__likert-options {
  display: flex;
}

.quiz__likert-option {
  flex: 1;
  text-align: center;

  label {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }

  input {
    cursor: pointer;
  }
}

.quiz__button--next {
  padding: 20px;
  text-align: center;
}




.quiz-results__container {
  position: relative;
  display: flex;
  width: 1180px;
  margin: -400px auto 100px auto;
  z-index: 10;

  @media screen and (max-width: $tablet-landscape) {
    display: block;
    width: 100%;
    margin: 0;
  }
}


.quiz__results {
  display: flex;

  @media screen and (max-width: $tablet-landscape) {
    display: block;
  }
}

.quiz__results__content {
  flex: 1;
  padding-right: 30px;

  h1 {
    font-size: 32px;
    font-weight: 300;
    color: $dark-blue-steel;
    margin: 0 0 30px;
  }
}

.quiz__results__sections {
  padding: 30px 0;
}

.quiz__results__section {
  padding: 30px 0;

  h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #273143;
    margin: 15px 0;
  }
}

.quiz__results__action-items--blurred {
  height: 270px;
  background-image: url('../images/quiz/action-items-blurred.jpg');
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    text-align: center;
  }
}

.quiz__results__sidebar {
  flex: 0 0 350px;
  margin-left: 50px;

  @media screen and (max-width: $tablet-landscape) {
    margin-left: 0;
  }
}

.quiz__results__sidebar__content {
  background-color: #F6F9FF;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 28, 186, .14), 0 2px 13px rgba(0, 0, 0, .03);
  padding: 20px;

  h2 {
    font-family: $sf-pro-display;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0 0 15px;
  }

  p, li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 10px 0;
  }

  ul {
    margin-bottom: 25px;
  }
}
