.aptible-toolbelt {
  align-items: center;
  justify-content: space-between;
  .card {
    display: inline-block;
  }
  .heading__subtitle {
    color: $blue-steel;
    font-size: 16px;
    font-weight: $light;
  }
  .heading__title {
    color: $dark-blue-steel;
    font-size: 30px;
    font-weight: $semibold;
    &::after { background-color: $light-blue; }
  }
  .heading__summary {
    color: $light-blue-gray;
    font-size: 20px;
    font-weight: $light;
    code {
      font-size: 14px;
    }
  }
  .grid-item > pre {
    margin-top: 120px;
    &.highlight--full-width {
      margin-top: 0;
    }
    @media screen and (max-width: $tablet-portrait) {
      margin-top: 0;
    }
  }
}

.download-button {
  svg {
    height: 16px;
    margin-right: 10px;
  }
}

.download-requirements {
  margin: 20px 0 0;
}

.split-panel {

}

.download-panel-left, .download-panel-right {
  display: inline-block;
  margin-bottom: 0;
  width: 49%;

  @media screen and (max-width: $tablet-portrait) {
    display: block;
    width: 100%;
  }
}
.download-panel-left {
  @media screen and (max-width: $tablet-portrait) {
    margin-bottom: 20px;
  }
}

.help-block {
  margin-bottom: 20px;
}

.download-urls {
  margin-bottom: 40px;
}

.installation-instructions {
  text-align: left;
}

.toolbelt-platforms {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  polygon, path {
    fill: $sky-blue;
  }
}

.toolbelt-platform--logo {
  text-align: center;
  height: 100px;
  svg {
    height: 50px;
  }
}

.toolbelt-platform {
  background-color: $white;
  border-color: $lighter-blue;
  display: inline-block;
  margin-bottom: 20px;
  padding: 40px 20px 20px;
  transition-property: background-color, border-color;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;

  h3 {
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }
  .card__body {
    height: 120px;
  }

  &.active, &:hover, &:focus {
    background-color: $lighter-blue;
    border-color: $lighter-blue;
    outline: none;
  }
}
.toolbelt-platforms {
  @media screen and (max-width: $max-viewport) {
    .grid-item {
      margin-right: 1.6%;
      min-height: 50px;
      padding-top: 20px;
      width: 18%;
    }
    .card__body {
      font-size: 14px;
    }
  }
  @media screen and (max-width: $tablet-landscape) {
    align-items: center;
    .toolbelt-platform.grid-item {
      margin-right: 2%;
      width: 18%;
    }
    .toolbelt-platform--logo {
      height: 50px;
      margin: 0 auto;
      width: 50px;
      svg {
        max-height: 50px;
        max-width: 50px;
      }
    }
    .card__body {
      display: none;
    }
  }
  @media screen and (max-width: $tablet-portrait) {
    .toolbelt-platform--logo, svg {
      height: 8vw;
      width: 8vw;
    }
  }
}

.download-panels {
  padding-top: 0;
  padding-bottom: 0;
}

.download-panel {
  background-color: $lighter-blue;
  border-color: $lighter-blue;
  display: none;
  overflow: auto;
  padding-top: 50px;
  &.active {
    display: block;
  }
}
