.aptible-toolbelt {
  .heading__subtitle {
    color: $blue-steel;
    font-size: 16px;
    font-weight: $light;
  }
  .heading__title {
    color: $dark-blue-steel;
    font-size: 30px;
    font-weight: $semibold;
    &::after { background-color: $light-blue; }
  }
  .heading__summary {
    color: $light-blue-gray;
    font-size: 20px;
    font-weight: $light;
  }
  .grid-item > pre {
    transform: translateY(50px);
  }
}

.download-button {
  svg {
    height: 16px;
    margin-right: 10px;
  }
}

.download-requirements {
  margin: 20px 0 0;
}

.split-panel {

}

.download-panel-left, .download-panel-right {
  display: inline-block;
  margin-bottom: 0;
  width: 49%;
}

.help-block {
  margin-bottom: 20px;
}

.download-urls {
  margin-bottom: 40px;
}

.installation-instructions {
  text-align: left;
}

.toolbelt-platforms {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  polygon, path {
    fill: $sky-blue;
  }
}

.toolbelt-platform {
  background-color: $white;
  border-color: $lighter-blue;
  margin-bottom: flex-gutter();
  padding: 40px 20px 20px;
  transition-property: background-color, border-color;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;

  h3 {
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }
  .card__body {
    height: 120px;
  }

  &.active, &:hover, &:focus {
    background-color: $lighter-blue;
    border-color: $lighter-blue;
    outline: none;
  }
}

.toolbelt-platform--logo {
  text-align: center;
  height: 100px;
  svg {
    height: 50px;
  }
}

.download-panels {
  padding-top: 0;
  padding-bottom: 0;
}

.download-panel {
  background-color: $lighter-blue;
  border-color: $lighter-blue;
  display: none;
  padding-top: 50px;
  &.active {
    display: block;
  }
}
