---
title: Quiz
---

- content_for :header do
  %header.aptible-header.hipaa-hosting__header.case-study__header
    .grid-container.grid--single-center
      .grid-item.text-center
        = partial 'partials/aptible-mark'

        %h1.title.white.heading--single-center
          Security Culture Assessment
        %p.subtitle
          How would you describe your team's security culture? Answer a few questions to get a report and find out.


.angled-section-dividers
.quiz__container
  .quiz__content#aptible-quiz

  = javascript_include_tag :quiz

- content_for :hide_footer
