.content.about-aptible-hero
  .grid-container.grid--single-center
    %h2.about-aptible-hero__title.heading--single-center About Aptible
    %p.summary--single-center
      Security and compliance is more than data encryption and firewalls

  .grid-container--flex.about-aptible-hero__items
    .about-aptible-hero__item
      %h3.about-aptible-hero__subtitle Always Improving
      %p
        Aptible is constantly adding new functionality to help developers
        work safely with and protect the most meaningful, sensitive data in
        highly regulated industries.
      %p
        %a.arrow-link--right.dbl-arrow-link--right{ href: '/blog/' } Check out our newest features

    .about-aptible-hero__item
      %h3.about-aptible-hero__subtitle We Handle the Hard Part
      %p
        We provide clear and transparent documentation, enterprise-level
        support and guidance with your security and compliance challenges.
      %p
        %a.arrow-link--right.dbl-arrow-link--right{ href: '/support/' } Check out our documentation

    .about-aptible-hero__item
      %h3.about-aptible-hero__subtitle A Real Partner
      %p
        We provide clear and transparent documentation, enterprise-level
        support and guidance with your security and compliance challenges.
        We've helped thousands of developers in some of the world's most
        innovative companies get up and running quickly and securely.
      %p
        %a.arrow-link--right.dbl-arrow-link--right{ href: '/resources/' } Learn how we can help your business
