%header.blog-posts__post-header
  %h2.post__title= post.data.title
  %h3.post__subtitle
    %a{ href: blog_post_author_href(post) }= post.data.author_name
    on
    %span= post_date(post.data.posted)

.blog-posts__post-summary.markdown-content
  = blog_summary(post)
