- cta_label ||= 'Request A Demo'
- cta_placeholder ||= 'Enter your work email'
- class_name ||= ''
%form.signup-cta.request-demo.single-line
  %input{ type: 'hidden', name: 'event', value: 'gridiron-demo-request' }
  %input.single-line__input{ type: 'email', name: 'gridiron-demo-request-form__email', placeholder: cta_placeholder, required: true }
  %button.single-line__submit{ type: 'submit' }= cta_label
