.enclave-features.grid-container.grid-container--ruled
  - 12.times do
    .enclave-feature.grid-item
      %h4.enclave-feature__title= lorem.words 3
      %p.enclave-feature__summary= lorem.sentence
