%footer.aptible-footer
  .grid-container
    %a.aptible-footer__logo{:href => "/"}
      = partial 'partials/aptible-mark', locals: { class_modifiers: 'aptible-mark--dark-bg' }

    .footer-nav__container
      %nav.aptible-footer__nav
        %ul.footer-nav__list
          %li.footer-nav__section-title Products
          %li
            %a{href: '/enclave/'} Enclave
          %li
            %a{href: '/gridiron/'} Gridiron
          %li.footer-nav__subsection
            %a{href: '/pricing/'} Pricing

        %ul.footer-nav__list
          %li.footer-nav__section-title Company
          %li
            %a{href: '/company/'} About Aptible
          %li
            %a{href: '/customers/'} Our Customers
          %li
            %a{href: '/faq/'} FAQ
          %li
            %a{href: '/legal/'} Legal
          %li.footer-nav__subsection
            %a{href: '/company/'} Jobs
          %li
            %a{href: '/blog/'} Blog

        %ul.footer-nav__list
          %li.footer-nav__section-title Developers
          %li
            %a{href: '/support/'} Documentation
          %li
            %a{href: '/resources/'} Resources
          %li
            %a{href: '/support/quickstart/'} Quickstart Guides
          %li
            %a{href: community_href} Aptible Community
          %li
            %a{href: contact_href} Open a Ticket
          %li
            %a{href: status_href} Status

      %nav.aptible-footer__nav
        %ul.footer-nav__list.footer-nav__list--adjacent
          %li
            %a.social-link{href: 'http://twitter.com/aptible', target: '_blank' }= partial 'partials/social/twitter'
          %li
            %a.social-link{href: 'http://github.com/aptible', target: '_blank' }= partial 'partials/social/github'

    %p.aptible-footer__copyright
      © 2017 Aptible<br>
      1644 Platte St, Denver, CO 80202
