%footer.aptible-footer
  .grid-container
    .footer-nav__container
      %nav.aptible-footer__nav
        %ul.footer-nav__list
          %li.footer-nav__section-title Products
          %li
            %a{href: '/enclave/'} Enclave
          %li
            %a{href: '/gridiron/'} Gridiron
          %li
            %a{href: '/pricing/'} Pricing

        %ul.footer-nav__list
          %li.footer-nav__section-title Solutions
          %li
            %a{ href: '/enclave/managed-host-intrusion-detection-system/' }
              Managed Host-based Intrusion Detection
          %li
            %a{ href: '/compliance/iso-27001-certification/' }
              ISO 27001 Certification
          %li
            %a{ href: '/enclave/hipaa-compliant-hosting/' } HIPAA Compliant Hosting

        %ul.footer-nav__list
          %li.footer-nav__section-title Developers
          %li
            %a{href: "#{base_doc_url}/documentation/"} Documentation
          %li
            %a{href: '/resources/'} Resources
          %li
            %a{href: "#{base_doc_url}/documentation/enclave/tutorials/quickstart-guides.html"}
              Quickstart Guides
          %li
            %a{href: contact_href} Open a Ticket
          %li
            %a{ href: status_href }
              Status
              %span.system-status

        %ul.footer-nav__list
          %li.footer-nav__section-title Company
          %li
            %a{href: '/company/'} About Aptible
          %li
            %a{href: '/customers/'} Our Customers
          %li
            %a{href: '/faq/'} FAQ
          %li
            %a{href: '/legal/'} Legal
          %li
            %a{href: '/company/'} Jobs
          %li
            %a{href: '/blog/'} Blog
          %li
            %a{ href: '/changelog/' } Changelog
          %li
            %a{ href: '/media/' } Media Kit
          %li
            %a{ href: '/contact/' } Contact

        %ul.footer-nav__list
          %li.footer-nav__section-title Community
          %li
            %a{href: community_href, rel: 'noopener noreferrer', target: '_blank'} Aptible Community
          %li
            %a.social-link{href: 'http://github.com/aptible', rel: 'noopener noreferrer', target: '_blank' } Github
          %li
            %a.social-link{href: 'http://twitter.com/aptible', rel: 'noopener noreferrer', target: '_blank' } Twitter

      .aptible-footer__copyright
        %p.aptible-footer__copy
          %a.aptible-footer__logo{:href => "/"}
            = partial 'partials/aptible-mark', locals: { class_modifiers: 'aptible-mark--dark-bg' }
        %p.aptible-footer__copy
          © 2018 Aptible Inc.
        %p.aptible-footer__copy
          548 Market St #75826<br>
          San Francisco, CA 94104-5401<br>
          United States<br>
          %a{ href: 'tel:18662965003' } +1 (866) 296-5003



