<footer class="aptible-footer">
  <div class="grid-container">
    <%= partial 'partials/aptible-mark', locals: { class_modifiers: 'aptible-mark--dark-bg' } %>
    <nav class="nav--flex">
      <ul class="nav-list">
        <li class="nav-item"><a href="/ui-kit/typography.html">Typography</a></li>
        <li class="nav-item"><a href="/ui-kit/layout.html">Layout</a></li>
        <li class="nav-item"><a href="/ui-kit/colors.html">Colors</a></li>
        <li class="nav-item"><a href="/ui-kit/navigation.html">Navigation</a></li>
        <li class="nav-item"><a href="/ui-kit/forms.html">Forms</a></li>
        <li class="nav-item"><a href="/ui-kit/buttons.html">Buttons</a></li>
        <li class="nav-item"><a href="/ui-kit/components.html">Components</a></li>
        <li class="nav-item"><a href="/ui-kit/cards.html">Cards</a></li>
      </ul>
      <ul class="nav-list nav-list--right">
        <li class="nav-item"><a class="social-link" href="http://twitter.com/aptible"><%= partial 'partials/social/twitter' %></a></li>
        <li class="nav-item"><a class="social-link" href="http://github.com/aptible"><%= partial 'partials/social/github' %></a></li>
      </ul>
    </nav>
    <p class="copyright">&copy; 2016 Aptible</p>
  </div>
</footer>
