%footer.aptible-footer
  .grid-container
    %a.aptible-footer__logo{:href => "/"}
      = partial 'partials/aptible-mark', locals: { class_modifiers: 'aptible-mark--dark-bg' }

    %nav.aptible-footer__nav.nav--flex
      %ul.nav-list
        %li.nav-item
          %a{:href => "/enclave"} Enclave
        %li.nav-item
          %a{:href => "/gridiron"} Gridiron
        %li.nav-item
          %a{:href => "/pricing"} Pricing
        %li.nav-item
          %a{:href => "/company"} Company
        -# TODO
        -# %li.nav-item
        -#   %a{:href => "/resources"} Resources
        %li.nav-item
          %a{:href => "/blog"} Blog
        %li.nav-item
          %a{:href => "/support"} Support
        %li.nav-item
          %a{:href => contact_href} Contact Us

      %ul.nav-list.nav-list--right
        %li.nav-item
          %a.social-link{:href => "http://twitter.com/aptible"}= partial 'partials/social/twitter'
        %li.nav-item
          %a.social-link{:href => "http://github.com/aptible"}= partial 'partials/social/github'

    %p.aptible-footer__copyright © 2016 Aptible
    %p.aptible-footer__copyright 1644 Platte St, Denver, CO 80202
