- class_modifiers = '' if class_modifiers.blank?
- subtitle = '' if subtitle.blank?
- title = 'Aptible' if title.blank?
%header{:class => "aptible-header #{class_modifiers}"}
  .grid-container
    %a{ href: '/' }
      = partial 'partials/aptible-mark'
  .grid-container
    - unless subtitle.blank?
      %h2.heading__subtitle= subtitle
    - unless title.blank?
      %h1.heading__title= title
