.home-quotes
  .home-quote
    .home-quote__bubble
      .home-quote__body
        “When evaluating a vendor, our priorities were trust, transparency,
        and reliability. Aptible hits them all, allowing us to focus on what
        we do without worrying about all the layers of legal and technical ops
        hurdles.”
      .home-quote__author
        Dan Levenson - CTO
    .home-quote__logo
      = partial 'images/customers/healthify.svg'