%nav.nav-list.nav-list--center
  %a.nav-item{ href: '/developers/' } Developers
  %a.nav-item{ href: '/compliance/' } Compliance
  %a.nav-item{ href: '/customers/' } Customers
  %a.nav-item{ href: '/success/' } Help
