%nav.nav-list.nav-list--center
  %a.nav-item{ href: '/enclave' } Enclave
  %a.nav-item{ href: '/gridiron' } Gridiron
  %a.nav-item.nav-parent{ href: '/customers' }
    %span.nav-item--parent Customers
    %nav.nav-list__child-nav
      %a.nav-item{ href: '/cto' } CTO
      %a.nav-item{ href: '/cto' } CEO
      %a.nav-item{ href: '/securty-professional' } Security Professional
  .nav-item.nav-parent{ href: '/support' }
    %a.nav-item.nav-item--parent{ href: '/support' } Help
    %nav.nav-list__child-nav
      %a.nav-item{ href: '/support' } Documentation
      %a.nav-item{ href: contact_href } Open A Ticket
      %a.nav-item{ href: '/legal' } Legal
