.nav-item.nav-parent{ tabindex: 0 }
  %a.nav-item.nav-item--parent{ href: '/gridiron/' } Gridiron

.nav-item.nav-parent{ tabindex: 0 }
  %a.nav-item.nav-item--parent{ href: '/enclave/' } Enclave

.nav-item.nav-parent{ tabindex: 0 }
  %a.nav-item.nav-item--parent{ href: '#' } Resources
  %nav.nav-list__child-nav.nav-list__child-nav--developers
    .nav-item.nav-item--group.nav-item--with-arrow
      %a{ href: "#{base_doc_url}/documentation/" }
        .nav-item__title Documentation
      .nav-item__sub-nav--full
        %a.sub-nav__item--full{ href: "#{base_doc_url}/documentation/enclave.html" } Enclave
        %a.sub-nav__item--full{ href: '/support/toolbelt/' } Command-line Toolbelt
        %a.sub-nav__item--full{ href: "#{base_doc_url}/documentation/gridiron.html" } Gridiron
    
    %a.nav-item.nav-item--child{ href: '/blog/' } Blog
    %a.nav-item.nav-item--child{ href: '/changelog/' } Changelog
    
    .nav-item.nav-item--group
      .nav-item__title Compliance Guide
      .nav-item__sub-nav--full
        %a.sub-nav__item--full{ href: '/hipaa/' } HIPAA
        %a.sub-nav__item--full{ href: '/gdpr/' } GDPR

    .nav-item__sub-nav--endcap
      %a.sub-nav__item{ href: contact_href, target: '_blank', rel: 'noopener noreferrer' }
        .nav-item__title Open a Ticket
      %a.sub-nav__item{ href: status_href, target: '_blank', rel: 'noopener noreferrer' }
        .nav-item__title
          Status
          %span.system-status
      %a.sub-nav__item{ href: 'http://github.com/aptible', target: '_blank', rel: 'noopener noreferrer'}
        .nav-item__title Github

.nav-item.nav-parent{ tabindex: 0 }
  %a.nav-item.nav-item--parent{ href: '/company/' } Company
  %nav.nav-list__child-nav.nav-list__child-nav--company
    %a.nav-item.nav-item--child.nav-item--with-arrow{ href: 'https://jobs.lever.co/aptible', target: '_blank' }
      Jobs <span class="hiring">we're hiring</span>
    %a.nav-item.nav-item--child{ href: '/company/' } About Us

    .nav-item__sub-nav--endcap
      %a.sub-nav__item{ href: '/faq/' }
        .nav-item__title FAQ
      %a.sub-nav__item{ href: '/legal/' }
        .nav-item__title Legal
      %a.sub-nav__item{ href: '/media/' }
        .nav-item__title Press
      %a.sub-nav__item{ href: '/contact/' }
        .nav-item__title Contact

%a#nav-item--login.nav-item.nav-item--parent{ href: dashboard_href } Login
