%a.nav-item{ href: '/enclave', class: active_nav_item('enclave') } Enclave
%a.nav-item{ href: '/gridiron', class: active_nav_item('gridiron') } Gridiron
%a.nav-item{ href: '/pricing', class: active_nav_item('pricing') } Pricing

%a.nav-item{ href: '/customers' } Customers
-# TODO: When we get back to customer pages...
-# .nav-item.nav-parent{ tabindex: 0 }
-#   %a.nav-item.nav-item--parent{ href: '/customers' } Customers
-#   %nav.nav-list__child-nav
-#     %a.nav-item{ href: '/ceo' } CEOs
-#     %a.nav-item{ href: '/cto' } CTOs
-#     %a.nav-item{ href: '/securty-professional' } Security Professionals
-#     %a.nav-item{ href: '/compliance-professional' } Compliance Professionals
-#     %a.nav-item{ href: '/case-studies' } Case Studies

.nav-item.nav-parent{ tabindex: 0 }
  %a.nav-item.nav-item--parent{ href: '/support', class: active_nav_item('support') } Help
  %nav.nav-list__child-nav
    -# %a.nav-item{ href: '/resources' } Resources
    %a.nav-item{ href: '/support/topics' } Support Topics
    %a.nav-item{ href: '/support/quickstart' } Quickstart Guides
    %a.nav-item{ href: contact_href } Open a Ticket
    %a.nav-item{ href: '/legal' } Legal
    %a.nav-item{ href: '/faq' } FAQ

.nav--dashboard-auth
  %a.nav-item{ href: dashboard_href } Login
  %a.nav-item{ href: open_account_href } Sign Up
