%form.newsletter-form
  %input{ type: 'hidden', name: 'event', value: 'subscribed' }
  %input#aptible-newsletter-subscription-email.newsletter-form__email{ required: true, name: 'newsletter-form__email', type: 'email', placeholder: 'Email Address' }
  %button.newsletter-form__submit{ type: 'submit', value: ' ' }
