- if page_links.count > 1
  .grid-container
    %nav.nav--pagination
      .page-links
        - if current_page == 1
          .page-link.page-link--prev Prev
        - else
          %a.page-link.page-link--prev{ href: page_links[current_page-2], class: prev_link_class(current_page) } Prev

        .page-link__numbers
          - page_links.each_with_index do |href, index|
            - if current_page == index + 1
              %span.page-link.page-link--active= current_page
            - else
              %a.page-link.page-link--page{ href: href }= index + 1

        - if current_page == page_links.length
          .page-link.page-link--next Next
        - else
          %a.page-link.page-link--next{ href: page_links[current_page], class: next_link_class(current_page, page_links.count) } Next
