-# %input.filter-search{ type: 'search', placeholder: 'Search Resources' }

.grid-aside__block
  %h3 Security &amp; Compliance Digest
  %p
    Sign up to get the best in security and compliance delivered monthly.
  = partial 'newsletter-signup'

- blog_posts_newest_first.take(3).each_with_index do |post, index|
  .grid-aside__block.grid-aside__block--segment
    - if index == 0
      %h3 From the Blog
    %h3.post-title= post.data.title
    %p.post-excerpt
      = post.data.excerpt
      %a.arrow-link--right{ href: blog_post_href(post) } Keep reading
