%a{ class: "resource-item", href: resource_url(resource) }
  %header.resource-item__header{ style: resource_header_style(resource) }
    %h2.resource-item__title= resource.title
  .resource-item__body
    .resource-item__excerpt= resource.snippet
