- titles = ["Common HIPAA Questions", "What is a HIPAA BAA?", "How to Get Into Y Combinator"]
.resources-footer
  .grid-container
    %header.resources-footer__header
      %h2.resources-footer__header__title Resources
      %p.resources-footer__header__summary
        Free research and guidance to help software engineering teams navigate security and compliance.

  .grid-container
    .grid--3up
      - resources_by_title(titles).each do |resource|
        %a.grid-item.card.card--on-dark{ href: resource.url }
          .card__header
            .card__subtitle.card__subitle--on-dark= resource_subtitle(resource)
            %h3.card__title.card__title--on-dark= resource.data.title
          .card__body.card__body--on-dark= resource.data.excerpt
