.resources-footer
  .grid-container
    %header.resources-footer__header
      %h2.resources-footer__header__title Learn More
      %p.resources-footer__header__summary
        We publish free research and guidance to help technology organizations
        navigate security and compliance.

  .grid-container
    .grid--3up-flex
      - resources_for_footer.each do |r|
        %a.grid-item.card.card--on-dark{ href: resource_path(r) }
          .card__header
            .card__subtitle.card__subitle--on-dark= r.data.category
            %h3.card__title.card__title--on-dark= r.data.title
          %p.card__body.card__body--on-dark= r.data.excerpt
