%ul.signup-cta__incentives
  %li.signup-cta__incentive Deploy now
  %li.signup-cta__incentive $500 free credit
  %li.signup-cta__incentive No commitment
  %li.signup-cta__incentive or <a class="" href="mailto:sales@aptible.com">Request a Demo</a>
