---
title: Contact
---
- content_for :header do
  %header.aptible-header.hero-gradient--angled.aptible-header--bottom-grid
    = partial 'partials/main-nav'

.content
  .grid-container
    .centered-header.page-header-basic
      %h1 How can we help you?
      %h2.page-header-basic__sub
        Choose a category below to email the support team so we can get back to you as quickly as possible.

    .contact-cards
      .grid-container.grid--2up
        %a.grid-item.card{:href => "/contact/sales"}
          .card__title.card__title--centered
            Contact Sales
          .card__body.card__body--centered
            Ask about our Business tier products, pricing, or request a demo.
        %a.grid-item.card{:href => "http://contact.aptible.com"}
          .card__title.card__title--centered
            Contact Support
          .card__body.card__body--centered
            Issues with setting up a source or destination.