---
title: Contact Sales
---
- content_for :header do
  %header.aptible-header.hero-gradient--angled.aptible-header--bottom-grid
    = partial 'partials/main-nav'

.content
  .grid-container
    .centered-header.page-header-basic
      %h1 Share your contact info and let us know how we can help

    %form.basic-form.contact-sales
      .grid-container.grid--2up
        .grid-item
          .floating-label
            %label
              Your Work Email
            %input.input{:type => "email"}
            .placeholder
              Your Work Email
        .grid-item
          .floating-label
            %label
              Your Phone Number
            %input.input{:type => "tel"}
            .placeholder
              Your Phone Number
      .grid-container.grid--2up
        .grid-item
          .floating-label
            %label
              First & Last Name
            %input.input{:type => "text"}
            .placeholder
              First & Last Name
        .grid-item
          .floating-label
            %label
              Company Name
            %input.input{:type => "text"}
            .placeholder
              Company Name
      .grid-container.grid--1up
        .grid-item
          .floating-label
            %label
              How can we help?
            %textarea.input
            .placeholder
              How can we help?
      .grid-container.grid--2up
        .grid-item
          .form-action
            .custom-checkbox
              %input#opt-in{:type => "checkbox"}
              %label{:for => "opt-in"}
                Yes, I would like to schedule a demo of both Enclave & Gridiron

            %button.btn--lg.btn--full-tablet
              Contact Aptible
        .grid-item
          .alert--blue
            If you’re looking for sales or tech support then please give us a call at
            = succeed "." do
              %a{:href => "tel:1-866-296-5003"} (866) 296-5003

    = partial 'home-quotes'