- content_for :header do
  = partial 'partials/headers/support-index'

.content
  .grid-container
    .category-article-list
      - (category.articles || []).each do |article|
        - next if article.hidden
        %p
          %a.category-article{ href: "/support/topics/#{article.url}" }= article.title
