---
# title defaults to 'Aptible Support'
header_title: Aptible Support
header_subtitle: How can we help?
---

.documentation-main
  .container
    .categories
      .row
      - data.topics.each do |title, topic|
        .col-xs-12.col-sm-4.col-md-3
          %a.category-box{ href: "/support/topics/#{topic.slug}", class: topic.slug }
            .category-icon= partial "images/icons/#{topic.svg}"

            .category-footer
              .category-title= title
