.angled-section-divider--left {
  background-image: url('/images/section-dividers/angle-bg-left.svg');
  background-position: -5px bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 300px;
}

.angled-section-divider--left--with-gradient {
  background-image: url('/images/section-dividers/angle-bg-left.svg'),
                    linear-gradient(0deg,
                                    #381c3b,
                                    #381c3b 300px,
                                    rgba(0,0,0,0) 300px,
                                    rgba(0,0,0,0));
  background-position: bottom left, center;
  background-repeat: no-repeat;
  background-size: contain, auto;
  padding-bottom: 300px;
}

.angled-section-divider--left-with-grid {
  background-image: url('/images/section-dividers/angle-bg-left.svg'),
                    url('/images/section-dividers/angle-bg-left.svg');
  background-position: bottom left, center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 300px;
}

.angled-section-dividers {
  background-image: url('/images/section-dividers/angle-solid-bg.svg'),
                    url('/images/section-dividers/angle-bg-left.svg');
  background-position: bottom right, bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 252px;
  margin-bottom: -252px;
  position: relative;
  transform: translateY(-252px);
  z-index: 2;

  & + .content {
    padding-top: 50px;
  }
}

.angled-section-gradient,
.angled-section-gradient--with-grid {
  background-color: transparent;
  background-image: url(/images/section-dividers/angle-gradient-bg.svg),
                    linear-gradient(0deg,
                                    #381c3b,
                                    #381c3b 300px,
                                    rgba(0,0,0,0) 300px,
                                    rgba(0,0,0,0));
  background-position: center top;
  background-size: cover;
  margin-top: -18vw;
  padding-top: 16vw;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $fixed-width) {
    margin-top: -250px;
    padding-top: 200px;
  }
}

.angled-section-gradient--with-grid {
  background-image: url(/images/grid-bg-fade.png),
                    url(/images/section-dividers/angle-gradient-bg.svg),
                    linear-gradient(0deg,
                                    #381c3b,
                                    #381c3b 300px,
                                    rgba(0,0,0,0) 300px,
                                    rgba(0,0,0,0));
  background-position: center center, center top;
  background-repeat: no-repeat;
  background-size: auto, cover, auto;
}
