.btn, #{$all-buttons} {
  background-color: $blue;
  border-radius: $base-border-radius;
  color: $white;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: $semibold;
  padding: $small-spacing $base-spacing;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.06);
  transition: background-color $base-duration $base-timing;

  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:active, #{$all-buttons-active} {
  background-color: $blue;
}

.btn:focus, .btn:hover, #{$all-buttons-focus}, #{$all-buttons-hover} {
  background-color: $dark-magenta;
  color: $white;
  outline: none;
}

.btn--outline {
  background-color: transparent;
  border: 1px solid $blue;
  box-shadow: 0px 0px 4px 0px rgba(77,159,255,0.35);
  color: $blue;
  transition: color $base-duration $base-timing, border-color $base-duration $base-timing;
  &:hover {
    background-color: transparent;
    border-color: $dark-magenta;
    color: $dark-magenta;
  }
}

.btn-bar {
  white-space: nowrap;
  .btn, #{$all-buttons} {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    &:first-child {
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
    }
    &:last-child {
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }
  }
}
