// Inline code: <code>displayed in monospace</code>
code, .code {
  background-color: $light-blue;
  border-radius: 4px;
  color: $dark-blue-steel;
  font-size: 16px;
  padding: 0.4em 0.5em;
  white-space: nowrap;
}

.highlight {
  // Mimics the banded outline of a window bar for overflowing code contaniers
  background-image: linear-gradient(
                      to bottom,
                      $dark-blue-steel,
                      $dark-blue-steel 40px,
                      $dusk calc(40px - 100%),
                      $dusk);
  margin: 0;
  margin-bottom: 20px;
  overflow-x: auto;
  code {
    padding: 0;
  }
}

.code__body {
  background-color: $dusk;
  font-family: $monospace-font-family;
  margin-top: 0;
  padding-top: 20px;
  overflow: auto;
}

.rouge-table {
  color: $light-blue;
  display: block;
  font-family: $monospace-font-family;
  line-height: 1.25;
  margin: 0;
  margin-bottom: -20px;

  // Faux window bar for code blocks
  &::before {
    background-color: $dark-blue-steel;
    background-image: image-url('icons/code-pseudo-actions.svg');
    background-position: 10px 14px;
    background-repeat: no-repeat;
    content: '';
    display: block;
    padding: 20px;
    width: 100%;
  }
}
.rouge-gutter {
  border-bottom: none;
  text-align: right;
  padding: 0 20px;
  width: auto;
}
.gl {

}
.lineno {
  color: #374359;
}
.rouge-code {
  border-bottom: none;
  padding-right: 20px;
}

// Comments
.c, .c1 {
  color: $sky-blue;
}
