// Inline code: <code>displayed in monospace</code>
code, .code {
  background-color: $light-blue;
  border-radius: 4px;
  color: $dark-blue-steel;
  font-size: 16px;
  padding: 0.4em 0.5em;
  white-space: nowrap;
}

pre {

}

.highlight {
  // Mimics the banded outline of a window bar for overflowing code contaniers
  background-image: linear-gradient(
                      to bottom,
                      $dark-blue-steel,
                      $dark-blue-steel 40px,
                      $dusk calc(40px - 100%),
                      $dusk);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  overflow-x: auto;
  padding-bottom: 20px;
  code {
    padding: 0;
  }
}

.highlight--stacked,
.markdown-content .highlight {
  margin-bottom: 30px;
}


.code__body {
  background-color: $dusk;
  font-family: $monospace-font-family;
  margin-top: 0;
  padding-top: 20px;
  overflow: auto;
}

.rouge-table {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: $light-blue;
  display: block;
  font-family: $monospace-font-family;
  line-height: 1.25;
  margin: 0;
  margin-bottom: -20px;
}

.faux-window {
  background-image: none;
  background-color: $dusk;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 0;
  padding-top: 20px;
}

.faux-window, .rouge-table {
  // Faux window bar for code blocks
  &::before {
    background-image: image-url('icons/code-pseudo-actions.svg');
    background-position: 20px 14px;
    background-repeat: no-repeat;
    content: '';
    display: block;
    padding: 20px;
    position: absolute;
    width: 100px;
  }
}

.rouge-table--full-width {
  overflow: auto;
  .rouge-code--terminal {
    white-space: nowrap;
  }
  td {
    white-space: nowrap;
    .terminal, .terminal-response, .terminal-interactive {
      white-space: nowrap;
    }
  }
}
.rouge-gutter {
  border-bottom: none;
  text-align: right;
  padding: 40px 0 0 20px;
  width: auto;
  &:not(:empty) {
    padding-right: 20px;
  }
}
.gl {

}
.lineno {
  color: #374359;
}
.rouge-code {
  border-bottom: none;
  padding: 40px 20px 0 0;
}
.rouge-code--no-num {
  padding: 40px 20px 25px;
  vertical-align: top;
}
.rouge-code--terminal {
  font-size: 13px;
  font-family: Monaco, monospace;
  line-height: 1.5;
  white-space: normal;
}
.terminal {
  color: $white;
}
.terminal-interactive {
  color: #b9e4f0;
}
.terminal-response {
  color: $green;
}

// Comments
.c, .c1 {
  color: $sky-blue;
}
