.contact-sales {
  margin-bottom: 50px;

  .form-action {
    margin-bottom: 0.75em;
  }

  .custom-checkbox {
    margin-bottom: 30px;

    @media screen and (max-width: $tablet-portrait) {
      margin-bottom: 40px;
    }

    label {
      font-size: 14px;
      line-height: 1.8;
    }
  }

  .grid-container .grid-item {
    @media screen and (max-width: $tablet-portrait) {
      margin-left: 0;
      width: 100%;
    }
  }
}