.contact-sales {
  margin-bottom: 50px;

  .form-action {
    margin-bottom: 0.75em;
  }

  .custom-checkbox {
    margin-bottom: 30px;

    label {
      font-size: 14px;
      line-height: 1.8;
    }
  }
}