.enclave-features {
}

.enclave-feature {
  min-height: 0;
}

.enclave-feature__title {
  color: $dark-blue-steel;
  font-size: 16px;
  font-weight: $semibold;
  margin-bottom: 0;
  line-height: 1.5;
  &::after { display: none; }
}

.enclave-feature__summary {
  color: $light-blue-gray;
  font-weight: $light;
  font-size: 16px;
}
