.enclave-carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $tablet-portrait) {
    svg {
      height: auto;
      margin-top: 30px;
      width: 95%
    }
  }
}

.enclave-carousel__nav {
  margin-bottom: 50px;
  min-width: 600px;
  @media screen and (max-width: $tablet-portrait) {
    min-width: 0;
    width: 100%
  }
}

.enclave-carousel__nav-items,
.enclave-carousel__nav-track {
  align-items: center;
  display: flex;
  height: 6px;
  justify-content: space-between;
  width: 100%;
}

.enclave-carousel__nav-item {
  color: $blue;
  display: inline-block;
  font-size: 11px;
  font-weight: $semibold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: color .25s ease-in-out;
  &:target, &:hover, &:focus {
    color: $green;
    .enclave-carousel__nav-dot {
      background-color: $green;
    }
  }
}

.enclave-carousel__nav-track {
  background-color: rgba(48,122,209,.17);
  border-radius: 3px;
  height: 6px;
  margin: 0 10px;
  transform: translate(9px, 7px);
  width: calc(100% - 44px);
}

.enclave-carousel__nav-track-progress {
  background-color: $green;
  border-radius: 3px;
  height: 6px;
  transition: width .75s ease-out;
  width: 0;
}

.enclave-carousel__nav-dot {
  background-color: $blue;
  border-radius: 5px;
  content: '';
  display: block;
  height: 10px;
  margin: 10px auto 0;
  transition: background-color .25s ease-in-out;
  width: 10px;
}

.enclave-carousel__headings {
  height: 175px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  width: 100%;
}

.enclave-carousel__heading {
  opacity: 0;
  position: absolute;
  transition: opacity .5s ease-in-out;
  width: 100%;
  .title {
    color: $white;
  }
  .subtitle {
    color: $light-blue-gray;
  }
}

.enclave-carousel__diagram {
  margin-bottom: 40px;
}

.enclave-carousel__db-1-lines,
.enclave-carousel__db-1,
.enclave-carousel__db,
.enclave-carousel__db-2,
.enclave-carousel__db-2-lines,
.enclave-carousel__apps-to-db,
.enclave-carousel__apps,
.enclave-carousel__endpoint-to-apps,
.enclave-carousel__endpoint,
.enclave-carousel__internet-lines,
.enclave-carousel__internet {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.enclave-carousel[data-scene="deploy"] {
  .enclave-carousel__apps,
  .enclave-carousel--deploy {
    opacity: 1;
  }
  .enclave-carousel__nav-item[href$='deploy'] {
    color: $green;
    .enclave-carousel__nav-dot {
      background-color: $green;
    }
  }
  .enclave-carousel__terminals tr:not(.enclave-carousel--deploy) {
    display: none;
  }
}

.enclave-carousel[data-scene="database"] {
  .enclave-carousel__db,
  .enclave-carousel__apps,
  .enclave-carousel--database {
    opacity: 1;
  }
  .enclave-carousel__db-1-lines,
  .enclave-carousel__db-2-lines {
    opacity: 1;
    transition-delay: .75s;
  }
  .enclave-carousel__db-1,
  .enclave-carousel__db-2 {
    opacity: .3;
    transition-delay: 1s;
  }
  .enclave-carousel__nav-item[href$='deploy'],
  .enclave-carousel__nav-item[href$='database'] {
    color: $green;
    .enclave-carousel__nav-dot {
      background-color: $green;
    }
  }
  .enclave-carousel__nav-track-progress {
    width: 25%;
  }
  .enclave-carousel__terminals tr:not(.enclave-carousel--database) {
    display: none;
  }
}

.enclave-carousel[data-scene="configure"] {
  .enclave-carousel__db,
  .enclave-carousel__apps,
  .enclave-carousel__db-1-lines,
  .enclave-carousel__db-2-lines,
  .enclave-carousel__apps-to-db,
  .enclave-carousel--configure {
    opacity: 1;
  }
  .enclave-carousel__db-1,
  .enclave-carousel__db-2 {
    opacity: .3;
  }
  .enclave-carousel__nav-item[href$='deploy'],
  .enclave-carousel__nav-item[href$='database'],
  .enclave-carousel__nav-item[href$='configure'] {
    color: $green;
    .enclave-carousel__nav-dot {
      background-color: $green;
    }
  }
  .enclave-carousel__nav-track-progress {
    width: 51%;
  }
  .enclave-carousel__terminals tr:not(.enclave-carousel--configure) {
    display: none;
  }
}

.enclave-carousel[data-scene="expose"] {
  .enclave-carousel__db-1-lines,
  .enclave-carousel__db-1,
  .enclave-carousel__db,
  .enclave-carousel__db-2,
  .enclave-carousel__db-2-lines,
  .enclave-carousel__apps-to-db,
  .enclave-carousel__apps,
  .enclave-carousel__endpoint,
  .enclave-carousel--expose {
    opacity: 1;
  }
  .enclave-carousel__db-1,
  .enclave-carousel__db-2 {
    opacity: .3;
  }
  .enclave-carousel__internet {
    opacity: 1;
    transition-delay: .5s;
  }
  .enclave-carousel__internet-lines {
    opacity: 1;
    transition-delay: .75s;
  }
  .enclave-carousel__endpoint-to-apps {
    opacity: 1;
    transition-delay: 1s;
  }
  .enclave-carousel__nav-item:not([href$='logging']) {
    color: $green;
    .enclave-carousel__nav-dot {
      background-color: $green;
    }
  }
  .enclave-carousel__nav-track-progress {
    width: 76%;
  }
  .enclave-carousel__terminals tr:not(.enclave-carousel--expose) {
    display: none;
  }
}

.enclave-carousel[data-scene="logging"] {
  .enclave-carousel__db-1-lines,
  .enclave-carousel__db-1,
  .enclave-carousel__db,
  .enclave-carousel__db-2,
  .enclave-carousel__db-2-lines,
  .enclave-carousel__apps-to-db,
  .enclave-carousel__apps,
  .enclave-carousel__endpoint,
  .enclave-carousel__endpoint-to-apps,
  .enclave-carousel__internet-lines,
  .enclave-carousel__internet,
  .enclave-carousel--logging {
    opacity: 1;
  }
  .enclave-carousel__db-1,
  .enclave-carousel__db-2 {
    opacity: .3;
  }
  .enclave-carousel__nav-item[href^='#enclave-carousel'] {
    color: $green;
    .enclave-carousel__nav-dot {
      background-color: $green;
    }
  }
  .enclave-carousel__nav-track-progress {
    width: 100%;
  }
  .enclave-carousel__terminals tr:not(.enclave-carousel--logging) {
    display: none;
  }
}

.enclave-carousel__terminals {
  box-shadow: 0 0 40px rgba(0,0,0,.27);
  position: relative;
  width: 780px;
  z-index: 3;
  .highlight {
    height: 350px;
    overflow-x: auto;
  }
  .terminal,
  .terminal--response {
    white-space: nowrap;
  }
  @media screen and (max-width: $tablet-portrait) {
    min-width: 0;
    width: 100%;
  }
}

.enclave-carousel--compact {
  margin-top: 30px;
  position: relative;
  .enclave-carousel__nav {
    min-width: 500px;
    @media screen and (max-width: $tablet-portrait) {
      min-width: 0;
      width: 100%;
    }
  }
  .enclave-carousel__diagram {
    transform: translateX(-80px);
    @media screen and (max-width: $tablet-portrait) {
      // transform: translateX(-80px), scale(.8);
      transform: translateX(-40px);;
    }
  }
  .terminal-response,
  .enclave-carousel__headings,
  .enclave-carousel__internet,
  .enclave-carousel__internet-lines {
    display: none;
  }
  .enclave-carousel__terminals {
    position: absolute;
    transform: translateY(350px);
    width: 500px;
    .highlight {
      height: 170px;
    }
    @media screen and (max-width: $tablet-portrait) {
      min-width: 0;
      width: 100%;
    }
    @media screen and (max-width: 450px) {
      transform: translateY(275px);
    }
  }
}
