.filter-state {
  background-color: $dark-blue;
  font-size: 18px;
  font-weight: $semibold;
  margin-bottom: 30px;
  padding: 10px 0;
}

.filter-state__subject {
  color: $light-blue;
}

.filter-state__tag {
  margin-left: 10px;
  color: $light-sky-blue;
}

.filter-search {
  margin-bottom: 30px;
}

.filter {
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 30px;
}

.filter-label {
  color: $dark-blue-steel;
  display: inline-block;
  font-weight: $semibold;
  margin-right: 20px;
}

.filter-option {
  color: $blue;
  display: inline-block;
  font-weight: $regular;
  padding: 0 20px;
}

.filter-option--selected {
  border-radius: $base-border-radius;
  background-color: $light-blue;
  color: $blue-steel;
  font-weight: $semibold;
}
