//
// Footer
//
.aptible-footer {
  background-color: $dark-blue;
  color: $light-blue;
  padding: 50px 0;
  .social-link {
    path {
      fill: $dark-blue-steel;
      transition: fill $base-duration $base-timing;
    }
    &:hover, &:focus {
      path {
        fill: $sky-blue;
      }
    }
  }
}

.aptible-footer__logo {
  display: block;
  svg {
    margin-right: 0;
  }
}

.footer-nav__container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $nav-break) {
    display: block;
    .footer-nav__list {
      min-width: auto;
    }
  }
}

.aptible-footer__nav {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 75%;
  @media screen and (max-width: $nav-break) {
    width: auto;
  }
  @media screen and (max-width: 850px) {
    flex-wrap: wrap;
    .footer-nav__list {
      width: calc(50% - 30px);
    }
  }
}

.footer-nav__list {
  list-style: none;
  margin-bottom: 30px;
  margin-right: 30px;
  min-width: 20%;
  padding: 0;
  @media screen and (max-width: $nav-break) {
    min-width: auto;
    width: 100%;
  }
  a {
    color: $light-gray;
    font-size: 15px;
    font-weight: $light;
    &:hover, &:focus {
      color: $sky-blue;
      outline: none;
    }
  }
  li {
    line-height: 1;
    margin-bottom: 8px;
  }
}
.footer-nav__section-title {
  color: $light-gray;
  font-weight: $semibold;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.aptible-footer__copyright {
  color: $light-gray;
  font-size: 15px;
  font-weight: $light;
  margin-bottom: 0;
  text-align: right;
}
.aptible-footer__copy {
  margin-bottom: 10px;
  &:last-of-type {
    margin-top: 10px;
  }
}

.footer__signup {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.footer__signup-form {
  max-width: 650px;
  margin: 0 auto;
  .signup-cta,
  .signup-cta__incentives {
    margin-left: 50px;
    margin-right: 50px;
  }
  @media screen and (max-width: $tablet-portrait) {
    margin: 0 20px;
    max-width: 100%;
    .signup-cta,
    .signup-cta__incentives {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.footer__signup-title {
  font-size: 40px;
  color: $white;
  margin: 0 auto 20px auto;
  max-width: 945px;
  &::after { display: none; }
  @media screen and (max-width: $tablet-portrait) {
    font-size: 6vw;
  }
}
.footer__signup-subtitle {
  color: $sky-blue;
  margin-bottom: 20px;
  font-size: 30px;
  code {
    background-color: #000;
    border-radius: 8px;
    color: $white;
    display: inline-block;
    font-size: 26px;
    line-height: 1.5;
    margin-left: 8px;
    padding: 0 .3em;
  }
  @media screen and (max-width: $tablet-portrait) {
    font-size: 3vw;
    margin-bottom: 20px;
    code {
      border-radius: 4px;
      margin-left: 5px;
      font-size: 2.7vw;
    }
  }
}
.footer__signup__hgroup {
  margin: 0 auto 60px auto;
  @media screen and (max-width: $tablet-portrait) {
    margin-bottom: 20px;
  }
}
