.aptible-header {
  background-color: $dark-blue;
  color: $light-blue;
  margin-bottom: 50px;
  padding-top: 34px;
}

.aptible-header--with-breadcrumbs {
  margin-bottom: 0;
}

.heading--large-gradient {
  background-image: url(/images/hero-gradient--angled.svg);
  background-repeat: no-repeat;
}

.heading__title {
  color: white;
  font-size: 50px;
  font-weight: $semibold;
  &::after {
    background-color: $dark-gray;
    width: 30px;
  }
}

.heading__title--centered {
  @extend %smooth;
  color: $white;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  &::after { display: none; }
}

.heading__subtitle {
  color: $sky-blue;
  font-size: 16px;
  font-weight: $light;
  margin-bottom: 0;
  &::after { display: none; }
}

.heading__subtitle--centered {
  @extend %smooth;
  color: $light-blue;
  font-size: 20px;
  font-weight: $light;
  text-align: center;
  margin-bottom: 100px;
  &::after { display: none; }
}

.heading__summary {
  @extend %smooth;
  color: $sky-blue;
  font-size: 24px;
}

.heading__title-div {
  background-color: $dark-gray;
  height: 10px;
  width: 35px;
}
