.hero-billboard {
  align-items: flex-start;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.06);
  display: flex;
  padding: 80px 100px;
  position: relative;
  transform: translateY(-120px);
  width: 100%;
  z-index: 2;

  .grid-item {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1220px) {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }

  @media screen and (max-width: $tablet-portrait) {
    padding: 40px;
    .hero-billboard__copy {
      margin-right: 0;
      max-width: none;
    }
    .hero-billboard__image {
      display: none;
    }
  }
}

.hero-billboard--full-title {
  flex-wrap: wrap;
  flex-direction: column;
}
.hero-billboard--case-study {
  transform: translateY(-450px);
  padding: 0;

  @media screen and (max-width: $tablet-landscape) {
    transform: translateY(0);
  }
}
.hero-billboard__title {
  margin-bottom: 20px;
}
.hero-billboard__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero-billboard__copy {
  color: $light-blue-gray;
  flex-grow: 1;
  font-size: 18px;
  font-weight: $light;
  margin-right: 30px;
  max-width: 66%;
}
