//
// Newsletter Signup
//
.newsletter-form {
  position: relative;
  &:focus { outline: none; }
}

.newsletter-form__email {
  -webkit-appearance: none;
  border-color: $light-blue;
  border-radius: 0;
  border-width: 2px;
  box-shadow: none;
  color: $blue-steel;
  display: inline-block;
  outline: none;
  &::-webkit-input-placeholder {
    color: $sky-blue;
  }
  &:invalid {
    border-color: $light-blue !important;
  }
  &:focus, &:hover {
    border-color: $sky-blue;
    box-shadow: none;
    outline: none;
  }
  &:invalid {
    border-color: $dark-magenta;
  }
}

.newsletter-form__submit {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: right, $base-duration, $base-timing;
  width: 34px;
  &::after {
    border-color: $sky-blue;
    border-radius: 2px;
    border-style: solid;
    border-width: 5px 5px 0 0;
    content: '';
    color: black;
    display: inline-block;
    position: absolute;
    height: 15px;
    transition: border-color, $base-duration, $base-timing;
    transform: rotate(45deg) translateX(-10px);
    width: 15px;
  }
  &:hover, &:focus {
    background-color: transparent;
    outline: none;
    right: 2px;
    &::after {
      border-color: $blue;
    }
  }
}

.newsletter-signup--blog {
  @extend .card--blue;

  display: flex;
  margin-bottom: 120px;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  @media screen and (max-width: 750px) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.newsletter-signup--blog__intro {
  line-height: 1.5;
  text-align: left;
  margin-right: 40px;
  p {
    font-size: 16px;
    margin-bottom: 0;
  }
  @media screen and (max-width: 750px) {
    margin-bottom: 20px;
  }
}

.newsletter-signup--blog__form {
  transform: translateY(6px);
  .single-line__input {
    border-color: $sky-blue;
    border-width: 1px;
    padding: 7px 75px 7px 7px;
    &:focus, &:hover {
      border-color: $blue;;
    }
  }
  &.signup-cta--small .single-line__submit {
    right: 0;
    padding: 12px 15px 9px;
  }
  @media screen and (max-width: 750px) {
    &.signup-cta--small {
      margin-left: 0;
    }
  }
}
