.notification {
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  min-height: 100px;
  text-align: center;
  position: fixed;
  top: -100px;
  width: 100%;
  transition: top .75s $base-timing;
  z-index: 999;

  &[data-state=open] { top: 0; }
}
.notification__message {
  color: $white;
  font-size: 24px;
  font-weight: $semibold;
  letter-spacing: .01em;
  padding: 20px 50px;
  word-spacing: .1em;
}
.notification__close {
  color: $white;
  cursor: pointer;
  font-size: 20px;
  font-weight: $semibold;
  position: absolute;
  right: 20px;
  top: 20px;
  &::after {
    content: '×';
  }
}
