.pricing-page-header {
  padding-bottom: 0;
  margin-bottom: 270px;
}

.pricing-tiers {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.19);
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  transform: translateY(-220px);
  margin-bottom: -150px;
  @media screen and (max-width: $tablet-landscape) {
    flex-wrap: wrap;
  }
}

.pricing-tier {
  background-color: $dark-blue;
  border-right: 1px solid rgba(255,255,255,.12);
  min-height: 450px;
  width: 25%;
  &:last-of-type {
    border-right: none;
  }
  @media screen and (max-width: $tablet-landscape) {
    width: 50%;
  }
  @media screen and (max-width: $tablet-portrait) {
    border-right: none;
    width: 100%;
  }
}

.pricing-tier__header {
  background-color: $dusk;
  padding: 20px 25px;
  height: 220px;
}

.pricing-tier__illustration {
  color: $blue-steel;
  text-align: center;
  white-space: nowrap;
  svg {
    display: inline-block;
    max-height: 120px;
    max-width: 120px;
  }
  .enclave-grid-shadow {
    display: none;
  }
}

.pricing-tier__illustration--development {
  .enclave-shield, .enclave-shield-lines {
    display: none;
  }
}
.pricing-tier__illustration--platform {

}
.pricing-tier__illustration--pilot {
  svg {
    margin: 10px 0;
    max-height: 100px;
    max-width: 100px;
  }
}
.pricing-tier__illustration--managed {
  svg {
    margin: 10px 0;
    max-height: 100px;
    max-width: 100px;
  }
}

.pricing-tier__plus {
  box-shadow: none;
  color: $blue-steel;
  display: inline-block;
  margin: 0 -10px;
  position: relative;
  top: -52px;
  text-align: center;
  &::after {
    content: '+';
    color: $blue-steel;
    font-weight: $semibold;
  }
}

.pricing-tier__subtitle {
  color: $blue-steel;
  font-size: 14px;
}

.pricing-tier__price {
  color: $light-blue;
  font-size: 20px;
  font-weight: $semibold;
  line-height: .5;
  &::before {
    content: '$';
    color: $blue-steel;
    font-weight: $regular;
    font-size: 12px;
    padding-right: 3px;
    position: relative;
    top: -5px;
    transform: translate(0px, -8px);
  }
}

.pricing-tier__extend {
  position: absolute;
}

.pricing-tier__title {
  color: $white;
  font-size: 26px;
  font-weight: $semibold;
}

.pricing-tier__checklist {
  padding: 50px 0;
  width: calc(100% - 60px);
}

.pricing-tier__checklist-item {
  color: $sky-blue;
  font-size: 14px;
  margin-left: 30px;
}
