//
// Listed resources at /resources
//
.resources-list {
  display: flex;
  @media screen and (max-width: $tablet-landscape) {
    display: block;
  }
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.resources-list__column {
  max-width: calc(100% - 40px);
  width: 50%;
  &:last-of-type {
    margin-left: 12px;
    width: calc(50% - 12px);
  }
  &::after {
    clear: both;
    content: '';
    display: block;
  }
  @media screen and (max-width: $tablet-landscape) {
    max-width: none;
    margin: 0;
    width: auto;
    &:last-of-type {
      margin-left: 0;
      width: auto;
    }
  }
}

.resource-item {
  background: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.10);
  display: block;
  float: left;
  margin-bottom: 40px;
  transition-duration: $base-duration;
  transition-property: box-shadow, transform;
  transition-timing-function: $base-timing;
  width: 100%;
  max-width: 360px;
  &:hover, &:focus {
    box-shadow: 0 20px 60px 0 rgba(0,0,0,0.10);
    outline: none;
    transform: scale(1.04);
  }
  @media screen and (max-width: $tablet-landscape) {
    max-width: 100%;
  }
}

.resource-item--featured::before {
  background-color: $blue;
  color: $white;
  content: 'Featured Resource';
  font-size: 12px;
  line-height: 2.25;
  padding: 0 40px;
  text-transform: uppercase;
  width: 100%;
}

.resource-item__header {
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 50px 20px 20px;
  height: 150px;
}

.resource-item__title {
  color: $dark-blue-steel;
  font-size: 19px;
  font-weight: $regular;
}

.resource-item__body {
  padding: 30px;
}

.resource-item__excerpt {
  color: $dark-blue-steel;
  font-size: 16px;
  font-weight: $light;
}

.resource-item__author-date {
  display: none;
}

//
// Single resource page
//
.resource__header {
  background-color: $lighter-blue;
  margin-bottom: 50px;
}
.resource__header-wrap {
  background-color: black;
  background-image: url(/images/resources/default.png);
  background-size: cover;
  padding: 65px 30px;
}

.resource-article {
  border: 1px solid $light-blue;
  border-radius: 4px;
  margin-bottom: 120px;
  padding: 60px;
  @media screen and (max-width: 650px) {
    margin-bottom: 80px;
    padding: 30px;
  }
}

.resource-article__title {
  color: $dark-gray;
  font-size: 26px;
  font-weight: $semibold;
  margin: 0;
}

.resource-article__subtitle {
  color: $light-gray;
  font-size: 16px;
  font-weight: $semibold;
}

.resource-article__cover-image {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto 40px;
  width: 100%;
  img {
    visibility: hidden;
  }
}

//
// DOC Links
.resource-docs {
  display: flex;
  justify-content: flex-start;
  margin: 30px auto;
  width: 100%;
}
.resource-doc {
  background-color: $lighter-blue;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: inline-block;
  height: 140px;
  margin-right: 30px;
  position: relative;
  transition: background-color .25s ease-in-out;
  width: 120px;
  &:hover, &:focus {
    background-color: $light-blue;
    outline: none;
    &::before {
      color: $dark-blue-steel;
    }
    path {
      fill: $dark-blue-steel;
    }
  }
  &::before {
    color: $blue-steel;
    content: attr(data-type);
    bottom: 40px;
    font-size: 28px;
    font-weight: $semibold;
    height: 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  svg {
    position: absolute;
    top: 40px;
    transform: scale(1.5, 1.5);
    width: 100%;
    path {
      transition: fill .25s ease-in-out;
      fill: $blue-steel;
    }
  }
  &::after {
    content: attr(title);
    font-size: 12px;
    line-height: 1.2;
    margin: 5px auto 0;
    max-width: 120px;
    position: absolute;
    transform: translateY(155px);
  }
}

.transcript__more {
  max-height: 0;
  overflow: hidden;
}

.transcript__preview {
  &::after {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
    content: "More";
    color: $blue-steel;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: $semibold;
    height: 100px;
    line-height: 12;
    margin-top: -86px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &:active,
    &:focus,
    &:hover {
      color: shade($blue, 25%);
    }
  }
  &[data-state=open] {
    &::after {
      display: none;
    }
    & + .transcript__more {
      max-height: 100%;
    }
  }
}
