//
// Support Header Search Bar
//

// Reset Swiftype input styles
.aptible-www {
  .st-ui-search-input,
  .st-default-search-input {
    background-clip: border-box;
    background: $white 0 0 none;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: $light-blue-gray;
    display: inline-block;
    font-family: $base-font-family;
    font-size: 14px;
    font-weight: $regular;
    height: auto;
    line-height: 16px;
    padding: 10px 35px 10px 12px;
    width: 100%;
  }
}

.search-bar {
  position: relative;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $nav-break) {
    width: 100%;
  }
}

.search-bar__form {
  background-color: rgba(0,0,0,0.10);
  border: 8px solid rgba(0,0,0,0.10);
  border-radius: 8px;
  margin-bottom: 50px;
}

.search-bar__input {
  background: $white;
  border: none;
  box-shadow: none;
  color: $light-blue-gray;
  display: inline-block;
  font-size: $base-font-size;
  margin: 0;
  outline: none;
  padding: 10px 35px 10px 12px;
  &::-webkit-input-placeholder {
    color: $sky-blue;
    font-style: italic;
  }
}

.search-bar__submit {
  background-color: transparent;
  display: inline-block;
  padding: .5em .75em .5em .5em;
  position: absolute;
  right: 12px;
  top: 11px;
  transition: right, $base-duration, $base-timing;
  &::after {
    border-color: $sky-blue;
    border-radius: 2px;
    border-style: solid;
    border-width: 5px 5px 0 0;
    content: '';
    display: inline-block;
    height: 15px;
    transition: border-color, $base-duration, $base-timing;
    transform: rotate(45deg);
    width: 15px;
  }
  &:hover, &:focus {
    background-color: transparent;
    outline: none;
    right: 10px;
    &::after {
      border-color: $blue;
    }
  }
}

//
// Nav item search, revelable input
//
.search-nav__form {
  display: inline-block;
  svg {
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    position: relative;
    transform: translate(-17px, 3px);
    z-index: 0;
    path {
      fill: $white;
      transition: fill $base-duration $base-timing;
    }
  }
}

// Specifying the .aptible-www keeps swiftype from moving our cheese
.aptible-www .st-default-search-input.search-nav__input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  background-image: url('/images/icons/search-loop.svg');
  background-color: transparent;
  background-position: right center;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: $regular;
  height: 22px;
  outline: none;
  margin: 0;
  padding: 0;
  width: 20px;
  -webkit-appearance: none;
  &:focus, &[value] {
    background-image: none;
    border-bottom: 1px solid $blue-steel;
    border-bottom-width: 1px;
    color: $white;
    outline: none;
    margin-left: 0;
    padding-right: 15px;
    width: 200px;
    box-shadow: none;
    & + svg {
      display: inline-block;
      opacity: 1;
      path {
        fill: $blue-steel;
      }
    }
  }
}

.search-nav__input--with-transition {
  transition: width ($base-duration * .8) $base-timing;
}

//
// Swiftype results
//
.aptible-www {
  div.st-default-autocomplete {
    background-color: transparent;
    box-shadow: none;
    transform: translateY(8px);

    .st-autocomplete-results {
      background-color: $dark-blue;
      background-image: none;
      border-radius: 5px;
    }

    div.st-query-present {
      background-color: transparent;
      box-sizing: border-box;
      margin-top: 0;

      a.st-ui-result {
        background-image: none;
        background-color: transparent;
        border-bottom: 1px solid $dark-blue-steel;
        border-radius: 0;
        border-top: none;
        margin-bottom: 0;
        transition: all $base-duration $base-timing;

        &:first-child {
          border-top: none;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
        &:last-child {
          border-bottom: none;
          border-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &:hover, &:focus, &.active, &.st-keyboard-active-item {
          background-color: rgba(255, 255, 255, .1);
          background-image: none;
          border-top: none;
          box-shadow: none;
        }
        .st-ui-type-heading {
          color: $white !important;
          font-size: 16px;
          font-weight: $regular;
          line-height: 1.2;
        }
        .st-ui-type-detail {
          color: $sky-blue;
          font-size: 14px;
          margin-bottom: 0;
        }
        .st-ui-type-detail,
        .st-ui-type-heading {
          em {
            color: $light-blue;
            background-color: transparent !important;
            border-bottom: 1px dashed currentColor;
            font-weight: $regular;
          }
        }
      }
    }
  }
}
