.signup-cta {
  .single-line__input {
    border-radius: 8px;
    font-size: 18px;
    padding: 17px 150px 16px 15px;
  }
  .single-line__submit {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 14px;
    line-height: 1.3;
    padding: 24px 25px 22px;
    right: -1px;
  }
  @media screen and (max-width: $nav-break) {
    margin-right: 0;

    .single-line__input {
      border-radius: 5px;
      font-size: 14px;
      padding :10px;
      width: 100%;
    }
    .single-line__submit {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      line-height: 1;
      padding: 16px 25px 15px;
    }
  }
}

.signup-cta--small {
  display: inline-block;
  margin-right: 0;
  .single-line__input {
    border-radius: 4px;
    font-size: 13px;
    min-width: 270px;
    padding: 6.5px 125px 6.5px 6.5px;
  }
  .single-line__submit {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 10px;
    line-height: 1.3;
    padding: 11px 15px 12px;
  }
}

.signup-cta__incentives {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.signup-cta__incentives--center {
  text-align: center;
}

.signup-cta__incentive {
  color: $sky-blue;
  display: inline-block;
  font-size: 12px;
  font-weight: $semibold;
  line-height: 2;
  margin-bottom: 0;
  padding: 0;
  word-spacing: .15em;
  &::after {
    background-color: rgba(255,255,255,.25);
    border-radius: 2px;
    content: '';
    display: inline-block;
    height: 6px;
    line-height: 2;
    margin: 0 10px 0 12px;
    width: 6px;
  }
  &:last-of-type::after {
    display: none;
  }
  a {
    color: $white;
    display: inline-block;
    border-bottom: 1px dashed $light-blue;
    margin-left: 2px;
  }
}

.signup-cta--centered {
  max-width: 555px;
  margin: 0 auto;
}
