.support-pricing-tiers {
  padding-top: 0;
  @media screen and (max-width: $tablet-portrait) {
    border-width: 0;
  }
}

.support-pricing-tiers__flex {
  align-items: stretch;
  display: flex;
  @media screen and (max-width: $tablet-portrait) {
    flex-direction: column;
  }
}

.support-pricing-tier {
  border-left: 1px solid $light-blue;
  padding: 50px 25px;
  text-align: left;
  vertical-align: top;
  flex: 1;
  &:first-of-type {
    border-left: none;
  }
  .checklist:last-of-type {
    margin-bottom: 50px;
  }
  @media screen and (max-width: $tablet-portrait) {
    border-bottom: 1px solid $light-blue;
  }
}

.support-pricing-tier__slack {
  max-height: 50px;
}

.support-pricing-tier__summary {
  color: $blue-steel;
  font-size: 16px;
  font-weight: $light;
  line-height: 1.5;
  margin-bottom: 0;
  &::after { display: none; }
}

.support-pricing-tier__name {
  color: $dark-blue-steel;
  font-size: 30px;
  font-weight: $semibold;
}
