---
title: Support
header_search: true
categories:
  quickstart:
    title: Quickstart Guides
    svg: quickstart.svg
    url: /support/quickstart
    summary:
  support:
    title: Support Topics
    svg: support.svg
    url: /support/topics
    summary:
---

- content_for :header do
  = partial 'partials/headers/support-index', locals: {                       |
      header_search: current_page.data.header_search                          |
    }                                                                         |

.content
  .grid-container.grid--2up
    - current_page.data.categories.each do |category_name, category|
      %a.grid-item.card{ href: category['url'], class: category['svg'] }
        .card__icon
          = partial "images/icons/#{category['svg']}"
        .card__body.card__body--centered
          %h3.card__title= category['title']
