<div class="row section credibility">
  <div class="col-sm-12">
    <h2>Our customers work with the best health systems in America.</h2>
    <div class="credibility-carousel">
      <div class="credibility-carousel--item-mayo">{{> mayoclinic}}</div>
      <div class="credibility-carousel--item-kaiser">{{> kaiserpermanente}}</div>
      <div class="credibility-carousel--item-jhmed">{{> johnhopkinsmed}}</div>
      <div class="credibility-carousel--item-uhc">{{> uhc}}</div>
      <div class="credibility-carousel--item-usdva">{{> usdeptofvetaffairs}}</div>
      <div class="credibility-carousel--item-stanford">{{> stanfordmed}}</div>
    </div>
  </div>
</div>
