<!--
testimonial:
  image: /pages/assets/compliance/ian.png
  copy: |-
    Aptible takes the pain out of HIPAA compliance. We saved a huge amount of
    time and money, and avoided risk by partnering with them.
  author: Ian Yamey - CTO, PolicyGenius
-->
<div class="row section bordered home-testimonial">
  <div class="home-testimonial--image">
    <img src="{{ testimonial.image }}" alt="{{ testimonial.author }}">
  </div>
  <div class="home-testimonial--quote">
    &ldquo;{{testimonial.copy}}&rdquo;
    <div class="home-testimonial--author">{{testimonial.author}}</div>
  </div>
</div>
