---
title: Managed Network Infrastructure
tracked_title: Managed Network Infrastructure
id: managed_network_infrastructure
description: Place a longer description here.
posted: 2015-11-13

benefits:
  - benefit:
    title: DMZ (bastion layer, firewalls)
    description: |
      Place a longer description here.
  - benefit:
    title: DLP - Configurable outbound traffic rules
    description: |
      Place a longer description here.
  - benefit:
    title: DMZ (bastion layer, firewalls)
    description: |
      Place a longer description here.
  - benefit:
    title: 24/7 ops team
    description: |
      Place a longer description here.
---
<div class="container main-content">
  <div class="row section">
    <div class="col-sm-12 text-center">
      {{description}}
    </div>
  </div>
  {{> feature_benefits}}
</div>
