---
title: Aptible + Telepharm
---

- content_for :header do
  %header.aptible-header.aptible-header--adjacent.hero-gradient--angled
    = partial 'partials/main-nav'

.telepharm__header
  .grid-container.grid--single-center
    .grid-item
      %a.navbar-brand.aptible-logo--white{ href: "https://www.aptible.com/" }
        = partial '/partials/aptible-mark', locals: { class_modifiers: 'aptible-mark--white' }
      %h1 Aptible helps TelePharm bring full-service pharmacies to rural communities

.content
  .grid-container.grid--single-center.telepharm__logos
    .grid-item.grid-item--adjacent
      %img{ alt: "Aptible + TelePharm", src: "/images/customers/stories/aptible+telepharm.png" }

  .grid-container.grid--single-center
    .grid-item
      .telepharm__copy
        %p
          Across the United States, independent pharmacies are closing. Between 2010 and 2012, 46 pharmacies closed in Iowa alone, leaving more than 220,000 patients in rural areas without a local pharmacy. These residents, many of them elderly, were forced to travel long distances or even move just to access basic pharmacy services.
        %p
          TelePharm was founded in 2012 to bring convenient, world-class pharmacy services back to these rural communities. Through their innovative pharmacy solutions, they provide underserved patients access to a complete pharmacy. TelePharm’s software is critical to the success of this new model, allowing them to securely manage the prescription workflow and verification process.
        %img.screenshot{:alt => "TelePharm", :src => "/images/customers/stories/telepharm-screenshot.jpg"}/
        %p
          TelePharm came to Aptible looking for a better way to manage their development and deployment process, while maintaining HIPAA compliance.  With Aptible, the TelePharm team was able to get their apps and databases migrated and running in a few hours. With Aptible’s secure, PHI-ready deployment environments and DevOps tools, TelePharm has been able to achieve unparalleled agility, stability, and security.

.telepharm__aptible-header.aptible-header.hero-gradient
  .grid--single-center
    .grid-item
      .telepham__copy
        %h2
          Working with Aptible has effectively extended our dev team.
          We now have a group of world-class DevOps ensuring the
          reliability and scalability of our app.
          Running in our platform on top of AWS has increased our peace
          of mind and we have had spectacular uptime since switching.
        .quote-source
          .quote-author
            .quote-name Kent Safranski
            .quote-title Senior Developer and Architect at TelePharm

.content
  .grid-container.grid--single-center
    .grid-item
      .telepharm__copy
        %p
          With Aptible, TelePharm was able to easily migrate their services into a scalable, PHI-ready ecosystem. The convenience of deploying code to multiple environments has enabled them to quickly build, test and deploy new features. By running the entire software development lifecycle on Aptible, TelePharm has drastically shortened the time from when code is written to live deployment. Aptible frees up the dev team, letting them focus on the features and functionality that make TelePharm unique.

  .grid-container.grid--single-center
    .grid-item
      .telepharm__copy
        %img{ src: "/images/customers/stories/telepharm-logo.png" }
        %h3 The TelePharm Story
        %p
          In 2010, Roby Miller’s family owned a chain of six rural retail pharmacies in eastern Iowa. The small communities where their pharmacies were located couldn't provide enough business to cover the expense of operating a pharmacy, thanks largely to policy changes related to payments for prescription medications. The Miller family was forced to close one pharmacy and sell another – leaving the remaining pharmacies still at risk.
        %h3 TelePharm develops a solution
        %p
          Then, in 2012, the Miller family was approached by a local health board to consider bringing a pharmacy back to their community. Wanting to help, Roby founded TelePharm and developed a solution that would be affordable, easy to maintain, and feasible in low-volume rural locations. In October 2012, TelePharm opened Iowa’s first telepharmacy and began helping other communities revive their local pharmacies. Since then, others have realized the value in the model that TelePharm created and more telepharmacies have opened across the United States. The number of TelePharm Pharmacies, as well as the TelePharm team, continue to grow today.

  .grid-container.grid--single-center
    .grid-item
      %h1.text-center.get-started--title
        Let's get started
      %p
        No contracts, no risk. Open a Development Account today with $500 free credit.
      = partial 'partials/ctas/signup-cta'
