---
title: UCSF Pride Study
layout: case_study
headline: The PRIDE Study aims to improve the health of LGBTQ people and their communities.
description:
  UCSF, THREAD Research, and Aptible launched a world-class research study that 
  will forever change how the LGBTQ community, health care professionals, 
  policy-makers, and other researchers think.
images:
  - /images/customers/case-studies/pride-logo.png
  - /images/customers/case-studies/pride-photo.jpg
bullet_points:
  - Location:
    - San Francisco, California
  - Industry:
    - Healthcare
---


- content_for :top_body_text do
  %p
    Mitchell Lunn, MD, and Juno Obedin-Maliver, MD, MPH are researchers 
    at the University of California, San Francisco. They are the principal 
    investigators of The PRIDE Study, a large-scale, long-term health 
    study of LGBTQ people, which aims to improve the health of LGBTQ 
    people and their communities.
  
  %p
    Lunn and Obedin-Maliver’s design for PRIDE is an ambitious, multi-year 
    study. They faced three key challenges:

  %p
    %strong Challenge 1: Recruiting participants and collecting data.
    Participant engagement and long-term retention is critical to all 
    longitudinal cohort studies.
  
  %p
    %strong Challenge 2: Scaling.
    The study needs to scale both horizontally in scope and vertically 
    with more participants. Once the participant cohort is mature, the 
    study design involves investigations into topics pertaining to 
    specific medical and social issues.
  
  %p
    %strong Challenge 3: Maximizing funding.
    Using funding efficiently means reaching more participants and running 
    the study for a longer period of time.
  
  %p
    To solve all three problems at once, Lunn and Obedin-Maliver 
    partnered with THREAD Research to create a ResearchKit-based 
    iPhone application.
  
  %p But this introduced a fourth problem:
  
  %h2 
    How would they host the ResearchKit API backend and securely store 
    the data?
  
  %p
    The engineers at THREAD Research turned to Aptible. Built on Amazon 
    Web Services, Aptible’s secure, compliant cloud platform allowed 
    them to launch the study in less than 6 weeks, for 90% less than the 
    cost of a traditional IT solution.
  
  %p
    Using Aptible helped Drs. Lunn and Obedin-Maliver quickly gain IRB 
    and data security approvals from UCSF. Aptible’s stability and 
    scaling performance make it ideal for a project that may eventually 
    grow to a decades-long, global study involving millions of 
    participants.
  
  %p
    UCSF, THREAD Research, and Aptible launched a world-class research 
    study that will forever change how the LGBTQ community, health care 
    professionals, policy-makers, and other researchers think.
