.btn, #{$all-buttons} {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  border: 0;
  background-color: $blue;
  border-radius: $base-border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 12px;
  font-weight: $semibold;
  line-height: 1;
  padding: 15px 40px;
  text-decoration: none;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.06);
  text-transform: uppercase;
  transition-property: background-color, color, opacity;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:active {
    background-color: $blue;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background-color: $action-color;
    }
  }

  &:hover, &:focus {
    background-color: $blue-prime;
    color: $white;
    outline: none;
  }
}

.btn + .btn {
  margin-left: $small-spacing * 2;
}

.btn--full {
  text-align: center;
  width: 100%;
}

.btn--outline {
  border: 1px solid $action-color;
  background-color: transparent;
  box-shadow: 0px 0px 4px 0px rgba(77,159,255,0.35);
  border-radius: $base-border-radius;
  color: $white;
  line-height: 0.9;
  transition-property: border-color, box-shadow;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;
  &:focus, &:hover {
    background-color: transparent;
    border-color: $blue-prime;
  }
}

.btn--outline--white {
  border-color: $white;
  transition-property: background-color;
  &:focus, &:hover {
    background-color: rgba(255,255,255,.05);
    border-color: $white;
  }
}

.btn--logo-grid {
  margin-top: 60px;
}

.arrow-link--left, .arrow-link--right {
  color: $blue;
  display: inline-block;
}
.arrow-link--left {
  padding-left: 20px;
  &::before {
    content: '←';
    position: absolute;
    transition: transform 0.25s ease-in-out;
    transform: translate(-20px, 1px);
  }
  &:hover::before, &:focus::before {
    transform: translate(-24px, 1px);
  }
}

.arrow-link--right{
  &::after {
    content: '→';
    padding-left: 8px;
    position: absolute;
    transition: transform 0.25s ease-in-out;
    transform: translate(-4px, 1px);
  }
}

.dbl-arrow-link--right {
  &::after {
    content: '»';
    padding-left: 0;
    font-size: 28px;
    transform: translate(16px, -12px);
  }
  &:hover::after, &:focus::after {
    transform: translate(20px, -12px);
  }
}

.dbl-arrow-link--left {
  &::before {
    content: '«';
    position: absolute;
    transition: transform 0.25s ease-in-out;
    transform: translate(-20px, 1px);
  }
  &:hover::before, &:focus::before {
    transform: translate(-24px, 1px);
  }
}
