ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li:last-of-type {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: disc;
  margin-bottom: 1em;
  padding-left: 2.5em;
  li {
    font-weight: $light;
    margin-bottom: .5em;
  }
}

li > ul {
  margin-top: .5em;
  margin-bottom: 0;
}

li > p:last-of-type {
  margin-bottom: 0;
}

ul.checklist {
  list-style-image: image-url('icons/checklist-item.svg');
  margin-left: 20px;
  margin-bottom: 50px;
  padding-left: 0;
  &:last-of-type {
    margin-bottom: 0;
  }
  li {
    line-height: 1.25;
    margin-bottom: .5em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
ul.checklist--blue {
  list-style-image: image-url('icons/checklist-item--blue.svg');
}

ul.checklist--shield {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  padding-left: 0;
  li {
    background-image: image-url('icons/green-shield.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 38px;
    color: $light-blue-gray;
    font-size: 16px;
    font-weight: $light;
    letter-spacing: .5px;
    line-height: 1.9;
    padding-left: 36px;
    transform: translateX(-10px);
  }
}

ol {
  list-style-type: decimal;
  margin-bottom: 1em;
  padding-left: 2.5em;
  li {
    font-weight: $light;
    margin-bottom: .5em;
    padding-left: .5em;

  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
