table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th {
  padding: $small-spacing 0;
  text-align: left;
}

td {
  padding: $small-spacing 0;
  text-align: left;
}

tr,
td,
th {
  vertical-align: top;
}

.table--dark {
  background-color: $dusk;
  margin: 0;
  thead th {
    background-color: $dusk;
    padding: 30px;
    vertical-align: middle;
    &:first-of-type {
      vertical-align: bottom;
    }
  }
  th, td {
    padding: 15px 25px;
  }
  th {
    background-color: $midnight-blue;
    border-bottom: none;
    color: $white;
  }
  td {
    background-color: $dark-blue;
    border-bottom: none;
    color: $sky-blue;
    font-size: 14px;
    vertical-align: top;
  }
  th + th {
    border-right: 1px solid #293951;
  }
  th + td, td + td {
    border-right: 1px solid #202c41;
  }
  td:last-of-type, th:last-of-type {
    border-right: none
  }
  tbody {
    tr {
      border-bottom: 1px solid #202c41;
    }
    th, td {
      vertical-align: top;
    }
  }
}

.checkmark-table {
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 90%;
  td, th {
    padding: 5px;
    text-align: center;
  }
  tbody td:first-of-type,
  thead th:first-of-type {
    text-align: left;
  }
  thead th {
    border-bottom: 1px solid $base-border-color;
  }
  tbody tr:nth-child(even) {
    background-color: $lighter-blue;
  }
}
