body {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 30px;
  &::after {
    background-color: $light-blue;
    content: '';
    display: block;
    height: 8px;
    margin-top: 20px;
    width: 25px;
  }
}

.no-hr::after {
  display: none;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($blue, 25%);
  }
}

.document-title {
  font-size: 50px;
  margin-bottom: 0.5em;
}

.document-summary {
  font-size: 30px;
  font-weight: $light;
  &::after { display: none; }
}

hr {
  border: 0;
  border-bottom: 1px solid $light-blue;
  margin-bottom: 50px;
}

// Specifics for generated markup
.markdown-content {
  font-size: 20px;
  h2 {
    margin: 3em 0 2em;
    &:first-of-type{
      margin-top: 0;
    }
  }
  p {
    font-weight: $light;
    margin-bottom: 1.75em;
  }

  strong {
    font-weight: $semibold;
  }
  blockquote {
    border-left: 4px solid $light-blue;
    padding-left: 30px;
    font-style: italic;
  }
}


.text-center {
  text-align: center;
}

.heading--single-center {
  color: $dark-blue-steel;
  font-size: 30px;
  font-weight: $semibold;
  text-align: center;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  &::after {
    display: none;
  }
}

.summary--single-center {
  color: $light-blue-gray;
  font-size: 20px;
  font-weight: $light;
  text-align: center;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

.summary--adjacent {
  margin-bottom: 0;
}

// TODO: Where to put this? Blog? More generic type style? Grid?
// Start searching for recurring heading styles.
// Should remove the global &::after
.post-title {
  font-size: 16px;
  font-weight: $semibold;
  margin-bottom: 10px;
  &::after { display: none; }
}
.post-excerpt {
  color: $light-blue-gray;
  font-size: 14px;
  font-weight: $regular;
}
