body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %smooth;
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 30px;
  &::after {
    //height: 0.4em;
    //width: 1.5em;
    background-color: $light-blue;
    content: '';
    display: block;
    height: 8px;
    margin-top: 20px;
    width: 25px;
  }
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

.document-title {
  @extend %smooth;
  font-size: 50px;
  margin-bottom: 0.5em;
}

.document-summary {
  @extend %smooth;
  font-size: 30px;
  font-weight: $light;
  &::after { display: none; }
}

hr {
  border: 0;
  border-bottom: 1px solid $light-blue;
  margin-bottom: 50px;
}

// Specifics for generated markup
.markdown-content {
  font-size: 20px;
  h2 {
    margin: 3em 0 2em;
    &:first-of-type{
      margin-top: 0;
    }
  }
  p {
    font-weight: $light;
    margin-bottom: 1.75em;
  }
}

.text-center {
  text-align: center;
}
