body {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-smoothing: antialiased;
  font-weight: $light;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 30px;
}

.heading-1 {
  font-size: 75px;
  font-weight: $semibold;
}

.heading-2 {
  font-size: 50px;
  font-weight: $semibold;
}

.heading-3 {
  font-size: 26px;
  font-weight: bold;
}

.heading-4 {
  font-size: 24px;
  font-weight: $light;
}

.heading-5 {
  font-size: 19px;
  font-weight: $regular;
}

.heading-6 {
  font-size: 16px;
  font-weight: $semibold;
}

.light {
  font-weight: $light;
}

.regular {
  font-weight: $regular;
}

.semibold {
  font-weight: $semibold;
}

.subdued {
  color: $light-blue-gray;
  font-size: 12px;
}

.with-hr::after {
  background-color: rgba(255,255,255,.25);
  content: '';
  display: block;
  height: 8px;
  margin-top: 20px;
  width: 25px;
}

p {
  margin: 0 0 ($small-spacing * 2);
}

a {
  color: $blue;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($blue, 25%);
  }
  &[href^=tel] {
    color: currentColor;
    padding-bottom: .2em;
    transition: border-bottom $base-duration $base-timing;
    border-bottom: 1px dashed transparent;
    &:hover, &:focus {
      border-bottom: 1px dashed currentColor;
    }
  }
}

.document-title {
  @extend .heading-2;
  &.with-hr::after {
    background-color: $light-blue;
  }
}

.document-summary {
  font-size: 30px;
  font-weight: $light;
}

hr {
  border: 0;
  border-bottom: 1px solid $light-blue;
  margin-bottom: 50px;
}

// Specifics for generated markup
.markdown-content {
  font-size: 18px;
  font-weight: $light;

  h1, h2, h3, h4, h5, h6 {
    @extend .heading-5;
    font-size: 20px;
    line-height: 2;
    margin: 0 0 10px 0;
  }

  h4 {
    color: $light-gray;
    font-size: 18px;
    font-weight: $semibold;
  }

  p {
    font-weight: $light;
    margin-bottom: 1em;
    &:last-of-type {
      margin-bottom: 0;
    }
    & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
      margin-top: 50px;
    }
    img {
      margin: 50px 0 34px 0;
    }
    & + pre, & + ul, & + ol {
      margin-top: 10px;
    }
  }

  b, strong {
    font-weight: $regular;
  }
  blockquote {
    border-left: 4px solid $light-blue;
    padding-left: 30px;
    font-style: italic;
  }
  & + .back-to-list {
    margin-top: 50px;
  }
}

.text-center {
  text-align: center;
}

.heading--single-center {
  color: $dark-blue-steel;
  font-size: 30px;
  font-weight: $semibold;
  text-align: center;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

.heading--condensed {
  max-width: 475px;
  @media screen and (max-width: $tablet-portrait) {
    max-width: 90%;
  }
}

.summary--single-center {
  color: $light-blue-gray;
  font-size: 24px;
  font-weight: $light;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

.summary--adjacent {
  margin-bottom: 0;
}

// TODO: Where to put this? Blog? More generic type style? Grid?
// Start searching for recurring heading styles.
// Should remove the global &::after
.post-title {
  font-size: 16px;
  font-weight: $semibold;
  margin-bottom: 10px;
}
.post-excerpt {
  color: $light-blue-gray;
  font-size: 14px;
  font-weight: $regular;
  .arrow-link--right {
    padding-left: 5px;
  }
}

//
// Hero
//
.hero {
  max-width: 650px;
  margin: 0 auto;
}

.heading--cta {
  margin-bottom: 50px;
}

.title {
  color: $dark-blue-steel;
  font-size: 32px;
  font-weight: $light;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.title--paragraph {
  line-height: 1.5;
  margin-bottom: 50px;
}

.title--white {
  color: $white;
}

.subtitle {
  color: $sky-blue;
  color: $dark-blue-steel;
  font-size: 18px;
  font-weight: $light;
  letter-spacing: .5px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

.subtitle--caps {
  color: $white;
  font-size: 14px;
  font-weight: $regular;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.subsection-title {
  color: $light-blue-gray;
  font-size: 19px;
  font-weight: $regular;
  margin-bottom: 20px;
}

.leaf-page-content {
  margin: 0 auto;
  max-width: 650px;
  text-align: left;
}
