<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="author-archive-header">
      <div class="profile">
        {{gravatar author_email 'xxl' }}
      </div>
      <h1>{{author_name}}</h1>
      <h2>{{author_email}}
    </div>
  </div>
</div>