<div class="console">
  <header class="console-title-bar">
    <span class="osx-button"></span>
    <span class="osx-button"></span>
    <span class="osx-button"></span>
  </header>
  <code class="console-body">
    <div class="console-group">
      <div class="console-row">$ aptible create test-app</div>
      <div class="console-row"><span class="subdued-color">remote:</span> <span class="success-color">(8ミ | INFO: Authorizing...</span></div>
      <div class="console-row"><span class="subdued-color">remote:</span> <span class="success-color">(8ミ | INFO: Creating app...</span></div>
      <div class="console-row"><span class="subdued-color">remote:</span> <span class="success-color">(8ミ | INFO: test-app created successfully.</span></div>
    </div>
    <div class="console-group">
      <div class="console-row">$ git remote add aptible git@beta.aptible.com:test-app.git</div>
      <div class="console-row">$ git push aptible master</div>
      <div class="console-row"><span class="subdued-color">remote:</span> <span class="success-color">(8ミ | INFO: Authorizing...</span></div>
      <div class="console-row"><span class="subdued-color">remote:</span> <span class="success-color">(8ミ | INFO: Initiating deploy...</span></div>
      <div class="console-row"><span class="subdued-color">remote:</span> <span class="success-color">(8ミ | INFO: Deploy succeeded.</span></div>
    </div>
  </code>
</div>