<div class="container">
  <div class="row compliance-header hidden-xs text-center">
    <div class="col-sm-3 col-md-2 col-md-offset-2 text-center">
      <img src="/pages/assets/compliance/compliance-risk.png" alt="Risk Assessment">
      <h4>RISK ASSESSMENT</h4>
    </div>
    <div class="col-sm-3 col-md-2">
      <img src="/pages/assets/compliance/compliance-policies.png" alt="Policies and Procedures">
      <h4>POLICIES & PROCEDURES</h4>
    </div>
    <div class="col-sm-3 col-md-2">
      <img src="/pages/assets/compliance/compliance-training.png" alt="HIPAA Training">
      <h4>TRAINING</h4>
    </div>
    <div class="col-sm-3 col-md-2">
      <img src="/pages/assets/compliance/compliance-security-ops.png" alt="Security Ops">
      <h4>SECURITY OPS</h4>
    </div>
  </div>
</div>

<div class="compliance-find-out">
  <a href="#start" class="js-scroll">
    <h4>FIND OUT HOW</h4>
    <img src="/pages/assets/compliance/compliance-find-out.svg" alt="Find out about HIPAA Compliance">
  </a>
</div>
