<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg viewBox="0 0 270 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>compliance-risk</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="68.4002459%" y1="126.188674%" x2="68.4002445%" y2="7.02060922%" id="linearGradient-1">
            <stop stop-color="#0080FF" offset="0%"></stop>
            <stop stop-color="#00C0FF" offset="100%"></stop>
        </linearGradient>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.112 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
            <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0844287817 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="SourceGraphic"></feMergeNode>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-4">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
            <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0844287817 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="SourceGraphic"></feMergeNode>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-5">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
            <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0844287817 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="SourceGraphic"></feMergeNode>
                <feMergeNode in="shadowMatrixInner1"></feMergeNode>
            </feMerge>
        </filter>
        <radialGradient cx="50%" cy="0%" fx="50%" fy="0%" r="100%" id="radialGradient-6">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#CFDFE7" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Compliance-Page-Desktop" sketch:type="MSArtboardGroup" transform="translate(-213.000000, -1612.000000)">
            <g id="Risk-Assessment" sketch:type="MSLayerGroup" transform="translate(185.000000, 1542.000000)">
                <g id="Left" transform="translate(0.000000, 69.000000)" sketch:type="MSShapeGroup">
                    <g id="levers-copy" transform="translate(34.000000, 33.000000)">
                        <circle id="Oval" fill="url(#linearGradient-1)" filter="url(#filter-2)" cx="129" cy="129" r="129"></circle>
                        <path d="M96.0848438,132.023438 L96.0848438,76.59375 C96.0848438,71.0265938 91.5718594,66.515625 86.0067188,66.515625 C80.4415781,66.515625 75.9285938,71.0265938 75.9285938,76.59375 L75.9285938,132.023438 L96.0848438,132.023438 L96.0848438,132.023438 Z" id="Shape" fill="#0074D0" filter="url(#filter-3)"></path>
                        <path d="M75.9285938,142.436156 L75.9285938,183.421875 C75.9285938,188.989031 80.4415781,193.5 86.0067188,193.5 C91.5718594,193.5 96.0848438,188.989031 96.0848438,183.421875 L96.0848438,142.436156 L75.9285938,142.436156 L75.9285938,142.436156 Z" id="Shape" fill="#72DC7B"></path>
                        <path d="M138.412969,94.734375 L138.412969,76.59375 C138.412969,71.0265938 133.902,66.515625 128.334844,66.515625 C122.769703,66.515625 118.256719,71.0265938 118.256719,76.59375 L118.256719,94.734375 L138.412969,94.734375 L138.412969,94.734375 Z" id="Shape" fill="#0074D0" filter="url(#filter-4)"></path>
                        <path d="M118.256719,102.796875 L118.256719,183.421875 C118.256719,188.989031 122.769703,193.5 128.334844,193.5 C133.902,193.5 138.412969,188.989031 138.412969,183.421875 L138.412969,102.796875 L118.256719,102.796875 L118.256719,102.796875 Z" id="Shape" fill="#72DC7B"></path>
                        <path d="M180.741094,131.015625 L180.741094,76.59375 C180.741094,71.0265938 176.230125,66.515625 170.662969,66.515625 C165.095813,66.515625 160.584844,71.0265938 160.584844,76.59375 L160.584844,131.015625 L180.741094,131.015625 L180.741094,131.015625 Z" id="Shape" fill="#0074D0" filter="url(#filter-5)"></path>
                        <path d="M160.584844,183.421875 C160.584844,188.989031 165.095813,193.5 170.662969,193.5 C176.230125,193.5 180.741094,188.989031 180.741094,183.421875 L180.741094,138.404906 L160.584844,138.404906 L160.584844,183.421875 Z" id="Shape" fill="#72DC7B"></path>
                        <circle id="Oval" fill="url(#radialGradient-6)" cx="85.5028125" cy="140.589844" r="17.1328125"></circle>
                        <circle id="Oval" fill="url(#radialGradient-6)" cx="170.662969" cy="140.589844" r="17.1328125"></circle>
                        <circle id="Oval" fill="url(#radialGradient-6)" cx="128.334844" cy="104.308594" r="17.1328125"></circle>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>