<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="270px" height="320px" viewBox="0 0 270 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>compliance-policy</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.143495245 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.14 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0147022192 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-4">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0608497509 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Compliance-Page-Desktop" sketch:type="MSArtboardGroup" transform="translate(-937.000000, -2192.000000)">
            <g id="Policies-&amp;-Procedures" sketch:type="MSLayerGroup" transform="translate(246.000000, 2202.000000)">
                <g id="Right" transform="translate(703.000000, 0.000000)" sketch:type="MSShapeGroup">
                    <g id="Oval-42-+-Group-Copy">
                        <g id="Oval-42">
                            <rect id="Rectangle-53" fill="#008FFF" filter="url(#filter-1)" x="0" y="0" width="192" height="247" rx="2"></rect>
                            <rect id="Rectangle-54" fill="#00BBFF" filter="url(#filter-2)" x="26" y="26" width="192" height="247" rx="2"></rect>
                        </g>
                        <g id="Group" transform="translate(52.425947, 50.982934)">
                            <path d="M1.90321883,231.163106 C0.857676457,231.527488 0.010096897,232.718295 0.010096897,233.818951 L0.010096897,245.842945 C0.010096897,246.945345 0.905458867,247.839017 2.01288406,247.839017 L189.282927,247.839017 C190.389036,247.839017 191.285714,246.938685 191.285714,245.836252 L191.28571,167.164021 C191.28571,166.057925 190.432922,165.458462 189.392588,165.82103 L1.90321883,231.163106 Z" id="Rectangle-56" fill="#F0FAFF" filter="url(#filter-3)"></path>
                            <rect id="Rectangle-55" fill="#FFFFFF" filter="url(#filter-4)" x="0.57405349" y="0.0170657939" width="192" height="247" rx="2"></rect>
                            <g id="Oval-37-+-Shape-3" transform="translate(70.477723, 33.024877)" fill="#72DD7B">
                                <path d="M49.6087268,10.4794037 L18.9011642,41.150195 C18.4761461,41.5747042 17.8386188,41.5747042 17.4136006,41.150195 L10.5070554,34.2519202 C10.0820373,33.8274109 9.44451,33.1906471 9.01949184,32.7661379 L0.731637568,24.4882081 C0.3066194,24.0636988 0.3066194,23.426935 0.731637568,23.0024258 L7.63818279,16.1041509 C8.06320096,15.6796417 8.70072821,15.6796417 9.12574638,16.1041509 L17.4136006,24.3820808 C17.8386188,24.80659 18.4761461,24.80659 18.9011642,24.3820808 L41.214618,2.09534661 C41.6396362,1.67083738 42.2771635,1.67083738 42.7021816,2.09534661 L49.6087268,8.99362146 C50.033745,9.41813068 50.033745,10.0548945 49.6087268,10.4794037 Z" id="Shape-3"></path>
                            </g>
                            <rect id="Rectangle-56" fill="#E9F1F6" x="26.3585362" y="97.8903052" width="138.405172" height="6.38028169"></rect>
                            <rect id="Rectangle-57" fill="#E9F1F6" x="26.3585362" y="108.524108" width="138.405172" height="6.38028169"></rect>
                            <rect id="Rectangle-58" fill="#E9F1F6" x="26.3585362" y="119.157911" width="89.4310345" height="6.38028169"></rect>
                            <rect id="Rectangle-57" fill="#E9F1F6" x="26.3585362" y="138.298756" width="138.405172" height="6.38028169"></rect>
                            <rect id="Rectangle-58" fill="#E9F1F6" x="26.3585362" y="148.932559" width="138.405172" height="6.38028169"></rect>
                            <rect id="Rectangle-59" fill="#E9F1F6" x="26.3585362" y="159.566362" width="138.405172" height="6.38028169"></rect>
                            <rect id="Rectangle-60" fill="#E9F1F6" x="26.3585362" y="170.200164" width="121.37069" height="6.38028169"></rect>
                            <rect id="Rectangle-61" fill="#E9F1F6" x="26.3585362" y="189.341009" width="38.3275862" height="6.38028169"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>