<div class="container">
  <div class="row compliance-header hidden-xs text-center">
    <div class="col-sm-3 col-md-2 col-md-offset-2 text-center">
      {{> compliance_risk }}
      <h4>RISK ASSESSMENT</h4>
    </div>
    <div class="col-sm-3 col-md-2">
      {{> compliance_policies }}
      <h4>POLICIES & PROCEDURES</h4>
    </div>
    <div class="col-sm-3 col-md-2">
      {{> compliance_training }}
      <h4>TRAINING</h4>
    </div>
    <div class="col-sm-3 col-md-2">
      {{> compliance_security_ops }}
      <h4>SECURITY OPS</h4>
    </div>
  </div>
</div>

<div class="compliance-find-out">
  <a href="#start" class="js-scroll">
    <h4>FIND OUT HOW</h4>
    {{> compliance_find_out }}
  </a>
</div>
