<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg viewBox="0 0 270 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>compliance-training</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0354874321 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.081139606 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.081139606 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <linearGradient x1="68.4002459%" y1="126.188674%" x2="68.4002445%" y2="7.02060922%" id="linearGradient-4">
            <stop stop-color="#0080FF" offset="0%"></stop>
            <stop stop-color="#00C0FF" offset="100%"></stop>
        </linearGradient>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-5">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.112 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Compliance-Page-Desktop" sketch:type="MSArtboardGroup" transform="translate(-198.000000, -2795.000000)">
            <g id="Training" sketch:type="MSLayerGroup" transform="translate(199.000000, 2733.000000)">
                <g id="Left" transform="translate(0.000000, 115.000000)" sketch:type="MSShapeGroup">
                    <g id="desktop-copy">
                        <path d="M183,214 L183,212.41345 C175.733252,212.41345 170.887822,206.758394 170.887822,202.177827 C170.887822,202.177827 170.862658,202.175029 170.829106,202.166635 L170.829106,185 L96.1680976,185 L96.1680976,202.166635 C96.1345459,202.175029 96.112178,202.177827 96.112178,202.177827 C96.112178,206.758394 91.2695436,212.41345 84,212.41345 L84,214 L183,214 L183,214 Z" id="Shape" fill="#C2C1BC"></path>
                        <path d="M189,222 L189,218.980922 C189,215.692846 186.325951,213 183.054507,213 L82.9454929,213 C79.6768942,213 77,215.689984 77,218.980922 L77,222 L189,222 L189,222 Z" id="Shape" fill="#FFFFFF" filter="url(#filter-1)"></path>
                        <path d="M268,11.2784185 L268,163 L0,163 L0,11.2784185 C0,5.08535832 5.10347437,-4.26325641e-14 11.3617084,-4.26325641e-14 L256.638292,-4.26325641e-14 C262.899342,-3.26948182e-14 268,5.08535832 268,11.2784185 L268,11.2784185 Z" id="Shape" fill="#313131" filter="url(#filter-2)"></path>
                        <path d="M0,163 L0,177.292449 C0,183.745979 5.103528,189 11.3618278,189 L256.640989,189 C262.902105,189 268,183.743074 268,177.292449 L268,163 L0,163 L0,163 Z" id="Shape" fill="#FFFFFF" filter="url(#filter-3)"></path>
                        <path d="M251,143.213931 C251,145.297108 249.29547,147 247.210291,147 L14.7897094,147 C12.7045296,147 11,145.297108 11,143.213931 L11,16.7888652 C11,14.7028922 12.7045296,13 14.7897094,13 L247.207492,13 C249.292672,13 250.997201,14.7056884 250.997201,16.7888652 L250.997201,143.213931 L251,143.213931 Z" id="Shape" fill="url(#linearGradient-4)" filter="url(#filter-5)"></path>
                        <path d="M50,39 L50,126.190573 C50,127.735758 51.2566003,129 52.7924452,129 L212.207555,129 C213.7434,129 215,127.735758 215,126.190573 L215,39 L50,39 L50,39 Z" id="Shape" fill="#FFFFFF"></path>
                        <path d="M85.8712446,58.7272727 L73.4678112,71.8636364 C73.2961373,72.0454545 73.0386266,72.0454545 72.8669528,71.8636364 L70.0772532,68.9090909 C69.9055794,68.7272727 69.6480687,68.4545455 69.4763948,68.2727273 L66.1287554,64.7272727 C65.9570815,64.5454545 65.9570815,64.2727273 66.1287554,64.0909091 L68.9184549,61.1363636 C69.0901288,60.9545455 69.3476395,60.9545455 69.5193133,61.1363636 L72.8669528,64.6818182 C73.0386266,64.8636364 73.2961373,64.8636364 73.4678112,64.6818182 L82.4806867,55.1363636 C82.6523605,54.9545455 82.9098712,54.9545455 83.0815451,55.1363636 L85.8712446,58.0909091 C86.0429185,58.2727273 86.0429185,58.5454545 85.8712446,58.7272727 Z" id="Shape-3-Copy" fill="#72DD7B"></path>
                        <rect id="Rectangle-56-Copy" fill="#E9F1F6" x="95" y="59" width="99" height="7"></rect>
                        <rect id="Rectangle-56-Copy-2" fill="#E9F1F6" x="95" y="81" width="99" height="7"></rect>
                        <rect id="Rectangle-56-Copy-3" fill="#E9F1F6" x="95" y="105" width="99" height="7"></rect>
                        <path d="M85.8712446,80.7272727 L73.4678112,93.8636364 C73.2961373,94.0454545 73.0386266,94.0454545 72.8669528,93.8636364 L70.0772532,90.9090909 C69.9055794,90.7272727 69.6480687,90.4545455 69.4763948,90.2727273 L66.1287554,86.7272727 C65.9570815,86.5454545 65.9570815,86.2727273 66.1287554,86.0909091 L68.9184549,83.1363636 C69.0901288,82.9545455 69.3476395,82.9545455 69.5193133,83.1363636 L72.8669528,86.6818182 C73.0386266,86.8636364 73.2961373,86.8636364 73.4678112,86.6818182 L82.4806867,77.1363636 C82.6523605,76.9545455 82.9098712,76.9545455 83.0815451,77.1363636 L85.8712446,80.0909091 C86.0429185,80.2727273 86.0429185,80.5454545 85.8712446,80.7272727 Z" id="Shape-3-Copy-2" fill="#72DD7B"></path>
                        <path d="M85.8712446,104.727273 L73.4678112,117.863636 C73.2961373,118.045455 73.0386266,118.045455 72.8669528,117.863636 L70.0772532,114.909091 C69.9055794,114.727273 69.6480687,114.454545 69.4763948,114.272727 L66.1287554,110.727273 C65.9570815,110.545455 65.9570815,110.272727 66.1287554,110.090909 L68.9184549,107.136364 C69.0901288,106.954545 69.3476395,106.954545 69.5193133,107.136364 L72.8669528,110.681818 C73.0386266,110.863636 73.2961373,110.863636 73.4678112,110.681818 L82.4806867,101.136364 C82.6523605,100.954545 82.9098712,100.954545 83.0815451,101.136364 L85.8712446,104.090909 C86.0429185,104.272727 86.0429185,104.545455 85.8712446,104.727273 Z" id="Shape-3-Copy-3" fill="#72DD7B"></path>
                        <path d="M215,40 L215,33.1121857 C215,31.9516441 214.08687,31 212.964307,31 L52.0356925,31 C50.9187145,31 50,31.9516441 50,33.1121857 L50,40 L215,40 L215,40 Z" id="Shape" fill="#0561C8"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>