<div class="alert">
  <div class="text"></div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="name">Email:</label>
        <input type="text" name="email" class="form-control" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="body">Message:</label>
      <textarea class="form-control" name="message"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
    </div>
  </div>
</div>