<footer class="aptible-footer">
  <div class="aptible-mark"><div class="mark"></div></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">Platform</li>
              <li><a href="/technology">Technology</a></li>
              <li><a href="/compliance">Compliance</a></li>
              <li><a href="/customers">Customers</a></li>
              <li><a href="/pricing">Pricing</a></li>
              <li><a href="/faq">FAQ</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">Company</li>
              <li><a href="/company">About Us</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/company/careers/">Careers</a></li>
              <li><a href="/legal/terms_of_service.html">Legal</a></li>
              <li><a href="/company/press/">Press</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="nav">
              <li class="title">Support</li>
              <li><a href="http://contact.aptible.com">Contact Us</a></li>
              <li><a href="https://support.aptible.com/quickstart">Quickstart Guides</a></li>
              <li><a href="/legal/responsible_disclosure.html">Responsible Disclosure</a></li>
              <li><a href="{{config.status_url}}">Status</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-footer">
      <div class="sub-footer__section--copyright">© 2016 Aptible</div>
      <div class="sub-footer__section--social">
        <a class="social-link" href="https://twitter.com/aptible">{{> twitter}}</a>
        <a class="social-link" href="https://github.com/aptible">{{> github}}</a>
      </div>
    </div>
  </div>
</footer>
