<header class="primary-header">
  <nav class="navbar navbar-primary" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/assets/images/aptible-logo.png" alt="Aptible" />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="primary-nav">
        <ul class="nav nav-primary navbar-nav navbar-right">
          <li {{#is basename 'pricing'}} class="active"{{/is}}><a href="/pricing.html">Pricing</a></li>
          <li {{#is page.section 'Company'}} class="active"{{/is}}><a href="/company/about_us.html">Company</a></li>
          <li {{#is page.section 'Support'}} class="active"{{/is}} {{#is page.section 'Legal'}} class="active"{{/is}}><a href="/support/contact_support.html">Support</a></li>
          <li><a href="{{config.dashboard_signup_url}}" class="btn btn-sm btn-round btn-primary">Sign Up</a></li>
          <li><a href="{{config.dashboard_login_url}}" class="btn btn-sm btn-round btn-default">Log In</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container header-title-container">
    {{#if title}}
      <h1 class="primary-title">{{title}}</h1>
    {{/if}}
    {{#if sub_title}}
      <h2 class="primary-sub-title">{{sub_title}}</h2>
    {{/if}}
  </div>
</header>
