<header class="primary-header">
  <div class="primary-header-bg">
    {{> nav_bar }}
    {{#is dirname 'dist/compliance'}}
      {{> compliance_header }}
    {{/is}}
    {{#is dirname 'dist'}}
      {{> home_hero }}
    {{/is}}
    {{#if title}}
      <div class="container header-title-container">
        <h1 class="primary-title">{{title}}</h1>
        {{#if sub_title}}
          <h2 class="primary-sub-title">{{sub_title}}</h2>
        {{/if}}
      </div>
    {{/if}}
  </div>
</header>
