<div class="list-group">
  <li class="list-group-item list-group-title">Agreements</li>
  {{#withSort pages 'data.order' }}
    {{#is data.section 'Legal'}}
      {{#is data.sub_section 'Agreements' }}

        <a href="{{legal_path this}}" class="list-group-item">
          {{this.data.tracked_title}}
        </a>

      {{/is}}
    {{/is}}
  {{/withSort}}
</div>

<div class="list-group">
  <li class="list-group-item list-group-title">Policies</li>
  {{#withSort pages 'data.title'}}
    {{#is data.section 'Legal'}}
      {{#is data.sub_section 'Policies'}}

        <a href="{{ legal_path this}}" class="list-group-item">
          {{this.data.tracked_title}}
        </a>

      {{/is}}
    {{/is}}
  {{/withSort}}
</div>
