<nav class="navbar navbar-sub" role="navigation">
  <div class="container">
    <div class="clearfix visible-xs-block">
      <button type="button" class="navbar-toggle menu-label collapsed" data-toggle="collapse" data-target="#support-nav">
        Aptible Support
      </button>

      <button type="button" class="navbar-toggle menu-icon collapsed" data-toggle="collapse" data-target="#support-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="support-nav">
      <ul class="nav navbar-nav">
        <li {{#is basename 'index'}} class="active"{{/is}}><a href="/support">Contact Support</a></li>
        <li><a href="{{config.knowledge_base_url}}">Knowledge Base</a></li>
        <li {{#is dirname 'dist/legal'}} class="active"{{/is}}><a href="/legal/terms_of_service.html">Legal</a></li>
      </ul>
    </div>
  </div>
</nav>
