
    <!-- Fixed Diagram -->
    <section class="fixed-diagram">
      <section class="diagram">
        <div class="aws">
          <span class="title">AWS CLOUD</span>
          <div class="aptible-cloud">
            <span class="title">APTIBLE DEDICATED CLOUD</span>
            <div class="customer-vpc-dots">
              <div class="customer-vpc">
                <div class="public">
                  <span>PUBLIC SUBNET</span>
                  <div class="left">
                    <div class="http">HTTP/HTTPS</div>
                    <div class="load-balancer docker flex-center">
                      <img class="margin-right" src="/assets/images/tech/load-balancer-icon.svg">
                      Secure Load Balancing
                    </div>
                  </div>
                  <div class="right">
                    <div class="ssh">SSH</div>
                    <div class="bastion docker flex-center flex-column">
                      <img class="margin-bottom" src="/assets/images/tech/bastion-icon.svg">
                      Admin Access
                    </div>
                  </div>
                </div>
                <div class="private">
                  <span><img src="/assets/images/tech/lock-icon.svg">PRIVATE SUBNET</span>
                  <div class="app docker flex-center">
                    <img class="margin-right" src="/assets/images/tech/app-icon.svg">
                    Apps
                  </div>
                  <div class="database docker flex-center">
                    <img class="margin-right" src="/assets/images/tech/database-icon.svg">
                    Secure Databases
                  </div>
                </div>
              </div>

              <span class="loading-text">
                CREATING<br>YOUR VPC
              </span>

              <div class="loading-circle-1"></div>
              <div class="loading-circle-2">
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>


    <!-- Fixed Console -->
    <section class="fixed-console">
      <div class="console">
        <div class="base">
          <div class="header">

          </div>
          <div class="body">
            $ <span class="b1-text"></span><span class="blink">|</span>
          </div>
        </div>
      </div>
    </section>