.gridiron2__testimonial__quote
  %p{ style: 'padding-top: 60px;' } Aptible helped us immediately cut our sales cycle in half and win 5 more enterprise deals in our first quarter as a customer.
  .author DAN RYAN, CEO
.gridiron2__testimonial__image{ style: "background-image: url(/images/section-dividers/angle-bg-left.svg),url(/images/header-bottom-grid.svg),linear-gradient(43deg, #172231 0%, #172231 20%, #421832 100%);" }
  %img{ src: '/images/customers/vergesense.svg', style: 'display: block; margin: 160px auto 0;' }
