.gridiron2__testimonial__quote
  %img{ src: '/images/gridiron2/snaps.svg', style: 'width: 70px; margin-bottom: 10px;' }
  %p
    Our software is used by Fortune 100 companies, which means completing
    time-consuming vendor security assessments. Gridiron has helped us prepare
    for ISO 27001 certification, which is helping our team take a
    'preemptive strike' against VSAs and shorten the enterprise sales cycle.
  .author Joe Rettenmyer, VP of Engineering
.gridiron2__testimonial__image{ style: "background-image: url(/images/gridiron2/joe-rettenmyer.jpg);" }
