---
title: Aptible Blog
layout: application.hbs
section: Company
author_name: Sam Yount
author_email: 'sam@aptible.com'
author_id: sam
---

<div class="container main-content">

  {{> author_intro }}

  <div class="post-index author-archive">
    <div class="row section">
      <div class="col-sm-12">
        {{#withSort pages 'data.posted' dir='desc'}}
          {{#is data.section "Blog"}}
            {{#is data.author_id 'sam' }}
              {{> post_excerpt}}
            {{/is}}
          {{/is}}
        {{/withSort}}
      </div>
    </div>
  </div>
</div>
