---
layout: landing-page.hbs
title: UCSF Pride Study

get-started:
  title: Let's talk.
  sub-title: |-
    Find out how to get started with $500 credit
  cta:
    href: https://dashboard.aptible.com/signup?plan=development
    label: Open a Development Account
---
<div class="main" role="main">
  <header class="pride-study__header pride-study__hero">
    <div class="aptible-logo--white">{{> aptible}}</div>
    <h1 class="header-title">How can you change the world?</h1>
  </header>

  <div class="container pride-study__intro">
    <div class="section row">
      <div class="col-xs-12 col-sm-6">
        <div class="pride-study--gray-text">{{> the-pride-study}}</div>
        <h2>
          Mitchell Lunn, MD, and Juno Obedin-Maliver, MD, MPH are researchers at
          the University of California, San Francisco.
        </h2>
        <p>
          They are the principal investigators of The PRIDE Study, a
          large-scale, long-term health study of LGBTQ people, which aims to
          improve the health of LGBTQ people and their communities.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <figure>
          <img src="/pages/assets/customers/pridestudy/mitchell-lunn-juno-obedin-maliver.jpg">
          <figcaption>
            Mitchell Lunn, MD, and Juno Obedin-Maliver, MD, MPH.
            Credit Michael Macor, The Chronicle
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="section row pride-study__challenges">
      <div class="col-sx-12">
        <h2>
          Lunn and Obedin-Maliver’s design for PRIDE is an ambitious,
          multi-year study. They faced three key challenges:
        </h2>
      </div>
      <div class="col-xs-12 col-sm-4 pride-study__challenge">
        <h3>Challenge 1: Recruiting participants and collecting data</h3>
        <p>
          Participant engagement and long-term retention is critical to all
          longitudinal cohort studies.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 pride-study__challenge">
        <h3>Challenge 2: Scaling</h3>
        <p>
          The study needs to scale both horizontally in scope and vertically
          with more participants. Once the participant cohort is mature, the
          study design involves investigations into topics pertaining to
          specific medical and social issues.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 pride-study__challenge">
        <h3>Challenge 3: Maximizing funding</h3>
        <p>
          Using funding efficiently means reaching more participants and running
          the study for a longer period of time.
        </p>
      </div>
    </div>
  </div>

  <div class="pride-study__thread">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="pride-study__solution">
            To solve all three problems at once, Lunn and Obedin-Maliver partnered
            with <strong>THREAD Research</strong> to create a ResearchKit-based
            iPhone application.
          </div>
          <div class="pride-study__figures">
            <figure class="thread--green">{{> thread}}</figure>
            <figure class="rounded-plus">{{> rounded-plus}}</figure>
            <figure class="researchkit"></figure>
          </div>
        </div>
        <div class="hidden-xs col-sm-6">
          <figure class="pride-study__thread__iphone">
            <img src="/pages/assets/customers/pride-study-iphone.png">
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="pride-study__aptible hero--aptible">
    <div class="container">
      <h3 class="product-stack--title primary-sub-title">
        This introduced a fourth problem:
      </h3>
      <h1 class="product-stack--title primary-title">
        How would they host the ResearchKit<br>API backend and securely store the data?
      </h1>
      <div class="product-stack">
        <div class="product-stack--illustration">
          <img src="/assets/images/product-stack.png">
        </div>
        <div class="product-stack--feature">
          <figure class="aptible-logo--white">{{> aptible}}</figure>
          <h2 class="feature-title">
            The engineers at THREAD Research turned to Aptible.
          </h2>
          <div class="feature-body">
            <p>
              Built on Amazon Web Services, Aptible’s secure, compliant cloud
              platform allowed them to launch the study in less than 6 weeks,
              for 90% less than the cost of a traditional IT solution.
            </p>
            <p>
              Using Aptible helped Drs. Lunn and Obedin-Maliver quickly gain
              IRB and data security approvals from UCSF. Aptible’s stability
              and scaling performance make it ideal for a project that may
              eventually grow to a decades-long, global study involving millions
              of participants.
            </p>
            <a class="btn btn-lg btn-primary" href="/aws-vs-aptible/">Learn More about AWS &amp; Aptible</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pride-study__conclusion">
    <figure class="the-pride-study">{{> the-pride-study}}</figure>
    <div class="container">
      <div class="col-xs-12">
        <div class="pride-study__figures">
          <figure class="ucsf">{{> ucsf}}</figure>
          <figure class="rounded-plus">{{> rounded-plus}}</figure>
          <figure class="thread">{{> thread}}</figure>
          <figure class="rounded-plus">{{> rounded-plus}}</figure>
          <figure class="aptible">{{> aptible}}</figure>
        </div>
        <h2>
          UCSF, THREAD Research, and Aptible launched a world-class research study
          that will forever change how the LGBTQ community, health care
          professionals, policy-makers, and other researchers think.
        </h2>
      </div>
    </div>
  </div>

  <div class="pride-study__cta">
    <div class="container">
      <div class="row section get-started">
        {{> get_started }}
      </div>
    </div>
  </div>
</div>
