- content_for :header do
  -# NOTE: Add .aptible-header--with-breadcrumbs when restoring filters
  %header.aptible-header.hero-gradient--angled
    = partial 'partials/main-nav', locals: {      |
        section_title: 'Resources',               |
        section_url: '/resources/'                |
      }                                           |

-# TODO: Add filtering when we have more resources
-# .filter-state
-#   .grid-container
-#     %span.filter-state__subject Resources
-#     %span.filter-state__tag All

.content
  .grid-container.grid-container--no-padding
    .grid-document
      -# TODO: Add filtering when we have more resources
      -# .filter
      -#   .filter-label Resource Categories:
      -#   %a.filter-option{ href: '' } Compliance
      -#   %a.filter-option{ href: '' } Developer
      -#   %a.filter-option{ href: '' } Other
      -#   %a.filter-option.filter-option--selected{ href: '' } All

      .resources-list
        - resources_newest_first.each do |resource|
          = partial 'resource-item',  locals: { resource: resource }

    .grid-aside
      = partial 'resources-aside'
