---
layout: resource.haml
---
- @title = resource.title
- @description = resource.description || resource.excerpt
- if resource.webinar_video_link
  %p.text-center
    %iframe{ width: '560', height: '315', src: resource.webinar_video_link, frameborder: '0', allowfullscreen: 'allowfullscreen' }

= yield

- if resource.webinar_slides_link
  %h3 Slides
  %p
    %a{ href: resource.webinar_slides_link } View

- if resource.type == 'webinar'
  %h3#transcript Transcript
  - if resource.webinar_transcript_partial
    = partial(resource.webinar_transcript_partial)
  - else
    %em Coming Soon

  - if (prev_webinars = previous_webinars(resource)).count > 0
    %h3 Previous Webinars
    %ul
      - prev_webinars.each do |r|
        %li
          %a{ href: resource_path(r) }
            %strong= post_date(r.date)

- if resource.attachments
  .resource-docs
    - resource.attachments.each do |doc|
      %a.resource-doc{ href: doc.url, title: doc.title, data: { type: doc.type }, target: '_blank' }
        = partial '/images/aptible-small-mark.svg'
