---
layout: resource.haml
---
- if resource.webinarVideoLink
  %p.text-center
    %iframe{ width: '560', height: '315', src: resource.webinarVideoLink, frameborder: '0', allowfullscreen: 'allowfullscreen' }

= Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(config[:markdown])).render resource.content

- if resource.webinarSlidesLink
  %h3 Slides
  %p
    %a{ href: resource.webinarSlidesLink } View

- if resource.type == 'webinar'
  %h3#transcript Transcript
  - if resource.webinarTranscript
    = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(config[:markdown])).render resource.webinarTranscript
  - else
    %em Coming Soon

  - if (prev_webinars = previous_webinars(resource)).count > 0
    %h3 Previous Webinars
    %ul
      - prev_webinars.each do |r|
        %li
          %a{ href: resource_url(r) }
            %strong= post_date(r.date)



- if resource.attachments
  .resource-docs
    - resource.attachments.each do |doc|
      %a.resource-doc{ href: doc.url, title: doc.title, data: { type: doc.type }, target: '_blank' }
        = partial '/images/aptible-small-mark.svg'
