
%nav.nav-list--breadcrumb
  .grid-container
    %a.nav-item{:href => '/support'} Support
    %span.nav-item--separator
    - if quickstart? current_page.path
      %a.nav-item{:href => '/support/quickstart/'} Get Started Guides
      %span.nav-item--separator
      %a.nav-item{:href => ''}= @title
    - else
      %a.nav-item{:href => '/support/topics/'} Topics
      %span.nav-item--separator
        %a.nav-item{:href => ''}= title
