%a.nav-item{ class: active_nav_item('quickstart'), href: '/support/quickstart/' } Quickstart Guides
%a.nav-item{ class: active_nav_item('toolbelt'), href: '/support/toolbelt/' } Toolbelt
%a.nav-item{ class: active_nav_item('topics'), href: '/support/topics/' } Topics
