%a.nav-item{ href: '/support/quickstart/' } Getting Started
%a.nav-item{ href: '/support/toolbelt/' } Toolbelt
%a.nav-item{ href: '/support/topics/' } Topics

.nav--dashboard-auth
  %a.nav-item{ href: dashboard_href } Login
  %a.nav-item{ href: '/pricing'} Sign Up

.nav-item.nav-item--search
  %form#search-form{ action: '/support/search/', method: 'GET' }
    = partial 'images/icons/search-loop.svg'
    %input#swifttype-search-input.search--input{ type: 'search' }
