---
title: Refer a friend
description: Whether a company is working to prepare for a compliance audit, spends a significant amount of time completing Vendor Security Assessments, is searching for their first full time security hire, or is selling into the enterprise and needs help proving their security position, Aptible can help!
---

- content_for :header do
  %header.aptible-header.hero2__background.hero2__background--gridiron
    .hero2.gridiron2__hero
      = partial 'partials/aptible-mark'

      .hero2__container.hero2__container--gridiron
        .hero2__content__left
          .hero2__header-bar.gridiron Refer a friend to Aptible!
          %h1
            Aptible helps companies build their security management system and
            pass audits.
          %p.gridiron
            Whether a company is working to prepare for a compliance audit,
            spends a significant amount of time completing Vendor Security
            Assessments, is searching for their first full time security hire,
            or is selling into the enterprise and needs help proving their
            security position, Aptible can help!
          
          %p.gridiron
            Refer them to us and once they become a customer, you'll both get a
            $250 Amazon gift card!
          
          %p.gridiron
            To get started, send an email to
            <a href="mailto:referrals@aptible.com">referrals@aptible.com</a>
            with following information:

          %p.gridiron
            %ul
              %li Your name
              %li Your email
              %li Their name
              %li Their email address
              %li Their company
          
          %a.btn.btn--gridiron#cta-top{ href: "mailto:referrals@aptible.com" }
            Send Referral
            %i.far.fa-long-arrow-right
        
        .hero2__content__right
          %img{ src: '/images/gridiron2/desk.svg' }
