---
title: About Aptible
---
- content_for :header do
  %header.aptible-header.hero-gradient--angled.aptible-header--bottom-grid
    = partial 'partials/main-nav'

    .grid-container
      %h3.heading__subtitle Our Mission
      %h2.heading__title
        We help our customers work safely with the most meaningful,
        sensitive data in highly regulated industries.

.content
  .grid-container.grid--single-center
    .grid-item.grid-item--adjacent
      %h2.heading--single-center
        Help build the future of privacy and security on the web.

      %p.summary--single-center
        We are transforming the experience of building private, secure
        software systems in regulated industries. We started in digital
        health because the American healthcare system is broken and we want to
        empower those who can fix it. We're now working with companies of all industries to secure sensitive data. If you want to make a meaningful
        difference, join our team.

  .openings.grid-container.grid--3up
    = partial 'loading-indicator'
