---
section: Home
tracked_title: Home

hero_title: Secure, compliant cloud deployment for digital health.

# See partials/home_hero.hbs
product_stack:
  deployment:
    title: Simplify deployment.
    body: |-
      Deploy complex architectures easily and securely, with zero downtime. Use your existing code and workflows while we run your ops.
    cta:
      text: Aptible Deployment Platform
      href: /technology
  compliance:
    title: Streamline compliance.
    body: |-
      When we host your apps and databases, our HIPAA compliance platform streamlines your HIPAA Privacy, Security, and Breach Notification Rule efforts.
    cta:
      text: HIPAA Compliance Platform
      href: /compliance

# See partials/home_sections/why_aptible.hbs
why:
  title: Why choose Aptible?
  sub-title: |-
    Never have to choose between great engineering and compliance.
  lockin:
    title: Deploy with confidence
    description: |-
      One-click deployment, easily configured from the command line or
      our web dashboard. Designed to consolidate your security program and isolate vulnerabilities so your team can focus on your product.
    logo: /pages/assets/containers-small.png
    classNamr: containers
  compliance:
    title: Comprehensive compliance
    description: |-
      Seamlessly integrated advanced  tools to generate all of the documentation, audit logs, and evidence you need to  demonstrate compliance with every aspect of HIPAA.
    logo: /pages/assets/compliance/hipaa-compliance.png
    className: compliance
  workflow:
    title: Your workflow, our platform
    description: |-
      Run the languages, frameworks, and  databases of your choice. We handle servers, network topology, backups, encryption, backend access, and more. Integration is as simple as adding a single file to your codebase.
    logo: /pages/assets/workflow.svg
    className: workflow

# See partials/home_sections/testimonial.hbs
testimonial:
  image: /pages/assets/compliance/ian.png
  copy: |-
    Aptible takes the pain out of HIPAA compliance. We saved a huge amount of
    time and money, and avoided risk by partnering with them.
  author: Ian Yamey - CTO, PolicyGenius
  read_more: /customers

# See partials/home_sections/get_started.hbs
get-started:
  title: Let's get started
  sub-title: |-
    No contracts, no risk. Open a Development Account today with $500 free credit.
  cta:
    href: https://dashboard.aptible.com/signup?plan=development
    label: Open a Development Account
  pricing:
    label: View our pricing
---
<div class="container">
  {{> credibility }}

  {{> why_aptible }}

  {{> testimonial }}

  <div class="row section get-started">
    {{> get_started }}
  </div>
</div>
