---
section: Home
tracked_title: Home

hero_title: Secure, compliant cloud deployment for digital health.

# See partials/home_hero.hbs
product_stack:
  deployment:
    title: Simplify deployment.
    body: |-
      Eliminate complex software releases with one-click deployment and zero downtime to rollbacks. Implement your existing code and workflows while we run your ops.
    cta:
      text: Aptible Deployment Platform
      href: /technology
  compliance:
    title: Streamline compliance.
    body: |-
      Because we run your platform, our HIPAA Compliance Engines streamline every component of the HIPAA Privacy, Security, and Breach Notification Rules.
    cta:
      text: HIPAA Compliance Engines
      href: /compliance

# See partials/home_sections/why_aptible.hbs
why:
  title: Why choose Aptible?
  sub-title: |-
    Never have to choose between great engineering and comprehensive compliance.
  lockin:
    title: Deploy with confidence
    description: |-
      One-click deployement, easily configured from the command line or from
      our web dashboard. Our tools are designed to consolidate your security
      program and isolate vulnerabilities so your team can focus on
      application-level development.
    logo: /pages/assets/containers-small.png
    classNamr: containers
  compliance:
    title: Comprehensive compliance
    description: |-
      Seamlessly integrate advanced  tools to generate all of the documentation,
      audit logs, and materials you need to comply with every aspect of HIPAA.
      Integration is as simple as adding a single file to your codebase.
    logo: /pages/assets/compliance/hipaa-compliance.png
    className: compliance
  workflow:
    title: Your workflow, our platform
    description: |-
      Run the languages, frameworks, and databases of your choice while
      we run the servers, topology, backups, encryption, permissions and more.
      Integration is as simple as adding a single file to your codebase.
    logo: /pages/assets/workflow.svg
    className: workflow

# See partials/home_sections/testimonial.hbs
testimonial:
  image: /pages/assets/compliance/ian.png
  copy: |-
    Aptible takes the pain out of HIPAA compliance. We saved a huge amount of
    time and money, and avoided risk by partnering with them.
  author: Ian Yamey - CTO, PolicyGenius

# See partials/home_sections/get_started.hbs
get-started:
  title: Let's get started
  sub-title: |-
    No contracts, no risk. Open a Development Account today with $500 free credit.
  cta:
    href: https://dashboard.aptible.com/signup?plan=development
    label: Open a Development Account
  pricing:
    label: View our pricing
---
<div class="container">
  {{> credibility }}

  {{> why_aptible }}

  {{> testimonial }}

  {{> get_started }}
</div>
