<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <!-- Intentionally slugify the page title into the body classes -->
  <body
    class="aptible-com {{#if id}}{{slugify id}}{{/if}} {{slugify title}} {{slugify page.section}} {{slugify basename}}">

    {{#is page.section 'Home'}}
      <div class="notice">
        <a href="/blog/common_HIPAA_questions.html">Aptible answers common HIPAA compliance questions</a>
      </div>
    {{/is}}

    {{> header}}

    <div class="main" role="main">
      {{#is page.section 'Company'}}
        {{> company_nav}}
      {{/is}}

      {{#is page.section 'Legal'}}
        {{> company_nav}}
      {{/is}}

      {{> body}}
    </div>

    {{> footer}}
    {{> javascripts}}
  </body>
</html>
