<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <!-- Intentionally slugify the page title into the body classes -->
  <body
    class="aptible-com {{#if id}}{{slugify id}}{{/if}} {{slugify title}} {{slugify page.section}} {{slugify basename}}">

    {{> header}}

    <div class="main" role="main">
      {{#is page.section 'Company'}}
        {{> company_nav}}
      {{/is}}

      {{#is page.section 'Support'}}
        {{> support_nav}}
      {{/is}}

      {{#is page.section 'Legal'}}
        {{> support_nav}}
      {{/is}}

      {{> body}}
    </div>

    {{> footer}}
    {{> javascripts}}
  </body>
</html>