---
layout: application.hbs
---

<div class="container main-content">
  <div class="row section">
    <div class="col-sm-3">
      {{> legal_index}}
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      {{#markdown}}
        {{> body}}
      {{/markdown}}
    </div>
  </div>
</div>