---
layout: application.hbs
---

<div class="container main-content">
  <div class="row section">
    <div class="col-md-3 col-sm-3">
      {{> legal_index}}
    </div>
    <div class="col-md-7 col-md-offset-1 col-sm-9">
      {{#markdown}}
        {{> body}}
      {{/markdown}}
    </div>
  </div>
</div>