- content_for :header do
  %header.aptible-header.hero-gradient--angled
    = partial 'partials/main-nav'

    .grid-container.grid--2up
      .grid-item.product-page__hero-header
        %h2.heading__subtitle Secure DevOps
        %h1.heading__title Enclave
        %p.heading__summary--light-blue
          Aptible Enclave is a container platform that simplifies secure
          deployment and development best practices. Unlike using IaaS
          directly, Enclave is turnkey for regulated apps, and includes robust
          DevOps and security automation.

        %p.heading__summary--light-blue
          %a.btn{ href: open_account_href } Open a Development Account
          %a.btn.btn--outline{ href: '/pricing' } See Pricing

      .grid-item.product-page__enclave
        = partial '/images/enclave.svg'

.content
  .grid-container.grid-container--bordered.grid--single-center

= partial 'partials/resources-footer'
