---
title: Security Management and Compliance for Developers
description: Deploy your app. Design your security management program. Meet the requirements of HIPAA, ISO 27001, SOC 2, PCI, and more.
---

- content_for :header do
  %header.aptible-header.hero2__background
    = partial 'partials/main-nav'

    .hero2
      .hero2__container
        .hero2__content__left.home2__hero-content
          %h1.cd-headline.rotate-1
            From zero to
            %span.cd-words-wrapper
              %b.is-visible HIPAA
              %b GDPR
              %b ISO 27001
              %b SOC 2
          %p
            Aptible helps teams
            %a.gridiron{ href: '/gridiron/' } pass information security audits
            and
            %a.enclave{ href: '/enclave/' }deploy audit-ready apps and databases

          %input#email{ type: 'email', placeholder: 'you@workdomain.com' }
          %a.btn.btn-inside-input.btn--enclave#cta-top
            Get Started Now
            %i.far.fa-long-arrow-right
          = partial 'partials/ctas/marketing-consent'

        .hero2__content__right
          .home2__testimonial__single
            .home2__testimonial__single__photo{ style: 'background-image: url(/images/gridiron2/ari-brenner.jpg)' }
            .home2__testimonial__single__content
              .home2__testimonial__logo
                %img{ src: '/images/gridiron2/stellar.svg' }
              .home2__testimonial__text
                We needed to go from zero to HIPAA-compliant quickly, and Aptible was the only way we could do it.
              .home2__testimonial__author Ari Brenner - COO


.angled-section-dividers
%section
  .gridiron2__content-block{ style: 'margin-bottom: -100px;'}
    .gridiron2__compliance-row
      .gridiron2__compliance-cell.left
        %h2 Gridiron
        %p Design, operate, and audit your information security management program with a process that’s fast, relevant, and cost-effective.
        %a{ href: '/gridiron/', style: 'color: #af1aea' }
          Learn More About Gridiron
          %i.far.fa-long-arrow-right

      .gridiron2__compliance-cell.right
        %h2 Enclave
        %p Platform as a Service that automatically implements the security controls you need to achieve regulatory compliance and pass audits.
        %a{ href: '/enclave/' }
          Learn More About Enclave
          %i.far.fa-long-arrow-right


%section
  .gridiron2__content-block
    %h1
      Aptible enables growing companies to earn and keep customer trust by
      quickly making them audit-ready and secure.

    .text-center
      %img{ src: '/images/gridiron2/logo-row.svg', style: 'padding: 10px 0 80px 0' }
    
    .home2__testimonial__half__container
      .home2__testimonial__half
        .home2__testimonial__single__content
          .home2__testimonial__logo
            %img{ src: '/images/gridiron2/mdsave.svg', style: 'width: 60px;' }
          .home2__testimonial__text
            Aptible enabled us to develop our application more efficiently and to breeze through hospital security audits, saving us effort and speeding up our sales process.
          .home2__testimonial__author Ryan Aipperspach - CTO

      .home2__testimonial__half
        .home2__testimonial__single__content
          .home2__testimonial__logo
            %img{ src: '/images/gridiron2/vergesense.svg' }
          .home2__testimonial__text
            Aptible helped us immediately cut our sales cycle in half and win 5 more enterprise deals in our first quarter as a customer.
          .home2__testimonial__author Dan Ryan - CEO
    
    .home2__testimonial__full
      .home2__testimonial__full_content
        .home2__testimonial__single__content
          .home2__testimonial__logo
            %img{ src: '/images/gridiron2/healthify.svg' }
          .home2__testimonial__text
            When evaluating a vendor, our priorities were trust, transparency, and reliability. Aptible hits them all, allowing us to focus on what we do without worrying about all the layers of legal and technical ops hurdles.
          .home2__testimonial__author Alex Villa - COO
      .home2__testimonial__full_image{ style: 'background-image: url(/images/gridiron2/alex-villa.jpg)' }


%section
  .gridiron2__content-block
    %h1 Gain new insights and level up your compliance knowledge from Aptible’s team of compliance and security experts

    .gridiron2__compliance-row
      .gridiron2__compliance-cell.left
        %img{ src: '/images/gridiron2/icon-hipaa.svg' }
        %h2 HIPAA Compliance Guide
        %p Explosive growth in digital health over the last few years means there are many developers and managers who haven’t worked under HIPAA before. This guide is written for startups (and small businesses operating online) who could use some help with the basics of HIPAA compliance.
        %a{ href: '/hipaa/' }
          Check out the guide
          %i.far.fa-long-arrow-right

      .gridiron2__compliance-cell.right
        %img{ src: '/images/gridiron2/icon-gdpr.svg' } 
        %h2 GDPR Compliance Guide
        %p The overarching goals of the GDPR are to give control back to EU citizens and residents over their personal data, simplify and harmonize the regulatory environment for international business by unifying regulation within the EU, and address the export of personal data outside the EU.
        %a{ href: '/gdpr/' }
          Check out the guide
          %i.far.fa-long-arrow-right
    
    .gridiron2__compliance-row
      .gridiron2__compliance-cell.left
        %p ISO 27001 Compliance Guide Coming Soon

      .gridiron2__compliance-cell.right
        %p SOC 2 Compliance Guide Coming Soon


.content.angled-section-divider--left
.content.angled-section-gradient
  = partial "partials/gridiron2/bottom-cta-newsletter"


- content_for :page_javascript do
  :javascript
    animateHeadline();

    $(function() {
      // Send email and marketing preferences to /signup/
      $('#cta-top').on('click', function(e) {
        e.preventDefault();

        var email = $('#email').val();
        var marketingConsent = $("input[name='marketing_consent']:checked").val();

        if (email.length > 0 && email.indexOf('@') !== -1) {
          window.location = '/signup/?' + 'email=' + email + '&marketing_consent=' + marketingConsent;
        }
      });
    });
