---
title: Security Management and Compliance for Developers
description: Deploy your app. Design your security management program. Meet the requirements of HIPAA, ISO 27001, SOC 2, PCI, and more.
---

- content_for :header do
  %header.aptible-header.hero2__background
    = partial 'partials/main-nav'

    .hero2
      .hero2__container
        .hero2__content__left.home2__hero-content
          %h1.cd-headline.rotate-1
            From zero to
            %span.cd-words-wrapper
              %b.is-visible HIPAA
              %b GDPR
              %b ISO 27001
              %b SOC 2
          %p
            Aptible helps teams
            %a.gridiron{ href: '/gridiron/' } pass information security audits
            and
            %a.enclave{ href: '/enclave/' }deploy audit-ready apps and databases

          %input#email{ type: 'email', placeholder: 'you@workdomain.com' }
          %a.btn.btn-inside-input.btn--enclave
            Get Started Now
            %i.far.fa-long-arrow-right
          = partial 'partials/ctas/marketing-consent'

        .hero2__content__right
          .home2__testimonial__single
            .home2__testimonial__single__photo{ style: 'background-image: url(/images/gridiron2/ari-brenner.jpg)' }
            .home2__testimonial__single__content
              .home2__testimonial__logo
                %img{ src: '/images/gridiron2/stellar.svg' }
              .home2__testimonial__text
                We needed to go from zero to HIPAA-compliant quickly, and Aptible was the only way we could do it.
              .home2__testimonial__author Ari Brenner - COO


.angled-section-dividers
%section
  .gridiron2__content-block
    %h1
      The most innovative companies use Aptible to protect sensitive data and 
      keep their organizations compliant with critical regulatory frameworks.

    .text-center
      %img{ src: '/images/gridiron2/logo-row.svg', style: 'padding: 10px 0 80px 0' }
    
    .home2__testimonial__half__container
      .home2__testimonial__half
        .home2__testimonial__single__content
          .home2__testimonial__logo
            %img{ src: '/images/gridiron2/mdsave.svg', style: 'width: 60px;' }
          .home2__testimonial__text
            Aptible enabled us to develop our application more efficiently and to breeze through hospital security audits, saving us effort and speeding up our sales process.
          .home2__testimonial__author Ryan Aipperspach - CTO

      .home2__testimonial__half
        .home2__testimonial__single__content
          .home2__testimonial__logo
            %img{ src: '/images/gridiron2/vergesense.svg' }
          .home2__testimonial__text
            Aptible helped us immediately cut our sales cycle in half and win 5 more enterprise deals in our first quarter as a customer.
          .home2__testimonial__author Dan Ryan - CEO
    
    .home2__testimonial__full
      .home2__testimonial__full_content
        .home2__testimonial__single__content
          .home2__testimonial__logo
            %img{ src: '/images/gridiron2/healthify.svg' }
          .home2__testimonial__text
            When evaluating a vendor, our priorities were trust, transparency, and reliability. Aptible hits them all, allowing us to focus on what we do without worrying about all the layers of legal and technical ops hurdles.
          .home2__testimonial__author Alex Villa - COO
      .home2__testimonial__full_image{ style: 'background-image: url(/images/gridiron2/alex-villa.jpg)' }


.content.angled-section-divider--left
.content.angled-section-gradient
  = partial "partials/gridiron2/bottom-cta-newsletter"


- content_for :page_javascript do
  :javascript
    animateHeadline();
