---
---

= partial 'partials/header', locals: { |
    subtitle: 'Aptible UI Kit',        |
    title: 'Navigation'                |
  }                                    |

.content
  .grid-container
    %h2 Header Nav
  %header.aptible-header
    .nav--flex.nav--header.grid-container
      = partial 'partials/aptible-mark'
      %nav.nav-list.nav-list--center
        %a.nav-item{:href => ""} Compliance
        %a.nav-item.nav-item--active{:href => ""} Pricing
        %a.nav-item.nav-list{:href => ""}
          Customers
          %nav.nav-list
            %a.nav-item{:href => "customers/ucsf-pride-study/"} UCSF Pride Study
            %a.nav-item{:href => "customers/telepharm/"} Telepharm
      %nav.nav-list.nav-list--right
        %a.nav-item{:href => ""} Login
        %button.nav-item.btn Sign Up
  .code.grid-container
    .code__heading
      .code__heading-action
      .code__heading-action
      .code__heading-action
    %pre.code__body
      :preserve
          &lt;nav class=&quot;nav-list--breadcrumb&quot;&gt;
            &lt;div class=&quot;grid-container&quot;&gt;
              &lt;a class=&quot;nav-item&quot; href=&quot;&quot;&gt;Support&lt;/a&gt;
              &lt;span class=&quot;nav-item--separator&quot;&gt;&lt;/span&gt;
              &lt;a class=&quot;nav-item&quot; href=&quot;&quot;&gt;Quickstart Guides&lt;/a&gt;
              &lt;span class=&quot;nav-item--separator&quot;&gt;&lt;/span&gt;
              &lt;a class=&quot;nav-item&quot; href=&quot;&quot;&gt;Ruby on Rails&lt;/a&gt;
            &lt;/div&gt;
          &lt;/nav&gt;

  .grid-container
    %h2 Breadcrumb
  %nav.nav-list--breadcrumb
    .grid-container
      %a.nav-item{:href => ""} Support
      %span.nav-item--separator
      %a.nav-item{:href => ""} Quickstart Guides
      %span.nav-item--separator
      %a.nav-item{:href => ""} Ruby on Rails
  .code.grid-container
    .code__heading
      .code__heading-action
      .code__heading-action
      .code__heading-action
    %pre.code__body
      :preserve

              <nav class="nav-list--breadcrumb">
                <div class="grid-container">
                  <a class="nav-item" href="">Support</a>
                  <span class="nav-item--separator"></span>
                  <a class="nav-item" href="">Quickstart Guides</a>
                  <span class="nav-item--separator"></span>
                  <a class="nav-item" href="">Ruby on Rails</a>
                </div>
              </nav>
              
  .grid-container
    %h2 Nav Bar
    %nav.nav-bar
      %a.nav-bar__nav-item.nav-item{:href => ""} The Stack
      %a.nav-bar__nav-item.nav-item{:href => ""} The Network
      %a.nav-bar__nav-item.nav-item{:href => ""} Load Balancing
      %a.nav-bar__nav-item.nav-item{:href => ""} Team Access
      %a.nav-bar__nav-item.nav-item{:href => ""} Apps
      %a.nav-bar__nav-item.nav-item{:href => ""} Databases
    .code
      .code__heading
        .code__heading-action
        .code__heading-action
        .code__heading-action
      %pre.code__body
        :preserve

                  <nav class="nav-bar">
                    <a class="nav-item" href="">The Stack</a>
                    <a class="nav-item" href="">The Network</a>
                    <a class="nav-item" href="">Load Balancing</a>
                    <a class="nav-item" href="">Team Access</a>
                    <a class="nav-item" href="">Apps</a>
                    <a class="nav-item" href="">Databases</a>
                  </nav>
