---
section: 'ui-kit'
slug: 'navigation'
title: 'Navigation'
---

- content_for :header do
  = partial 'partials/ui-kit-header'

.content
  .grid-container
    %h2 Header Nav
    %pre.highlight.plaintext
      %code
        %table.rouge-table
          %tbody
            %tr
              %td.rouge-gutter.gl
              %td.rouge-code
                %pre
                  :preserve
                    .nav--flex.nav--header.grid-container
                      .nav-list--left
                        %a{ href: '/' }= partial 'partials/aptible-mark'
                        - if defined? section_title
                          %h2.aptible-mark__title
                            %a{ href: section_url }= section_title
                      %nav.nav-list.nav-list--right
                        %a.nav-toggle
                          .nav-toggle__expand
                            %span.nav-toggle__icon-bar
                            %span.nav-toggle__icon-bar
                            %span.nav-toggle__icon-bar
                          %span.nav-toggle__label Menu

                        .nav-item.nav-parent{ tabindex: 0 }
                          %a.nav-item.nav-item--parent{ href: '/enclave/' } Products
                          %nav.nav-list__child-nav
                            %a.nav-item{ href: '/enclave/', class: active_nav_item('enclave') } Enclave
                            %a.nav-item{ href: '/gridiron/', class: active_nav_item('gridiron') } Gridiron

                        %a.nav-item{ href: '/pricing/', class: active_nav_item('pricing') } Pricing

                        .nav-item.nav-parent{ tabindex: 0 }
                          %a.nav-item.nav-item--parent{ href: '/support/' } Developers
                          %nav.nav-list__child-nav
                            %a.nav-item{ href: '/support/topics/' } Documentation
                            %a.nav-item{ href: '/resources/' } Resources
                            %a.nav-item{ href: '/support/quickstart/' } Quickstart Guides
                            %a.nav-item{ href: contact_href } Open a Ticket
                            %a.nav-item{ href: status_href } Status
                            %a.nav-item{ href: 'http://github.com/aptible', target: '_blank' } Github

                        .nav-item.nav-parent{ tabindex: 0 }
                          %a.nav-item.nav-item--parent{ href: '/company/' } Company
                          %nav.nav-list__child-nav
                            %a.nav-item{ href: '/company/' } About Aptible
                            %a.nav-item{ href: '/customers/' } Our Customers
                            %a.nav-item{ href: '/faq/' } FAQ
                            %a.nav-item{ href: '/legal/' } Legal
                            %a.nav-item{ href: '/blog/' } Blog
                            %a.nav-item{ href: '/media/' } Media Kit

                        %a.nav-item{ href: dashboard_href } Login
                        .nav-item= partial 'partials/signup-cta', locals: {      |
                                      cta_label: 'Get Started',                  |
                                      cta_placeholder: 'Enter your work email',  |
                                      class_name: 'signup-cta--small'            |
                                    }                                            |

  .grid-container
    %h2 Breadcrumb
  %nav.nav-list--breadcrumb
    .grid-container
      %a.nav-item{:href => ""} Support
      %span.nav-item--separator
      %a.nav-item{:href => ""} Quickstart Guides
      %span.nav-item--separator
      %a.nav-item{:href => ""} Ruby on Rails

  .grid-container
    %pre.highlight.plaintext
      %code
        %table.rouge-table
          %tbody
            %tr
              %td.rouge-gutter.gl
              %td.rouge-code
                %pre
                  :preserve
                    %nav.nav-list--breadcrumb
                      .grid-container
                        %a.nav-item{:href => ""} Support
                        %span.nav-item--separator
                        %a.nav-item{:href => ""} Quickstart Guides
                        %span.nav-item--separator
                        %a.nav-item{:href => ""} Ruby on Rails

  .grid-container
    %h2 Back / Forward Links
    %p
      %a.arrow-link--left{ href: '/support/quickstart/' } Arrow Link Left
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      %a.arrow-link--right{ href: '/support/quickstart/' } Arrow Link Right

    %pre.highlight.plaintext
      %code
        %table.rouge-table
          %tbody
            %tr
              %td.rouge-gutter.gl
              %td.rouge-code
                %pre
                  :preserve
                    %a.arrow-link--left{ href: '...' } Arrow link left
                    %a.arrow-link--right{ href: '...' } Arrow link right

  .grid-container
