---
section: 'ui-kit'
slug: 'typography'
title: 'Typography'
---

- content_for :header do
  = partial 'partials/ui-kit-header'

.content
  .grid-container
    %header
      %h2 Subheading
      %h1 Headline
      %p.tagline
        You can add inline
        %code clode blocks
        with the
        %code &lt;code&gt;
        tag.
    .code
      .code__heading
        .code__heading-action
        .code__heading-action
        .code__heading-action
      %pre.code__body
        :preserve
            &lt;header&gt;
              &lt;h2 class=""&gt;Subheading&lt;/&gt;
              &lt;h1 class=""&gt;Headline&lt;/&gt;
            &lt;/header&gt;
