---
section: 'ui-kit'
slug: 'typography'
title: 'Typography'
---

- content_for :header do
  = partial 'partials/ui-kit-header'

.content
  .grid-container
    %h1.heading-1 h1 Gibson SemiBold 75px
    %h2.heading-2 h2 Gibson SemiBold 50px
    %h3.heading-3 h3 Gibson Bold 26px
    %h4.heading-4 h4 Gibson Light 24px
    %h5.heading-5 h5 Gibson Regular 19px
    %h6.heading-6 h6 Gibson SemiBold 16px

    %p
      Body style 1 Gibson Light 16px/25px
    %p
      Lipsum dolor sit amet, consectetur adipiscing elit. Quisque
      vestibulum, nibh pellentesque vestibulum mattis, lacus tortor posuere
      nulla, vel sagittis risus mauris ac tortor. Vestibulum et lacus a
      tellus sodales iaculis id vel dui. Etiam euismod lacus ornare risus
      egestas dignissim. Fusce mattis justo vitae congue varius.
      Suspendisse auctor dapibus ornare. Praesent venenatis lacus a sem
      interdum tempor et vitae magna. Aenean vel consectetur odio.
      Curabitur malesuada scelerisque massa varius volutpat.


    %header.aptible-header
      %h2.heading__subtitle Header Heading Subtitle
      %h1.heading__title Header Heading

    %p.tagline
      You can add inline
      %code clode blocks
      with the
      %code &lt;code&gt;
      tag.
    .code
      .code__heading
        .code__heading-action
        .code__heading-action
        .code__heading-action
      %pre.code__body
        :preserve
            &lt;header&gt;
              &lt;h2 class=""&gt;Subheading&lt;/&gt;
              &lt;h1 class=""&gt;Headline&lt;/&gt;
            &lt;/header&gt;
