---
title: Contact Aptible Support
description: "Aptible's support contact page"
posted: 2014-06-30
section: Support
---

<div class="container">
  <div class="row section">
    <div class="col-sm-8 col-sm-offset-2">

      <div class="panel panel-default">

        <div class="panel-body-subdued">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">{{fa 'search'}}</span>
              <form method="get" action="{{config.knowledge_base_search_url}}">
                <input type="hidden" name="utf8" value="✓" />
                <input type="hidden" nname="commit" value="search" />
                <input type="text" name="query" class="form-control" placeholder="Search Our Knowledge Base">
              </form>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <h1 class="panel-title">How Can We Help?</h1>
          <h5 class="panel-sub">Whether you have questions about your account, the Aptible <br>platform, or compliance, we're here to help 24/7.</h5>

          <div class="contact-form">
            <form>
              <input type="hidden" name="action" value="submitted_support_form" />
             {{> contact_form}}
            </form>
          </div>
        </div>
      </div>

      <div class="contact-support-email">
        <h4>Email Support {{mailto config.support_email}}</h4>
      </div>

    </div>
  </div>
</div>