---
title: Support Plans
tracked_title: Support Plans
id: support-plans
description: "Aptible support plans"
posted: 2016-02-02

---

<div class="container">
  <div class="row section bordered">
    <div class="col-md-12">

      <table class="support-plan-tiers">
        <thead>
          <tr>
            <th></th>
            <th>Business</th>
            <th>Premium</th>
            <th>Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Technical Support</td>
            <td>Aptible Support Team</td>
            <td>Aptible Support Team</td>
            <td>Dedicated Technical Support Engineer</td>
          </tr>
          <tr>
            <td>Target Response Times,<br>by Case Severity</td>
            <td>
              <p>Normal: < 12 hours</p>
              <p>Low: < 24 hours</p>
            </td>
            <td>
              <p>Urgent: < 1 hour</p>
              <p>High: < 6 hours</p>
              <p>Normal: < 12 hours</p>
              <p>Low: < 24 hours</p>
            </td>
            <td>
              <p>Critical: < 15 minutes</p>
              <p>Urgent: < 1 hour</p>
              <p>High: < 6 hours</p>
              <p>Normal: < 12 hours</p>
              <p>Low: < 24 hours</p>
            </td>
          </tr>
          <tr>
            <td>Architecture Support</td>
            <td>Add-on</td>
            <td>Add-on</td>
            <td>
              Real-time support for planned architectural,
              scaling, and migration events.
            </td>
          </tr>
          <tr>
            <td>VPN Support and Training</td>
            <td>Add-on</td>
            <td>Add-on</td>
            <td>Includes initial training and 5 hours/month of VPN support.</td>
          </tr>
          <tr>
            <td>Account Assistance</td>
            <td>Aptible Customer Success Team</td>
            <td>Aptible Customer Success Team</td>
            <td>Dedicated Technical Account Manager</td>
          </tr>
          <tr>
            <td>Support Portal Access</td>
            <td>Standard</td>
            <td>
              Admin - Designate team members who can manage all tickets across
              your organization.
            </td>
            <td>
              Admin - Designate team members who can manage all tickets across
              your organization.
            </td>
          </tr>
          <tr>
            <td>Channels</td>
            <td>Email, Portal</td>
            <td>Email, Portal, Slack</td>
            <td>Email, Portal, Slack, Phone</td>
          </tr>
          <tr>
            <td>Pricing</td>
            <td>Included with every Aptible account</td>
            <td>Greater of $499/mo or 10% of monthly Aptible invoice</td>
            <td>Greater of $4,999/mo or 10% of monthly Aptible invoice</td>
          </tr>
          <tr>
            <td>Number of Seats</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
          </tr>
          <tr>
            <td>Number of Cases</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="section row bordered">
      <div class="col-sm-12">
        <h2 class="text-hero__title">Target Response Times</h2>
        <p class="text-hero__sub-title">
          We will use all reasonable efforts to provide responses within these
          time frames.
        </p>
        <table class="response-times-description support-plan-tiers">
          <thead>
            <tr>
              <th></th>
              <th>Critical</th>
              <th>Urgent</th>
              <th>High</th>
              <th>Normal</th>
              <th>Low</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Target Response Time</td>
              <td>< 15 minutes</td>
              <td>< 1 hour</td>
              <td>< 6 hours</td>
              <td>< 12 hours</td>
              <td>< 24 hours</td>
            </tr>
            <tr>
              <td>Severity</td>
              <td>Your business is at risk. Critical functions of your application are unavailable.</td>
              <td>Your business is significantly impacted. Important functions of your application are unavailable.</td>
              <td>Important functions of your application are impaired or degraded.</td>
              <td>Non-critical functions of your application are behaving abnormally, or you have a time-sensitive development question.</td>
              <td>You have a general development question, or you want to request a feature.</td>
            </tr>
            <tr>
              <td>Support Hours</td>
              <td>24/7</td>
              <td>24/7</td>
              <td>24/7</td>
              <td>Business Hours</td>
              <td>Business Hours</td>
            </tr>
          </tbody>
        </table>

      </div>
  </div>
  <div class="section row">
    <div class="col-sm-12">
      <h2 class="text-hero__title">Support Add-ons</h2>
      <table class="small-hero-list">
        <tr>
          <th>VPN Training</th>
          <td>$799/hour,<br>5 hour minimum per month</td>
        </tr>
        <tr>
          <th>Architectural Training</th>
          <td>$799/hour,<br>5 hour minimum per month</td>
        </tr>
      </table>
    </div>
  </div>

</div>
