---
title: Technology
tracked_title: Technology
id: technology
introduction:
  title: Aptible Container Platform
  body: |-
    Deploy Docker containers into secure, isolated, HIPAA-ready environments.
stack:
  title: Aptible Container Platform
  body: |-
    The Aptible Container Platform is a deployment platform designed to securely deploy Docker containers into HIPAA-ready environments. We manage zero-downtime deployments, scale your clusters, encrypt and back up your data, and run your ops, allowing you to focus on development.
network:
  title: Secure Networks
  body: |-
    Each PHI-ready stack runs in its own AWS Virtual Private Cloud. Databases and internal services run in a private subnet, inaccessible from the Internet. All stack instances are configured with deny-by-default firewalls.
load_balancing:
  title: Easy, Secure Load Balancing
  body: |-
    Each SSL/TLS endpoint receives a dedicated load balancer, scaling traffic across your app containers. SSL/TLS endpoints make it easy to manage x509 SSL/TLS certificates, force SSL/TLS connections, and create private services. Each endpoint receives automatic security updates on a regular basis.
apps:
  title: Designed for Portability
  body: |-
    Achieve dev/prod parity by standardizing your apps across environments. Support for Docker and the most popular open source languages, frameworks, and databases means you never have to worry about lock-in.
team_access:
  title: Easy Developer Access
  body: |-
    Robust role-based access controls make it easy to authorize and audit your team's activity. Use the CLI tool or web dashboard to manage your stack, including SSH and tunnel access. Script and automate common actions with our ops API.
databases:
  title: Secure Databases
  body: |-
    Databases run in a private subnet, hidden from the outside Internet. Access is restriced to your apps and team members. Database traffic is encrypted in transit, and data is encrypted at rest, using FIPS 140-2 approved modules and Aptible-managed keys. Nightly backups are automatically taken and stored in a separate geographic region.
scale:
  title: Perform at Scale
  body: |-
    Easily scale apps, domains, and databases with the security and reliability of the AWS cloud. Because your PHI-ready stacks are dedicated to you, the Aptible Container Platform has no performance tradeoff. Zero-downtime deploys make scaling seamless.
sign_up:
  title: Try Aptible Now with a Development Account



---
{{> technology_animation}}

<!-- Static Slides -->
<div class="slides" role="main">

  <!-- Intro -->
  <section class="section" id="intro">
    <div class="copy">
      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 text-center">
            <h1 class="intro-header">{{introduction.title}}</h1>
            <h3 class="intro-text">{{introduction.body}}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Stack -->
  <section class="section" id="infrastructure">
    <section class="copy disappear">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>{{stack.title}}</h2>
          </div>
          <div class="col-sm-12 col-md-8 col-md-offset-2">
            <p>{{stack.body}}</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Network -->
  <section class="section" id="network">
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Secure Networks</h2>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <p>Each PHI-ready stack runs in its own AWS Virtual Private Cloud. Databases and internal services run in a private subnet, inaccessible from the Internet. All stack instances are configured with deny-by-default firewalls.</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Load Balancing -->
  <section class="section" id="load-balancing">
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Easy, Secure Load Balancing</h2>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <p>Each SSL/TLS endpoint receives a dedicated load balancer, scaling traffic across your app containers. SSL/TLS endpoints make it easy to manage x509 SSL/TLS certificates, force SSL/TLS connections, and create private services. Each endpoint receives automatic security updates on a regular basis.</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Apps -->
  <section class="section" id="apps">
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Designed for Portability</h2>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <p>Achieve dev/prod parity by standardizing your apps across environments. Support for Docker and the most popular open source languages, frameworks, and databases means you never have to worry about lock-in.</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Team Access -->
  <section class="section" id="bastion">
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Easy Developer Access</h2>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <p>Robust role-based access controls make it easy to authorize and audit your team's activity. Use the CLI tool or web dashboard to manage your stack, including SSH and tunnel access. Script and automate common actions with our ops API.</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Databases -->
  <section class="section" id="database">
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Secure Databases</h2>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <p>Databases run in a private subnet, hidden from the outside Internet. Access is restriced to your apps and team members. Database traffic is encrypted in transit, and data is encrypted at rest, using FIPS 140-2 approved modules and Aptible-managed keys. Nightly backups are automatically taken and stored in a separate geographic region.</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Scaling -->
  <section class="section" id="scale">
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Perform at Scale</h2>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <p>Easily scale apps, domains, and databases with the security and reliability of the AWS cloud. Because your PHI-ready stacks are dedicated to you, the Aptible Container Platform has no performance tradeoff. Zero-downtime deploys make scaling seamless.</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- Sign Up -->
  <section class="section" id="signup">
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Try Aptible Now with a Development Account</h2>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">
            <a class="btn btn-default btn-lg" href="#">Open a Development Account</a>
            <a class="btn btn-primary btn-lg" href="#">See Pricing</a>
          </div>
        </div>
      </div>
    </section>
  </section>

</div>


</div>
