---
layout: landing-page.hbs

get-started:
  title: Let's get started
  sub-title: |-
    No contracts, no risk. Open a Development Account today with $500 free credit.
  cta:
    href: /pricing
    label: Learn More
---
<header class="primary-header">
  <div class="primary-header-bg">
    {{> nav_bar }}
    <h3 class="product-stack--title primary-sub-title">HIPAA-Compliant Deployment</h3>
    <h1 class="product-stack--title primary-title">AWS vs Aptible</h1>
    <div class="product-stack">
      <div class="product-stack--illustration">
        <img src="/assets/images/product-stack.png">
      </div>
      <div class="product-stack--feature">
        <h2 class="feature-title">
          Build a great app.<br>Leave the rest to us.
        </h2>
        <div class="feature-body">
          <p>
            Aptible is an AWS-based platform that helps you deploy complex architectures easily and securely,
            while staying compliant.
          </p>
          <p>
            Enjoy the scalability and security of the AWS cloud without
            needing an entire DevOps team to manage it. Just build your app and deploy. 
          </p>
          <!-- <a class="btn btn-lg btn-primary" href="/technology">Learn More</a> -->
        </div>
      </div>
    </div>
  </div>
</header>

<div class="main" role="main">
  <div class="container">
    <div class="vs">
      <div class="vs--left">
        <div class="vs--image">{{> amazon }}</div>
        <h4 class="vs--title">19 Steps to Compliance on AWS:</h4>
        <ol class="amazon-vs-list" data-collapsable="true" data-is-collapsed="true">
          <li>Develop your application</li>
          <li>Implement app-level security controls (auth, access controls, audit logs, etc.)</li>
          <li>Select an operating system</li>
          <li>Harden the operating system</li>
          <li>Select and implement backend IAM roles</li>
          <li>Define network topology, e.g. VPC + subnets</li>
          <li>Implement NAT</li>
          <li>Select network security controls, security groups</li>
          <li>Set up a deployment pipeline</li>
          <li>Configure auditing, e.g. CloudTrail, and audit for coverage</li>
          <li>Select and implement database encryption at rest</li>
          <li>Select and implement a database backup strategy</li>
          <li>Select and implement encryption at rest for database backups</li>
          <li>Select a load balancing strategy</li>
          <li>Select and configure SSL/TLS endpoints</li>
          <li>Select and configure host-level monitoring, alerting</li>
          <li>Select and implement host-level vulnerability scanning</li>
          <li>Select and implement network vulnerability scanning</li>
          <li>Deploy</li>
        </ol>
      </div>
      <div class="vs--vs">vs</div>
      <div class="vs--right">
        <div class="vs--image">{{> aptible }}</div>
        <h4 class="vs--title">3 Steps to Compliance on Aptible:</h4>
        <ol>
          <li>Develop your application</li>
          <li>Implement app-level security controls (auth, access controls, audit logs, etc.)</li>
          <li>Deploy</li>
        </ol>
        <div class="text-center">
          {{> terminal }}
        </div>
      </div>
    </div>
    {{> get_started }}
  </div>
</div>
