.employees {
  margin: 30px 0 0;
}

.employee {
  position: relative;
  min-height: 410px;

  .panel-body {
    padding: 40px 40px 0;
  }

  .bio {
    font-size: 14px;
    margin: 20px 0 0;
  }

  .image {
    background: $color-bg-gray;
    padding: 8px;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 116px;
    @include border-radius(58px);
    overflow: hidden;

    .gravatar {
      width: 100%;
      max-width: 100px;
      display:block;
      @include border-radius(50px)
    }
  }

  .name {
    font-weight: $weight-normal;
    font-size: 24px;
    text-align: center;
  }

  .title {
    font-weight: $weight-normal;
    text-align: center;
    font-size: 16px;
    color: $color-subdued;
  }
}

.aptible-careers {
  .carousel {
    height: 396px;
    background: $color-bg-gray;

    .item-shade {
      background: none;
      //background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      transition: 1s ease;
    }

    &:hover .item-shade {
      background: none;
      //background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    }

    .carousel-item {
      height: 396px;
      overflow: hidden;
    }

    .carousel-caption {
      padding-bottom: 0;

      h3, p {
        @include text-shadow(2px 2px 4px rgba(#000, 0.85));
      }
    }
  }
}

.press-quote {
  text-align: center;

  .post-date {
    color: $color-light;
  }

  .quote {
    font-size: 20px;
    margin: 20px 0;
  }
}

.were-hiring-panel {
  margin-bottom: 100px;
}

.aptible-perks {
  margin-bottom: 50px;
}

.row.section.aptible-careers-contact {
  text-align: center;
  margin-bottom: 0;
}

.contact_support {
  .panel-body-subdued .form-group {
    margin: 0;
    input.form-control {
      @include border-radius(0 3px 3px 0);
    }
  }
}

.contact-form {
  margin: 50px 0 0;

  textarea {
    height: 120px;
  }
}

.contact-support-panel {
  .search-knowledgebase.form-group {
    margin-bottom: 0;
  }
}

.contact-support-section.row.section {
  margin-bottom: 0;
}

.contact-support-email {
  margin: 30px 0;

  h4 {
    text-align: center;
    font-size: 14px;
    font-weight: $weight-semibold;
  }
}

.media-item {
  &.media-item-dark {
    .panel-body-subdued {
      background: $color-dark-blue;
      @include border-radius(3px 3px 0 0);
    }
  }

  .panel-body-subdued.media-photo {
    padding: 40px 25px;
    text-align: center;

    img {
      max-width: 80%;
    }

    h4 {
      color: $color-light;
      font-size: 14px;
      font-weight: $weight-semibold;
      text-align: center;
      text-transform: uppercase;
      height: 51px;
      line-height: 51px;
      margin: 0;
      padding: 0;
    }
  }

  .panel-body {
    padding: 25px;
  }

  .media-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.careers.company {
  .fancy-cover:after {
    height: 325px;
  }
}

.careers {
  .slick-slide {
    img {
      width: 750px;
    }
  }
}

.section.open-positions-at-aptible {
  margin: 0 0 50px;
}

.section.careers-carousel-section {
  margin-top: 80px;
  margin-bottom: 0;
}

.section.working-at-aptible-intro {
  margin: 80px 0 0;
}

.section.working-at-aptible-description {
  margin: 0 0 100px;
}

#zd-form-transport {
  height: 0;
  width: 0;
  visibility: hidden;
}