.post-index {
  > .row .row:last-child {
    .post {
      border: 0;
      margin-bottom: 0;
    }
  }

  &.author-archive {
    > .row .row:first-child {
      .post {
        margin-top: -50px;
      }
    }
  }
}

.post {
  border-bottom: 1px solid $color-border-gray;
  padding: 0 80px 55px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;

  img {
    max-width: 100%;
  }

  .excerpt {
    font-size: 20px;
    margin: 0 0 30px;
  }

  a.keep-reading {
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin: 0 0 0 8px;
    font-weight: $weight-semibold;
  }

  .title {
    font-size: 32px;
    margin: 30px 0;
  }

  footer {
    text-align: center;
  }

  td, th {
    padding: 5px;
  }
  th {
    border-bottom: 1px solid $color-border-gray;
  }
  tr:nth-child(even) td {
    background-color: #efefef;
  }

  .text-center img {
    margin: 0 auto;
  }
}

// Note, floating two tables in this case. Second has class of "clearfix".
.simple-ranking-table {
  float: left;
  width: 50%;
  td:first-of-type {
    padding-right: 20px;
    text-align: right;
  }
}

.definitions-table {
  tr td {
    vertical-align: top;
    padding: 10px 10px 15px;
  }
  tr td:first-of-type {
    text-align: right;
  }
  tr:nth-child(even) td {
    background-color: transparent;
  }
}

.post-meta {
  list-style-type: none;
  font-size: 14px;
  font-weight: $weight-semibold;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0;

  .gravatar {
    @include border-radius(12px);
    vertical-align: -6px;
  }

  li {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
  }
}

.post-single {
  .post-meta {
    margin-top: 16px;

    > li {
      line-height: 18px;
      display: block;
    }

    .gravatar {
      @include border-radius(32px);
      margin: 0 0 20px;
    }

    .author {
      text-transform: none;
      color: $color-primary;
    }

    .date {
      font-size: 11px;
    }
  }

  .post {
    padding: 0;
    background: none;
    border: 0;
    text-align: left;
    font-size: 18px;
    line-height: 1.45em;

    h1 {
      margin: 80px 0 40px;
    }

    h2 {
      margin: 50px 0 25px;
    }

    p {
      margin: 14px 0;
    }

    blockquote {
      color: $color-subdued;
      padding-left: 50px;
    }


    .title {
      margin: 30px 0;
      text-align: center;
      color: $color-bright-blue;
    }
  }
}

.author-archive-header {
  text-align: center;
  border-bottom: 1px solid $color-border-gray;
  margin: 100px 0 0;
  padding: 0 0 50px;


  .profile {
    padding: 8px;
    background: $color-bg-gray;
    margin: 0 auto;
    height: 156px;
    width: 156px;
    @include border-radius(78px);
  }

  .gravatar {
    display:block;
    height: 140px;
    width: 140px;
    @include border-radius(70px);

    img {
      height: 140px;
      width: 140px;
    }
  }

  h1 {
    font-size: 24px;
    margin: 15px 0 0;
  }

  h2 {
    color: $color-light;
    font-size: 16px;
    margin: 10px 0 0;
  }
}
