a.btn.btn-lg {
  height: 44px;
  padding: 12px 15px;
}

.btn-round {

  &.btn-sm {
    padding: 6px 16px 5px;
    @include border-radius(15px);
  }

  .navbar-primary & {
    margin-top: 9px;
    letter-spacing: 0;

    &.btn-primary {
      background: #fff;
      color: $color-dark-blue;
      padding: 6px 16px;

      &:hover {
        color: $color-dark-blue;
        background: $color-bright-blue-subdued;
      }
    }

    &.btn-default {
      padding: 5px 16px;
      border: 1px solid #fff;
      background: none;

      &:hover {
        background: #fff;
        color: $color-dark-blue;
      }
    }
  }
}