@charset "UTF-8";

.case-study {
  .case-study-logos {
    height: 170px;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;

    img {
      margin-top: 47px;
      width: 599px;
      max-width: 100%;
    }
  }

  .case-study-logo {
    text-align: center;
    margin: 50px 0;

    img {
      height: 80px;
    }
  }

  .aptible-footer {
    background-color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin: 0 0 50px 0;
    padding-bottom: 50px;

    h3 {
      color: $color-primary;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: $weight-semibold;
      margin: 0 0 15px;
    }

    p {
      margin: 15px 0 30px;
      font-size: 16px;
      line-height: 1.6em;
      color: $color-light;
    }
  }

  .case-study-quote {
    color: #fff;
    padding: 50px 20px;
    margin:60px 0 30px 0;

    img.quote-hex {
      height: 89px;
      display: block;
      margin: -92px auto 0;
    }

    h2 {
      color: #fff;
      font-size: 20px;
      font-weight: 100;
      line-height: 30px;
      margin: 30px auto 0;
      max-width: 625px;
      text-align: center;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.08);
      &:before { content: '“'; }
      &:after { content: '”'; }
    }

    .quote-source {
      margin: 40px 0 0 0;
      @extend %clearfix;
    }

    .quote-image {
      text-align: center;

      img {
        width: 49px;
      }
    }

    .quote-author {
      margin-left: 10px;
      line-height: 17px;
    }

    .quote-name {
      text-align: center;
      font-size: 14px;
      margin-top: 3px;
      line-height: 25px;
      text-transform: uppercase;
    }

    .quote-title {
      text-align: center;
      font-size: 14px;
      color: #e0e0e0;
    }
  }

  .case-study-body {
    background: #fafafa;
    color: #777;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0;
    padding: 30px 0 50px;

    img {
      max-width: 100%;
    }

    p {
      margin: 40px 0;
      color: $color-primary;
    }

    .screenshot {
      margin: 30px 0;
    }
  }

  nav.navbar {
    text-align: center;
    margin: 0;

    .navbar-brand {
      float: none;
      padding: 0;

      svg#aptible-large-logo-svg {
        width: 170px;
      }
    }
  }

  .jumbotron {
    padding: 25px;
    background-color: #3aa9e0;
    background-image: url(/pages/assets/customers/tp-hero-bg.png);
    background-position: 55% 10%;
    background-repeat: no-repeat;
    margin: 0;

    h1 {
      color: #fff;
      font-size: 36px;
      line-height: 1.2;
      margin: 40px auto;
      max-width: 700px;
      text-align: center;
      text-shadow: 0px 1px 3px rgba(0,0,0,0.32);
    }
  }
}
