@charset "UTF-8";

.clip-wrap {
  overflow: hidden;
  position: relative;
}
.our-customers {
  header.primary-header .header-title-container h1.primary-title {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 0;
  }
}
.aptible-logo--white {
  .aptible-letters path {
    fill: white;
  }
}
.customers__section-title {
  line-height: 1.5;
  margin: 0 auto 40px auto;
  text-align: center;
  max-width: 800px;
  padding: 0 40px;
}
.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo-list__customer {
  text-align: center;
  a {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    height: 150px;
    width: 200px;
  }
}
@media (max-width: $screen-sm-min) {
  .logo-list__customer {
    clear: both;
    width: 100%;
  }
}
.logo-list__ucsf {
  transform: translate(0, 40px);
}
.logo-list__spectra {
  background-image: url(/pages/assets/customers/spectra.png);
  transform: translate(0, -20px);
}
.logo-list__everplans {
  background-image: url(/pages/assets/customers/everplans.png);
}
.logo-list__luma {
  background-image: url(/pages/assets/customers/lumahealth.png);
}
.logo-list__nuspine {
  background-image: url(/pages/assets/customers/nuspine.png);
}
.logo-list__1bios {
  transform: translate(0, 40px);
}
.logo-list__telepharm {
  background-image: url(/pages/assets/customers/telepharm.png);
}

// Customer Testimonials
.customer-testimonials {
  border-bottom: 1px solid #f0f0f0;
}
.customer-testimonial--logo {
  padding: 70px 100px;
  width: 50%;
  &:nth-of-type(even) {
    border-left: 1px solid #f0f0f0;
  }
}
@media (max-width: $screen-sm-min) {
  .customer-testimonial--logo {
    padding: 35px 50px;
    width: 100%;
    &:nth-of-type(odd) {
      border-bottom: 1px solid #f0f0f0;
    }
  }
}
.customer-testimonial__logo {
  margin-bottom: 45px;
  max-height: 50px;
}
.pager-testimonial {
  .customer-testimonial__logo {
    transform: translate(0, 20px);
  }
}
.healthify-testimonial {
  .customer-testimonial__logo {
    transform: translate(0, 5px);
  }
}
.customer-testimonial__quote {
  border: none;
  color: #383838;
  font-size: 24px;
  padding: 0;
  margin-bottom: 35px;
  max-width: 450px;
  &:before { content: '“'; }
  &:after { content: '”'; }
}
.customer-testimonial__author {
  color: #ababab;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

//
// UCSF Pride Study
//
.ucsf-pride-study .main {
  overflow-x: hidden;
}
.pride-study__intro {
  text-align: center;

  h2 {
    color: #F8712F;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 45px;
    text-align: left;
  }
  p {
    color: #4a4a4a;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 40px;
  }
  img {
    max-width: 100%;
  }
  figcaption {
    color: #909090;
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
    text-align: left;
  }
}
.pride-study--gray-text {
  margin-bottom: 50px;
  path#THE-PRIDE-STUDY {
    fill: #aeaeae;
  }
}
.pride-study__challenges {
  margin-bottom: 50px;
  h2 {
    color: #F8712F;
    font-size: 24px;
    line-height: 31px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 40px;
    text-align: center;
  }
}
.pride-study__challenge {
  color: #aeaeae;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  h3 {
    color: #F8712F;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 35px;
  }
  p {
    font-size: 16px;
    &:last-of-type {
      margin: 0;
    }
  }
}
.pride-study__thread {
  background-color: #2f323a;
  background-image: url(/pages/assets/diamond-bg.png);
  background-repeat: repeat;
  padding: 75px 0;
}
.pride-study__solution {
  color: white;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 50px;
  max-width: 500px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.75);
  strong {
    color: #24e299;
    font-weight: normal;
  }
}
.pride-study__figures {
  align-items: center;
  display: flex;
}
.thread--green path {
  fill: #24e299;
}
.rounded-plus {
  margin: 0 20px;
  path {
    fill: white;
  }
}
.researchkit {
  background-image: url(/pages/assets/customers/pridestudy/researchkit_2x.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 140px;
  width: 140px;
}
.pride-study__thread__iphone {
  position: absolute;
  transform: translate(-105px, -105px);
}
@media (min-width: $screen-sm-min) and (max-width: 992px) {
  .pride-study__thread__iphone {
    transform: translate(-25px, -105px);
  }
  .researchkit {
    width: 100px;
  }
}
@media (max-width: $screen-sm-min) {
  .pride-study__solution {
    text-align: center;
    margin: 0 auto 50px;
  }
  .pride-study__figures {
    justify-content: center;
  }
  .researchkit {
    width: 100px;
  }
}

.pride-study__aptible {
  padding-bottom: 100px;
  padding-top: 100px;
  .primary-sub-title {
    color: #aadeed;
    font-size: 20px;
    line-height: 35px;
    margin-top: 0;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.24);
  }
  .primary-title {
    color: white;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 65px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.24);
  }
  .product-stack {
    margin-bottom: 0;
  }
  .aptible-logo--white {
    height: 50px;
    margin-bottom: 45px;
  }
  .feature-title {
    white-space: normal;
    margin-bottom: 45px;
  }
}

.pride-study__conclusion {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 100px;
  text-align: center;
  .the-pride-study {
    height: 106px;
    overflow: hidden;
    transform: translate(0, -50px);
    path#THE-PRIDE-STUDY { display: none; }
  }
  .pride-study__figures {
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 60px;
  }
  .ucsf svg {
    width: 105px;
  }
  .thread {
    svg {
      width: 170px;
    }
    path {
      fill: #044b99;
    }
  }
  .rounded-plus {
    margin: 0 30px;
    path {
      fill: #2d9e88;
    }
  }
  #aptible-large-logo-svg {
    width: 170px;
  }
  h2 {
    font-size: 24px;
    line-height: 31px;
    margin: 0 auto 90px;
    max-width: 850px;
  }
}
@media (max-width: 615px) {
  .pride-study__conclusion {
    margin-bottom: 50px;
    .pride-study__figures {
      margin-bottom: 20px;
    }
  }
}
.pride-study__cta {
  margin-bottom: 40px;
}
