.ebooks-subheading {
  color: #aadeed;
  color: white;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-top: 10px;
}

.ebooks-introduction {
  p, li {
    color: white;
    font-size: 22px;
    line-eight: 1.5;
    margin-bottom: 20px;
  }
  p:last-of-type {
    margin-bottom: 30px;
  }
}
.ebook-title {
  font-style: italic;
  font-size: 1.2em;
}
ul.blue-checkmark-list {
  list-style-image: url('/assets/images/blue-check.png');
  margin-bottom: 50px;
  li {
    padding-left: 10px;
  }
}

.title-text-shadow {
  text-shadow: 1px 2px 2px rgba(0,0,0,0.45);
}

.ebooks-panel {
  margin-bottom: 100px;
  .panel-heading {
    color: #333;
    padding: 12px 20px;
  }
  .panel-body {
    padding: 20px;
  }
  label {
    color: #aaa;
    font-weight: normal;
  }
}

.ebook-form {
  .message {
    display: none;
  }
  .alert {
    border-width: 2px;
    font-weight: $weight-semibold;
    min-height: 40px;
  }
}
