.home.index {
  header.primary-header {
    height: 450px;

    .header-title-container {
      margin-top: 110px;
    }

    h1.primary-title {
      font-size: 45px;
      text-transform: none;
      @extend %smooth;
      text-shadow: 2px 2px 4px rgba(black, 0.45);
    }

    h2.primary-sub-title {
      font-size: 25px;
      @extend %smooth;
      text-shadow: 2px 2px 4px rgba(black, 0.45);
    }
  }
}

.about-billboard {
  font-size: 18px;
  line-height: 25px;
  margin: 75px 0;
  text-align: center;

  h1 {
    font-size: 36px;
    color: $color-dark-blue;
    margin: 0 0 20px;
    font-weight: $weight-normal;
  }

  h2 {
    font-weight: $weight-lighter;
    font-size: 24px;
    color: $color-light;
    margin: 0;
  }
}

.feature-split {
  .panel {
    position:relative;
  }

  .divider {
    width: 4px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 0;
    bottom: 0;
    background: #f6f6f6;
  }

  .plus {
    text-align: center;
    position: absolute;
    height: 59px;
    width: 59px;
    left: 50%;
    top: 169px;
    margin-left: -30px;
    background: #f6f6f6;
    @include border-radius(30px);
    @include box-shadow(inset 0 1px 4px 0 rgba(#000, .09));

    .glyphicon {
      color: $color-bright-blue;
      font-size: 30px;
      vertical-align: -28px;
      left: 1px;
    }
  }

  .feature-image {
    text-align: center;
    height: 331px;
    margin-bottom: 50px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .compliance .feature-image {
    img {
      margin-top: 7px;
    }
  }

  .feature-info {
    text-align: center;
  }

  .feature-title {
    font-size: 36px;
    color: $color-dark-blue;
    margin: 0 0 22px;
  }

  .feature-body {
    font-size: 18px;
    line-height: 25px;
  }

  .feature-cta {
    font-weight: $weight-bold;
    margin-top: 30px;
  }

  .feature-split-col {
    padding: 50px 80px 80px;
  }
}

.aptible-benefits {
  text-align: center;

  &.row.section {
    margin-top: 100px;
  }

  h1 {
    font-size: 36px;
    color: $color-dark-blue;
    font-weight: $weight-normal;
    margin: 0 0 10px;
  }

  .why-item {
    padding: 0 20px;

    .why-icon {
      margin: 40px 0;
      height: 140px;
      text-align: center;

      &.containers {}

      &.compliance {
        img {
          margin-top: 32px;
        }
      }

      &.workflow {
        img {
          margin-top: 25px;
        }
      }
    }
  }
}

.fact-item {
  text-align: center;

  h4, .description {
    font-size: 18px;
    line-height: 23px;
  }
}

.how-aptible-works {
  margin: 50px 0;

  h1 {
    font-size: 30px;
    font-weight: $weight-bold;
    margin: 0 0 30px;
  }

  .how-description {
    font-size: 18px;
    line-height: 25px;
  }

  .how-ctas {
    margin: 30px 0 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: $weight-semibold;
  }
}

.workflow-cta {
  &.row.section {
    margin-top: 110px;
    margin-bottom: 110px;
  }

  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: $weight-semibold;
    color: $color-subdued;
  }

  h2 {
    font-size: 26px;
    font-weight: $weight-bold;
    color: $color-primary;
    margin: 6px 0 30px;
  }

  .plan-info {
    font-size: 12px;
    color: $color-light;
    margin: 30px 0 0;
    line-height: 14px;
  }

  .home-cta-body {
    margin-top: 85px;
  }
}

.aptible-tools {
  .tools-carousel {
    margin: 70px auto 0;
    width: 330px;
  }

  .slick-slide {
    img {
      margin: 0 auto;
      max-width: 100%;

      &.django {
        width: 180px;
        margin-top: 25px;
      }

    }
  }

  .tools-description {
    text-align: center;
    margin: 40px 0 0;
  }
}

.customers {
  margin: -30px 0 100px;

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: $weight-bold;
    margin: 0;
  }

  .testimonial {
    .testimonial-body {
      font-size: 24px;
      color: $color-light;
      margin: 50px;
      text-align: center;
    }

    .spacer {
      height: 1px;
      width: 40px;
      margin: 30px auto;
      background: $color-border-gray;
    }

    .post-meta {
      .author {
        color: $color-primary;
      }
      .date {
        text-transform: none;
        font-size: 13px;
      }
    }
  }
}

.logos {
  .logo {
    a {
      display: block;
    }

    img {
      max-width: 100%;
    }

    &.pager {
      img {
        width: 50%;
        display: block;
        margin: 0 auto;
      }
    }

    &.nightingale {
      img {
        margin: 43px 0 0 0;
      }
    }
  }
}

.home-newsletter-section {
  margin-top: -46px;
  margin-bottom: 5px;
}

.newsletter-signup {
  height: 40px;

  .form-group {
    margin-bottom: 0;
  }

  .message {
    display: none;
  }

  .alert {
    background: none;
    padding: 0;
    border-width: 2px;
    line-height: 36px;
    height: 40px;
    font-weight: $weight-semibold;
  }

  .alert-success {
    margin-bottom: 0;
  }
}
