@charset "UTF-8";

.no-animation {
  transition-duration: 0s !important;
}
.notice {
  background-color: #34495e;
  color: #fff;
  display: none;
  margin-top: -60px;
  text-align: center;
  transition: margin-top 1s ease-in-out;
  .notice__message {
    color: #ddd;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    &:after {
      content: '→';
      position: absolute;
      transform: translate(4px, 1px);
      transition: transform 0.25s ease-in-out;
    }
    &:hover {
      color: #fff;
      &:after {
        transform: translate(8px, 1px);
      }
    }
  }
}
.notice__close {
  height: 30px;
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: opacity 0.25s ease-in-out;
  width: 30px;
  span {
    background-color: #fff  ;
    display: block;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    width: 3px;
    &:last-of-type {
      transform: rotate(-45deg);
    }
  }
  .notice:hover & {
    opacity: 1;
  }
}
.sub-footer {
  color: #999;
  font-size: 13px;
  margin: 50px 50px 0;
}
.sub-footer__section--copyright {
  float: left;
  margin-top: 20px;
}
.sub-footer__section--social {
  float: right;
  margin-top: 20px;
}
.social-link {
  display: inline-block;
  text-decoration: none;
  &:last-of-type {
    margin-left: 10px;
  }
  path {
    @include transition(fill 0.25s ease-in-out);
    fill: #999;
  }
  &:hover {
    path {
      fill: #0272b7;
    }
  }
}
.header__page-title {
  color: white;
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
}
.header__page-title--sm {
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}
