header.primary-header .header-title-container h1.primary-title {
  margin-top: 20px;
}

.employee.panel {
  .panel-body {
    padding: 30px 30px 0;
  }

  .name {
    font-size: 22px;
  }

  .title {
    font-size: 16px;
  }

  .image-wrapper {
    padding: 0 20px;
  }
}

.post-single {
  .post {
    @extend %aptible-panel;
    padding: 50px 50px 100px;
    background: #fff;
    border: 1px solid $color-border-gray;
    border-radius: 3px;
  }
}