.container {
  width: 100% !important;
}

header.primary-header {
  background-position: center center;
}

header.primary-header .header-title-container h1.primary-title {
  margin-top: 0;
}


.navbar-nav.navbar-right {
  width: 100%;
  text-align: center;

  > li {
    display: inline-block;
    float: none;

    > a {
      font-size: 11px;
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.navbar > .container .navbar-brand {
  width: 125px;
  display: block;
  float: none;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.container > .navbar-header {
  width: 100%;
}

.why-aptible .fact-item .description {
  font-size: 14px;
}

.row.section {
  margin-top: 50px;
  margin-bottom: 70px;
}

.panel-default .panel-body {
  padding: 35px;
}

.aptible-tools .tools-carousel {
  margin-top: 20px;
}

.how-aptible-works {
  margin: 35px;
}

footer.aptible-footer {
  margin-top: 35px;
}

.pricing .fancy-cover.section {
  padding-top: 25px;
}

.panel {
  margin-bottom: 35px;
}

.post {
  padding: 0 50px 55px;
}

.aptible-careers .carousel {
  height: auto;

  .carousel-item {
    height: auto;
  }

  .slick-slide img {
    width: 100%;
  }
}

.newsletter-signup {
  height: auto;

  button.btn-block {
    margin-top: 15px;
  }
}

.technology, .compliance {
  .fancy-cover {
    padding:  50px 0
  }

  .how-aptible-technology-works {
    margin: 0 0 30px;
  }

  .workflow-title,
  .how-it-works-section.networking,
  .fact-section.container-section {
    margin-top: 30px;
  }

}

.row.section.bordered {
  padding-bottom: 49px;
}

.feature-split {
  .feature-split-col {
    padding: 30px 50px;
  }

  .divider {
    position: static;
    height: 4px;
    width: auto;
    margin: 0 15px;
    clear: both;
  }

  .plus {
    display:none;
  }

  .feature-title {
    font-size: 24px;
  }

  .feature-body {
    font-size: 16px;
    line-height: 22px;
  }

  .feature-image {
    margin-bottom: 10px;
  }

  .feature-cta {
    margin-top: 10px;
  }

}

.q-a .fact-item {
  min-height: 0;
}
