.plans-and-pricing {
  .row.section {
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.plans {
  margin-top: 50px;

  #unit-pricing {
    margin-top: 70px;
    margin-bottom: 0;
  }

  .pricing {
    // font-size: 13px;
    // color: $color-light;
    text-align: center;
    clear: both;
    // padding: 30px 0 0;
  }
}

.plan-attributes {
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none;

    > li {
      font-size: 18px;
      margin: 0 0 15px;
      text-align: center;

      span {
        font-size: 22px;
      }

      > ul {
        list-style-type: none;
        margin: 15px 0;
        padding: 0;

        li {
          text-align: left;
          color: $color-light;
          font-size: 14px;
          margin: 0 0 7px;

          .fa {
            color: $color-bright-blue;
            font-size: 12px;
            margin: 0 6px 0 0;
          }
        }
      }
    }
  }

.panel.plan-panel {
  &.Platform {
    border: 1px solid $color-bright-blue;
    box-shadow: 0 0 8px rgba($color-bright-blue, 0.4);
  }

  .plan-title {
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: $weight-semibold;
    border-radius: 3px 3px 0 0;
  }

  .plan-header {
    border-bottom: 1px solid #f0f0f0;
    padding: 30px;
    text-align: center;
  }

  .plan-plan {
    color: $color-bright-blue;
    font-size: 16px;
    margin: 0;
  }

  .plan-price {
    font-size: 48px;
    font-weight: 200;
    color: $color-primary;
    margin: 10px 0 0;

    .sub {
      color: $color-light;
      font-size: 16px;
    }
  }

  .panel-body {
    padding: 30px;
  }
}

.pricing-faq {
  .fact-item {
    h4 {
      font-size: 18px;
      line-height: 25px;
      font-weight: $weight-normal;
      margin: 0 0 30px;
    }

    .description {
      font-size: 15px;
    }
  }

  .conditional-clear:nth-child(3n + 1) {
    content: '.';
    height: 30px;
    clear: both;
    display: block;
    visibility: hidden;
  }
}