//
// Toggle component
//
//  <a class="toggle" href="#" data-name="doughnuts" data-state="yes-please">
//    <span class="toggle__tray"><span class="toggle__dot"></span></span>
//  </a>
//
.toggle {
  display: block;
  height: 25px;
  letter-spacing: 2px;
  line-height: 25px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  &:before, &:after {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    @include transition(color 0.2s ease-in-out);
  }
  &:before {
    color: black;
    content: "No";
    margin-right: 5px;
  }
  &[data-label-no] {
    &:before {
      content: attr(data-label-no);
      margin-left: -44px;
    }
  }
  &:after {
    color: $color-lighter-gray;
    content: "Yes";
    margin-left: 5px;
  }
  &:focus, &:hover {
    outline: none;
    text-decoration: none;
    .toggle__dot {
      border-color: $color-bright-blue;
    }
  }
  &[data-state='on'] {
    &:before {
      color: $color-lighter-gray;
    }
    &:after {
      color: $color-bright-blue;
    }
    .toggle__dot {
      left: 20px;
    }
  }
}
.toggle__tray {
  background-color: $color-dark-gray-bg;
  border-radius: 13px;
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
}
.toggle__dot {
  background-color: white;
  border-radius: 50%;
  border: 2px solid $color-lighter-gray;
  box-shadow: 0 0 0 1px white;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  left: 0;
  margin-top: -2px;
  position: absolute;
  width: 30px;
  @include transition(border-color 0.2s ease-in-out, left 0.2s ease-in-out);
}

//
// Rangeslider
//
// <input type="range" min="1" max="11" step="1" value="1" data-type="domains">
//
// Uses rangeslider.js, which adds:
//
// <div class="rangeslider" id="js-rangeslider-0">
//    <div class="rangeslider__fill" style="width: *px;"></div>
//    <div class="rangeslider__handle" style="left: *px;"></div>
// </div>
//
.rangeslider {
  position: relative;
  z-index: 2;
}
.rangeslider,
.rangeslider__fill {
  background: $color-lighter-gray;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 4px;
}
.rangeslider__fill {
  background: $color-bright-blue;
}
.rangeslider--disabled {
  opacity: 0.4;
}
.rangeslider__handle {
  background-color: white;
  border-radius: 50%;
  border: 2px solid $color-lighter-gray;
  box-shadow: 0 0 0 1px white;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  position: relative;
  top: -10px;
  width: 15px;
  @include transition(border-color 0.2s ease-in-out);
}
.rangeslider:hover .rangeslider__handle,
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  border: 2px solid $color-bright-blue;
  outline: none;
}

// Tooltip
// A lightweight CSS tooltip component.
// Note that `top` will likely need to be tweaked in different situations
dfn[data-toggle="tooltip"] {
  border-bottom: 1px dashed #cfcfcf;
  cursor: help;
  font-style: normal;
  position: relative;
  // Tooltip content
  &:after {
    background: #333;
    border-radius: 4px;
    color: white;
    content: attr(data-title);
    font-size: 12px;
    line-height: 16px;
    height: 0;
    margin-left: -75px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  // Tooltip arrow
  &:before {
    content: '';
    height: 3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #333;
    margin-top: -3px;
    margin-left: -2px;
  }
  &:after, &:before {
    display: block;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 80%;
    z-index: -1;
    @include transition(top 0.2s ease-in-out 0.1s, opacity 0.2s ease-in-out 0.1s);
  }
  &:hover, &:focus, &:active {
    color: #333;
    &:after, &:before {
      opacity: 1;
      top: calc(100% + 5px);
      z-index: 3;
    }
    &:after {
      height: auto;
      padding: 10px;
    }
  }
}
