// Price calculator component
// Also employs and specializes some bootstrap elements (grid and panels)
$color-dark-gray-bg: #b0b0b0;
$color-lighter-gray: #d8d6d6;

// Fade in animation for grouping with other transitions
@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }

// Fade in animation for grouping with other transitions
@-webkit-keyframes long-fade-in { 0% { opacity: 0; } 50% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes long-fade-in { 0% { opacity: 0; } 50% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes long-fade-in { 0% { opacity: 0; } 50% { opacity: 0; } 100% { opacity: 1; } }
@keyframes long-fade-in { 0% { opacity: 0; } 50% { opacity: 0; } 100% { opacity: 1; } }

.price-calc {
  counter-reset: pricing-steps;
  // Bootstrap elements
  .panel-title {
    font-size: 15px;
    font-weight: $weight-semibold;
    text-transform: uppercase;
    &:before {
      background-color: $color-dark-gray-bg;
      border-radius: 50%;
      color: white;
      content: counter(pricing-steps);
      display: inline-block;
      line-height: 22px;
      height: 22px;
      margin-right: 10px;
      text-align: center;
      width: 22px;
    }
  }
}
.price-calc__step {
  counter-increment: pricing-steps;
  padding: 0 10px;
  .panel-body {
    padding: 30px;
  }
  .btn-primary {
    width: 100%;
  }
}
.price-calc__question {
  h3 {
    color: $color-bright-blue;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
    margin-top: 0;
  }
}
.price-calc__question--full-service {
  box-sizing: content-box;
  border-top: 1px solid $color-border-light-gray;
  height: auto;
  max-height: 0;
  padding: 0 0 10px 0;
  opacity: 0;
  overflow: hidden;
  @include transition(max-height 0.5s ease-in-out);
  .price-calc[data-phi='on'] & {
    max-height: 200px;
    margin-top: 20px;
    padding-top: 20px;
    opacity: 1;
    @include animation(fade-in 0.5s ease-in);
  }
}

.price-calc[data-needs-more='on'] {
  .price-calc__step--config {
    // Blue highlight
    .panel {
      border: 1px solid $color-bright-blue;
      box-shadow: 0 0 8px rgba($color-bright-blue, 0.4);
    }
  }
  .price-calc__step--summary {
    opacity: 0.5;
  }
}

.price-calc[data-needs-more='off'] {
  .price-calc__step--summary {
    .panel {
      border: 1px solid $color-bright-blue;
      box-shadow: 0 0 8px rgba($color-bright-blue, 0.4);
    }
  }
}
//
// Full service media queries (eliminates a column)
//
.price-calc[data-full-service='on'] {
  .price-calc__step--config {
      display: none;
  }
  .price-calc__step--summary {
    width: 100%;
    .panel {
      min-height: 375px;
    }
  }
  .price-calc__summaries {
    float: left;
    width: 49%;
  }
  .price-calc__submit {
    @include animation(long-fade-in 0.75s ease-in);
    float: right;
    margin-top: 35px;
    opacity: 1;
    width: 49%;
  }
  .price-calc__monthly-breakdown {
    display: none;
  }
}

@media (min-width: $screen-md-min) {
  .price-calc[data-full-service='on'] .price-calc__step--summary {
    width: 66.66%;
  }
  .price-calc__step--summaries {
    height: auto;
    padding-bottom: 50px;
  }
}

@media (max-width: $screen-xs-min) {
  .price-calc__step--summary {
    .panel {
      height: auto;
    }
  }
  .price-calc[data-full-service='on'] {
    .price-calc__summaries {
      float: none;
      width: 100%;
    }
    .price-calc__submit {
      display: block;
      float: none;
      margin-top: 0;
      width: 100%;
    }
  }
}

//
// Needs More (maxed out slider)
//
.price-calc__more {
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 0.2s ease-in-out);
  .price-calc[data-needs-more='on'] & {
    @include animation(fade-in 0.5s ease-in);
    height: auto;
    max-height: 275px;
  }
  p {
    color: $color-light;
    margin-bottom: 20px;
  }
}

//
// Range Keys (slider values)
//
.price-calc__range-keys {
  color: #999;
  counter-reset: range-keys -1;
  display: block;
  font-size: 11px;
  height: 25px;
  left: -2%;
  list-style: none;
  line-height: 15px;
  margin-bottom: 5px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 108%;
}
.price-calc__range-key {
  counter-increment: range-keys;
  display: inline-block;
  font-size: 11px;
  color: $color-lighter-gray;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: calc(100% / 13.75);
  top: 0;
  text-align: center;
  &:before {
    color: black;
    content: counter(range-keys);
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  // Use a value if available
  &[data-value]:before {
    content: attr(data-value);
  }
  &[data-state='selected'] {
    overflow: visible;
    top: -4px;
    visibility: hidden;
    &:before {
      display: block;
      visibility: visible;
    }
  }
}

.price-calc__included {
  border: 1px solid $color-lighter-gray;
  border-top-width: 0;
  display: inline-block;
  font-family: 'Inconsolata', 'Consolas', 'Courier New', Courier, monospace;
  font-size: 11px;
  left: 7px;
  line-height: 7px;
  margin-bottom: 20px;
  opacity: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -10px;
  z-index: 0;
  @include transition(top 0.2s ease-in-out, opacity 0.2s ease-in-out);
  &:after {
    background-color: white;
    color: $color-lighter-gray;
    content: 'Included';
    position: relative;
    top: 5px;
  }
  .price-calc[data-phi='on'] & {
    opacity: 1;
    top: 0;
  }
}
.price-calc__containers {
  .price-calc__included {
    width: calc(54.5% - 6px);
  }
}
.price-calc__disk {
  .price-calc__included {
    width: calc(71.5% - 6px);
  }
}
.price-calc__domains {
  .price-calc__included {
    width: calc(37% - 6px);
  }
}

.price-calc__config-item {
  color: $color-light;
  font-size: 16px;
  font-weight: $weight-lighter;
}

.price-calc__config-value:after {
  content: ' @';
}
.price-calc__item-price, .price-calc__config-price {
  &:before {
    content: '$';
  }
}

//
// Price selection summaries
//
.price-calc__summaries {
  margin-bottom: 20px;
}
.price-calc__summary__heading {
  color: #4A4A4A;
  font-size: 22px;
  font-weight: 200;
  line-height: 27px;
  margin-top: 0;
}
.price-calc__summaries {
  height: 115px;
  overflow: hidden;
  @include transition(height 0.3s ease-in-out);
  .price-calc[data-phi='off'][data-full-service='off'] & {
    height: 140px;
  }
  .price-calc[data-phi='on'][data-full-service='off'] & {
    height: 280px;
  }
  .price-calc[data-phi='on'][data-full-service='on'] & {
    @include transition-duration(0s);
    overflow: visible;
  }
}
.price-calc__summary {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.price-calc__summary--dev {
  .price-calc[data-phi='off'][data-full-service='off'] & {
    opacity: 1;
    position: static;
    @include transition(opacity 0.5s ease-in);
  }
}
.price-calc__summary--platform {
  .price-calc[data-phi='on'][data-full-service='off'] & {
    opacity: 1;
    position: static;
    @include transition(opacity 0.5s ease-in);
  }
}
.price-calc__summary--managed {
  .price-calc[data-phi='on'][data-full-service='on'] & {
    opacity: 1;
    position: static;
    @include transition(opacity 0.5s ease-in);
  }
}
.price-calc__summary-list {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  display: block;
}
.price-calc__summary {
  li, p {
    font-size: 14px;
    color: #848484;
    line-height: 19px;
  }
}
.price-calc__summary-list__title {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  text-decoration: underline;
}

.price-calc__dev-account {
  display: none;
  .price-calc[data-phi='off'][data-full-service='off'] & {
    display: inline;
  }
}
.price-calc__platform-account {
  display: none;
  .price-calc[data-phi='on'][data-full-service='off'] & {
    display: inline;
  }
}
.price-calc__managed-account {
  display: none;
  .price-calc[data-phi='on'][data-full-service='on'] & {
    display: inline;
  }
}

.price-calc__monthly-breakdown-items {
  width: 100%;
  th, td {
    &:last-of-type {
      text-align: right;
    }
  }
}
.price-calc__monthly-summary {
  margin-bottom: 15px;
  tr:first-of-type {
    td {
      color: #4A4A4A;
      font-size: 48px;
      font-weight: 200;
      line-height: 48px;
      &:before {
        content: '$';
      }
      &:after {
        color: #9c9c9c;
        content: ' / month';
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
//
// Tablular data (breaking BEM here)
//
.price-calc__data-summary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  width: 100%;
  thead {
    border-bottom: 1px solid $color-border-light-gray;
  }
  th {
    color: #333;
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 15px;
  }
  tr:first-of-type td {
    padding-top: 15px;
  }
  td {
    font-size: 14px;
    color: #848484;
    line-height: 19px;
  }
  .price-calc__item-value {
    padding: 0 10px;
  }
  .price-calc__monthly-total {
    color: #4A4A4A;
    font-size: 48px;
    font-weight: 200;
    line-height: 48px;
  }
}

//
// Bonus Credit
//
.price-calc__bonus-credit {
  background-color: #2ecc71;
  height: 75px;
  opacity: 0;
  padding-top: 15px;
  position: absolute;
  right: 0;
  text-align: center;
  transform: scale(0) translateY(-8px) rotate(-15deg);
  @include transition(all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55));
  width: 75px;
  b, i {
    color: #fff;
    display: block;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
    text-transform: uppercase;
  }
  b {
    font-size: 24px;
  }
  i {
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.15em;
  }
  .price-calc[data-phi='off'][data-full-service='off'] & {
    opacity: 1;
    transform: scale(1) translateY(-8px) rotate(15deg)
  }
}
.starburst,
.starburst span {
  display: box;
  box-align: center;
  box-pack: center;
}
.starburst span {
  width: 100%;
  height: 100%;
  background: inherit;
  transform: rotate(45deg);
}
.starburst:before,
.starburst:after ,
.starburst span:before,
.starburst span:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: inherit;
   z-index: -1;
  transform: rotate(30deg);
}
.starburst:after {
  transform: rotate(-30deg);
}
.starburst span:after {
  transform: rotate(30deg);
}
.starburst span:before {
  transform: rotate(-30deg);
}
