.plans-and-pricing {
  .row.section {
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.plans {
  margin-top: 50px;

  .unit-pricing {
    font-size: 16px;
  }

  .pricing {
    text-align: center;
    clear: both;
  }
}

.plan-attributes {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;

  > li {
    font-size: 18px;
    margin: 0 0 15px;
    text-align: center;
  }
}

.pricing-faq {
  .fact-item {
    h4 {
      font-size: 18px;
      line-height: 25px;
      font-weight: $weight-normal;
      margin: 0 0 30px;
    }

    .description {
      font-size: 15px;
    }
  }

  .conditional-clear:nth-child(3n + 1) {
    content: '.';
    height: 30px;
    clear: both;
    display: block;
    visibility: hidden;
  }
}
