// TODO: Un-nest these
.product-pages {

  header.primary-header {
    height: auto;

    .header-title-container {
      h1.primary-title {
        font-size: 40px;
        margin: 30px 0;
      }
      h2.primary-sub-title {
        color: #fff;
        font-size: 20px;
        line-height: 1.5em;
        margin: 20px 15% 50px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
      }
    }
  }

  .btn, .arrow-link {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .arrow-link {
    padding-right: 18px;
    &:after {
      position: absolute;
      transform: translate(0px, 1px);
      transition: transform 0.25s ease-in-out;
    }
    &:hover:after {
      transform: translate(3px, 1px);
    }
  }

  .row.section {
    &:first-of-type {
      margin-top: 80px;
    }
    margin-bottom: 50px;
    margin-top: 50px;
    &.bordered {
      padding-bottom: 50px;
    }
  }

}

//
// Text Hero
//
.product-pages__text-hero {
  text-align: center;
}
.text-hero__title {
  line-height: 1.5em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}
.text-hero__sub-title {
  line-height: 1.5em;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 30px;
  margin-top: 0;
}

//
// Benefits List
//
.product-pages__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.product-pages__list-item {
  flex: 0 0 auto;
  min-height: 150px;
  list-style: none;
  width: 250px;
  margin: 0 20px 20px;
  text-align: center;
  img {
    margin-bottom: 20px;
  }
  h3 {
    color: #0272b7;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 16px;
    line-height: 1.25;
  }
}

//
// Text With Image
//
.product-pages__image {
  text-align: center;
}
.product-pages__image-left,
.product-pages__image-right {
  h2 {
    margin-top: 0;
  }
}
.testimonial {
  .product-pages__image {
    img {
      border-radius: 75px;
    }
  }
  .product-pages__description {
    font-size: 24px;
    &:before {
      content: '\201C';
      display: inline;
    }
    &:after {
      content: '\201D';
      display: inline;
    }
  }
  .home-testimonial--author {
    margin-bottom: 20px;
  }
}

@media (max-width: $screen-xs-max) {
  .product-pages header.primary-header .header-title-container h2.primary-sub-title {
    padding-bottom: 0;
  }
  .product-pages__image-left {
    .product-pages__image {
      margin-bottom: 40px;
    }
  }
  .product-pages__image-right {
    .product-pages__image {
      margin-top: 40px;
    }
  }
}
