//
// Support Plans
//
.support-plans {
  .row.section:last-of-type {
    margin-bottom: 100px;
  }
  .row.section.bordered {
    margin-bottom: 0;
  }
}
.table-overflow {
  overflow-x: scroll;
  width: 100%;
}
.support-plan-tiers {
  width: 100%;
  th {
    color: #0272b7;
    font-family: 'proxima-nova', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
  th, td {
    padding: 12px;
    vertical-align: top;
  }
  tr {
    &:nth-child(even) {
      // background-color: rgba(0,0,0,0.005);
    }
    td:first-child {
      // border-left: none;
      color: #333;
      font-weight: bold;
      padding-right: 15px;
      text-align: right;
      text-transform: uppercase;
    }
  }
  tbody {
    tr:first-of-type td {
      border-top: 2px solid #0272b7;
      padding-top: 28px;
    }
    td {
      // border-left: 1px solid rgba(0,0,0,0.05);
      border-top: 1px solid #e7e7e7;
      font-size: 14px;
    }
  }
}
.support-plan-tiers {
  th, td { width: 25%; }
}
.response-times-description {
  margin-top: 20px;
  th, td { width: 16%; }
}
.small-hero-list {
  width: 100%;
  th {
    text-align: right;
  }
  th, td {
    padding: 10px;
    width: 50%;
    vertical-align: top;
  }
}
