body.technology {
  height: 100%;
  width: 100%;
  background-color: #034dcc;
  background: url('/assets/images/abstract-header-blur.jpg');
  background-size: cover;
  background-position: center;
}

.technology {
  .primary-header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 0;
    z-index: 4;
  }
  .primary-header-bg {
    background: none;
  }
  .navbar {
    min-height: 0;
    margin-bottom: 0;
  }

  .header-title-container {
    display: none;
  }
  h3 {
    color: #0272b7;
    font-size: 34px;
    margin: 15px 0 90px;
    text-align: center;    
  }
}


/*----------------------------------
  Helpers
------------------------------------*/

.flex-center {
  display: -ms-flexbox;
  display:-webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

  -ms-flex-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/*----------------------------------
  Animations
------------------------------------*/

.blink {
  -webkit-animation: blink 800ms step-end infinite;
          animation: blink 800ms step-end infinite;
}
@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}
        

/*----------------------------------
  fullpages.css overrides
------------------------------------*/

#fp-nav {
  z-index: 2001 !important;
}
#fp-nav ul li .fp-tooltip {
  top: -2px !important;
  font-size: 12px !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
#fp-nav ul li a.active span {
  height: 10px !important;
  width: 10px !important;
  margin: -5px 0 0 -5px !important;
}



/*----------------------------------
  Fixed Console
------------------------------------*/

.fixed-console {
  z-index: 1;
  position: fixed;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  .console {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .console .base {
    height: 100%;
    width: 70%;
    max-width: 650px;
    background: #223e4e;
    border-radius: 3px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.12);
    color: white;
    font-size: 20px;
    font-family: consolas, monospace;
    transform: translateY(20px);
    margin: auto;
  }
  .console .header {
    width: 100%;
    height: 44px;
    background: rgba(56, 133, 222, 1.0);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .console .body {
    padding: 24px 24px;
  }
}


/*----------------------------------
  Static Slides
------------------------------------*/

.slides {
  opacity: 0;
  position: relative;
  z-index: 2;

  .copy {
    position: absolute;
    width: 100%;
    bottom: 15px;
    transition: opacity 100ms ease-in;
  }
  .copy.disappear {
    opacity: 0;
  }

  .copy h2 {
    font-size: 2em;
    margin-bottom: 0.2em;
    color: rgba(255, 255, 255, 1.0);
  }
  .copy p {
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
  }

  #intro .copy {
    height: 60%;
    bottom: 35%;
  }
  #intro .copy h1 {
    margin-top: 20%;
    font-size: 4em;
    font-weight: normal;
    color: rgba(255, 255, 255, 1.0);
    opacity: 0;
  }
  #intro .copy h3 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0;
  }

  #signup .copy {
    bottom: 70px;
  }
  #signup .copy h2 {
    font-size: 2.6em;
    margin-bottom: 0.6em;
  }
  #signup .btn-default {
    color: #0272b7;
    border: 0;
  }
}


/*----------------------------------
  Fixed Diagram
------------------------------------*/

.fixed-diagram {
  z-index: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.diagram {
  height: 72%;
  padding-top: 75px;
}

.diagram .aws {
  background: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  width: 70%;
  max-width: 800px;
  height: 100%;
  border-radius: 6px;
  margin-top: 0px;
  padding: 10px 20px 0;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}
.diagram span.title {
  display: block;
  margin: 0 0 5px;
  color: rgba(255, 255, 255, 0.2);
  transition: color 600ms ease-in-out;
}

.diagram .aptible-cloud {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  padding: 10px 20px 40px;
  font-size: 1em;
  border-radius: 3px;
  color: rgb(80, 164, 239);
  transition: color 800ms ease-in-out,
    box-shadow 300ms ease-in-out;
}
.diagram .aptible-cloud.gray {
  color: rgb(204, 204, 204);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.diagram .aptible-cloud span.title {
  color: rgba(255, 255, 255, 0.4);
  transition: color 600ms ease-in-out;
}

.diagram .customer-vpc-dots {
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px dashed rgba(255,255,255,0.4);
  opacity: 0;

  transition: border-radius 800ms ease-in-out,
    width 1000ms ease-in-out, height 900ms ease-in-out,
    border 1000ms ease-in-out, margin 900ms ease-in-out,
    top 1000ms ease-in-out
}
.diagram .customer-vpc-dots.loaded {
  width: 95%;
  height: 90%;
  border: 2px dotted rgba(255,255,255,0.1);
  border-radius: 2px;
  top: 20px;
  bottom: 0px;
}

.diagram .customer-vpc {
  position: absolute;
  text-align: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid rgba(255,255,255,0.9);
  transition: border-radius 800ms ease-in-out,
    width 1000ms ease-in-out, height 900ms ease-in-out,
    border 800ms ease-in-out, background 900ms ease-in-out
}
.diagram .customer-vpc.loaded {
  width: 98%;
  height: 97%;
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0);
  background: rgba(170, 222, 237, 0.2);
}

.diagram .public {
  height: 40%;
  width: 100%;
}
.diagram .public span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 4px;
  padding: 7px 0;
  background: rgba(61, 134, 203, 1);
  color: rgba(255,255,255,1);
  width: 140px;
  margin-left: -70px;
  opacity: 0;
  z-index: 1;
}
.diagram .left,
.diagram .right {
  display: inline-block;
  height: 100%;
  padding: 3%;
  float: left;

  opacity: 0;
}
.diagram .http,
.diagram .ssh {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  top: 20px;
  transition: color 900ms ease-in-out, opacity 900ms ease-in-out;
}
.diagram .http {
  left: 24px;
}
.diagram .ssh {
  right: 24px;
}
.diagram .http.faded,
.diagram .ssh.faded {
  opacity: 0.1;
}

.diagram .left {
  width: 70%;
  border-right: 2px solid rgba(170, 222, 237, 0.2);
}
.diagram .right {
  width: 30%;
}

.diagram .load-balancer {
  width: 100%;
  height: 90%;
  margin-top: 23px;
  transition: color 900ms ease-in-out, background 600ms ease-in-out;
  opacity: 0;
}

.diagram .bastion {
  width: 100%;
  height: 90%;
  margin-top: 23px;
  transition: color 900ms ease-in-out, background 600ms ease-in-out;
  opacity: 0;
}


.diagram .load-balancer.faded,
.diagram .bastion.faded {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0);
}

/* Image fade */
.diagram .app img,
.diagram .load-balancer img,
.diagram .bastion img,
.diagram .database img {
  opacity: 1;
  transition: opacity 900ms ease-in-out
}
.diagram .app.faded img,
.diagram .load-balancer.faded img,
.diagram .bastion.faded img,
.diagram .database.faded img {
  opacity: 0;
}


.diagram .private {
  position: relative;
  height: 60%;
  width: 0%;
  background: repeating-linear-gradient(-45deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05) 6px, rgba(255,255,255,0.15) 6px, rgba(255,255,255,0.15) 12px);
  padding: 3%;
  opacity: 0;
  transition: width 1000ms cubic-bezier(.69,.63,.32,1);
}
.diagram .private.loaded {
  width: 100%;
}

.diagram .private span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 4px;
  padding: 7px 0;
  background: rgba(247, 152, 58, 1.0);
  color: rgba(255,255,255,1);
  width: 160px;
  margin-left: -80px;
  z-index: 1;
  opacity: 0;
}
.diagram .private span img {
  margin-right: 4px;
}

.diagram .app {
  width: 100%;
  height: 42%;
  margin-top: 25px;
  transition: color 900ms ease-in-out, background 600ms ease-in-out;
  opacity: 0;
}

.diagram .database {
  width: 100%;
  height: 42%;
  margin-top: 12px;
  transition: color 900ms ease-in-out, background 600ms ease-in-out;
  opacity: 0;
}

.diagram .app.faded,
.diagram .database.faded {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0);
}


/* Controls all the docker boxes */

.diagram .docker {
  text-align: center;
  background: rgba(255, 255, 255, 1);
  color: rgba(80, 164, 239, 1);
  font-weight: normal;
  font-size: 1.5em;
}
.diagram .docker img.margin-right {
  margin-right: 12px;
}
.diagram .docker img.margin-bottom {
  margin-bottom: 6px;
}



/* Just for the animation */

.diagram .loading-circle-1 {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px dashed rgba(255,255,255,0.3);
  opacity: 0;
}
.diagram .loading-circle-2 {
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px dashed rgba(255,255,255,0.7);
  color: #fff;
  opacity: 0;
}
.diagram .loading-text {
  position: absolute;
  top: 43%;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  color: #fff !important;
  opacity: 0;
}




/*----------------------------------
  Fixed Network Animation
------------------------------------*/

.network-container {
  position: fixed;
  top: 0;
  transition: color 400ms ease-in-out
}
.network-container.disappear {
  opacity: 0;
}
.network-line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  background: rgba(170, 222, 237, 0.15);
}
.network-line .active {
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(170, 222, 237, 0.5);
  transform: scaleY(0);
  transform-origin: 0% 0%;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}
.network-line .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -2px;
  top: 0%;
  border: 1px solid rgba(170, 222, 237, 1);
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}





/*----------------------------------
  Medium devices: iPad vertical
------------------------------------*/

@media (max-width: 991px) {
  .navbar .col-md-10{
    display: none;
  }


  /* fullpage.js overrides */

  #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    display: none !important;
  }
  #fp-nav.left {
    left: 10px !important;
  }
  #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    display: none !important;
  }


  /* Fixed Console  */

  .fixed-console {
    z-index: 1002;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }


  /* Static Slides */

  .slides {
    z-index: 1003;
    position: relative;
    .copy {
      bottom: 60px;
    }
    #intro .copy h1 {
      font-size: 4em;
      margin-top: 40%;
    }
    #signup .copy {
      bottom: 100px;
    }
  }


  /* Fixed Diagram */

  .fixed-diagram {
    z-index: 1001;
  }
  .diagram {
    padding-top: 100px;
  }
  .diagram .aws {
    width: 85%;
    height: 85%;
    margin: 20px auto;
    padding: 10px 10px 0;
  }
  .diagram .aptible-cloud {
    padding: 10px 0 0;
  }

  .diagram .customer-vpc-dots.loaded {
    width: 98%;
    top: 10px;
  }
  .diagram .customer-vpc.loaded {
    width: 99%;
    height: 99%;
  }

}



/*----------------------------------
  Small devices: iPhone 6+ and below
------------------------------------*/

@media (max-width: 767px) {
  body.technology {
    font-size: 10px !important;
  }

  .navbar .col-md-10{
    display: none;
  }
  header .logo {
    width: 100px;
  }


  /* fullpage.js overrides */

  #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    display: none !important;
  }
  #fp-nav.left {
    left: 0 !important;
  }
  #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    display: none !important;
  }


  /* Fixed Console */

  .fixed-console {
    z-index: 1;
    position: fixed;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    .console .base {
      width: 85%;
      font-size: 1.2em;
    }
    .console .base .header {
      height: 26px;
    }
    .console .base .body {
      padding: 12px;
    }
  }


  /* Static Slides */

  .slides {
    z-index: 2;
    position: relative;
    .copy {
      bottom: 0;
    }
    .copy h2 {
      font-size: 1.6em;
      margin: 4px 0 4px;
    }
    .copy p {
      font-size: 1.2em;
      margin-bottom: 6px;
      line-height: 1.3;
    }

    #intro .copy h1 {
      font-size: 3em;
      margin-top: 35%;
    }

    #signup .copy {
      bottom: 40px;
    }
    #signup .copy h2 {
      font-size: 2em;
      margin-bottom: 0.4em;
    }
    #signup .btn {
      width: auto;
      height: auto;
      padding: 6px 10px;
      font-size: 1em;
    }
  }


  /* Fixed Diagram */

  .fixed-diagram {
    z-index: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }

  .diagram {
    font-size: 1em;
    height: 75%;
    padding-top: 30px;
  }
  .diagram .aws {
    width: 85%;
    height: 85%;
    margin: 20px auto;
    padding: 6px 6px 0;
  }
  .diagram span.title {
    font-size: 8px;
    margin: 0 0 2px;
  }
  .diagram .aptible-cloud {
    font-size: 0.8em;
    padding: 6px 0 0;
  }
  .diagram .public span,
  .diagram .private span {
    top: 2px;
    width: 100px;
    padding: 4px 0;
    font-size: 0.9em;
    margin-left: -50px;
  }
  .diagram .private span {
    width: 120px;
    margin-left: -60px;
  }
  .diagram .private span img {
    width: 12px;
    height: 12px;
  }

  .diagram .http,
  .diagram .ssh {
    font-size: 0.7em;
    top: 10px;
  }
  .diagram .http {
    left: 7px;
  }
  .diagram .ssh {
    right: 7px;
  }

  .diagram .customer-vpc-dots.loaded {
    width: 96%;
    top: 6px;
  }

  .diagram .customer-vpc {
    width: 190px;
    height: 190px;
  }
  .diagram .customer-vpc.loaded {
    width: 99%;
    height: 99%;
  }

  .diagram .left {
    width: 65%;
  }
  .diagram .load-balancer {
    height: 80%;
    margin-top: 18px;
  }
  .diagram .right {
    width: 35%;
  }
  .diagram .bastion {
    height: 80%;
    margin-top: 18px;
  }

  .diagram .app {
    margin-top: 18px;
  }
  .diagram .database {
    margin-top: 4px;
  }


  .diagram .docker {
    font-size: 1em;
  }
  .diagram .app img,
  .diagram .load-balancer img,
  .diagram .bastion img,
  .diagram .database img {
    width: 20px;
    height: 20px;
  }
  .diagram .docker img.margin-right {
    margin-right: 3px;
  }
  .diagram .docker img.margin-bottom {
    margin-bottom: 3px;
  }

  .diagram .loading-circle-1 {
    width: 140px;
    height: 140px;
  }
  .diagram .loading-circle-2 {
    width: 170px;
    height: 170px;
  }
  .diagram .customer-vpc-dots {
    width: 220px;
    height: 220px;
  }

}


/*----------------------------------
  iPhone 6 & 6+ specific text bump
------------------------------------*/

@media (max-width: 991px) and (max-height: 736px) and (min-height: 481px) {

  .slides {
    .copy {
      bottom: 24px;
    }
    .copy h2 {
      font-size: 2.2em;
      margin: 6px 0 6px;
    }
    #signup .copy {
      bottom: 50px
    }
    #signup .copy h2 {
      font-size: 2.4em;
      margin-bottom: 0.6em;
    }
  }

  .diagram {
    padding-top: 40px;
  }

}



