---
title: Legal
layout: application.hbs
section: Support
---

<div class="row-section">
  <div class="legal-index">
    <div class="row section">
      <div class="col-sm-12">
        {{> legal_index}}
      </div>
    </div>
  </div>
</div>
