- title ||= 'Get your app deployed in minutes.'
- cta_label ||= 'Deploy Now'
.content.hero-gradient--angled.aptible-header--bottom-grid
  .footer__signup.grid-container.grid--single-center
    .footer__signup__hgroup
      %h2.title.white= title
      %h3.subtitle.footer__signup-subtitle
        Security as easy as <code>git push</code>
    .footer__signup-form
      = partial 'partials/ctas/signup-cta', locals: { |
            class_name: 'signup-cta--centered',       |
            cta_label: cta_label,                     |
            cta_placeholder: 'Enter your work email'  |
          }                                           |
