- title ||= 'Get your app deployed in minutes.'
.content.hero-gradient--angled.aptible-header--bottom-grid
  .footer__signup.grid-container.grid--single-center
    .footer__signup__hgroup
      %h3.footer__signup-title= title
      .footer__signup-subtitle
        Security as easy as <code>git push</code>
    .footer__signup-form
      = partial 'partials/ctas/signup-cta', locals: { |
            cta_label: 'Get Started',                 |
            cta_placeholder: 'Enter your work email'  |
          }                                           |
      = partial 'partials/signup-demo-request'
