%header.aptible-header.hero-gradient--angled
  = partial 'partials/main-nav', locals: {   |
      section_title: 'Blog',                 |
      section_url: '/blog'                   |
    }                                        |

  .grid-container
    .blog-post__heading
      .heading__subtitle= page_subtitle
      %h1.heading__title= page_title
      %h2.heading__summary= page_summary
