%header.blog-header
  %h1.blog-header__title
    %a{ href: '/changelog/' } Changelog
  %a.follow-invite.follow-invite--twitter{ href: 'http://twitter.com/aptible', rel: 'noopener noreferrer', target: '_blank' }
    Follow @aptible on Twitter
    = partial 'partials/social/twitter'
