%header.aptible-header.aptible-header--with-breadcrumbs.hero-gradient--angled.aptible-header--single-grid
  -# .aptible-header__top-grid= partial 'images/header-top-grid.svg'
  = partial 'partials/main-nav', locals: {      |
      nav_items: 'partials/support/nav-items',  |
      section_title: 'Support',                 |
      section_url: '/support'                   |
    }                                           |
