%header.aptible-header.aptible-header--with-breadcrumbs.hero-gradient--angled
  = partial 'partials/main-nav', locals: {      |
      nav_items: 'partials/support/nav-items',  |
      section_title: 'Support',                 |
      section_url: '/support'                   |
    }                                           |
