%header.aptible-header.hero-gradient--angled.aptible-header--with-breadcrumbs
  = partial 'partials/main-nav', locals: {      |
      nav_items: 'partials/support/nav-items',  |
      signup: 'link'                            |
    }                                           |
