%header.aptible-header.hero-gradient--angled
  = partial 'partials/main-nav', locals: {      |
      nav_items: 'partials/support/nav-items',  |
      section_title: 'Support',                 |
      section_url: '/support'                   |
    }                                           |

  .grid-container
    %h1.heading__title--centered= current_page.data.header_title || 'Aptible Support'
    %h2.heading__subtitle--centered= current_page.data.header_subtitle || 'How can we help?'
    - if current_page.data.header_search
      .search-bar
        %form#search-form.search-bar__form{ action: '/support/search/index.html', method: 'GET' }
          %input.st-default-search-input.search-bar__input{           |
            name: 'search',                                           |
            placeholder: 'Search all Topics and Quick Start Guides',  |
            type: 'text'                                              |
          }                                                           |
          %button.search-bar__submit{ type: 'submit', value: '' }
