%header.aptible-header.aptible-header--with-breadcrumbs.hero-header.hero-header--support.hero-gradient--angled
  .nav--flex.nav--header.grid-container
    = partial 'partials/aptible-mark'

    %h2.aptible-mark__title Support

    = partial 'partials/support/navigation'

    = partial 'partials/headers/login-signup'
