%header.aptible-header.aptible-header--with-breadcrumbs.hero-header.hero-header--support.hero-gradient--angled
  .nav--flex.nav--header.grid-container
    = partial 'partials/aptible-mark'

    %h2.aptible-mark__title Support

    %nav.nav-list.nav-list--center
      %a.nav-item{ href: '/support/quickstart/' } Getting Started
      %a.nav-item{ href: '/support/toolbelt/' } Toolbelt
      %a.nav-item{ href: '/support/topics/' } Topics
      %a.nav-item{ href: '/support/topics/' }= partial 'images/icons/search-loop.svg'

    %nav.nav-list.nav-list--right
      %a.nav-item Login
      %button.nav-item.btn Sign Up
